// Mac
html.platform-osx #app-mount {
	.guilds-2JjMmN {
		margin-top: 0;
		.tutorialContainer-2sGCg9 .listItem-2P_4kh,
		.tutorialContainer-2sGCg9 .listItem-GuPuDH {
			top: -1px;
		}
	}
}

// Linux
html.platform-linux {
	--titlebar-height: 0px;
	#guild-header-popout {
		top: var(--toolbar-height) !important;
	}
}
