// Mac
html.platform-osx #app-mount {
  .guilds-1SWlCJ {
    margin-top: 0;
    .tutorialContainer-1v44GL .listItem-2P_4kh {
      top: -1px;
    }
  }
}

// Linux

html.platform-linux {
  --titlebar-height:0px;
  #guild-header-popout {
    top:var(--toolbar-height) !important;
  }
}