:root {
  --icon: var(--server-icon-size, var(--ASW_size, 35px));
  --container: calc(var(--icon) + calc(var(--server-container-padding) * 2));
}

.guilds__2b93a {
  width: var(--container);
}
.guilds__2b93a .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
.guilds__2b93a [role=group] {
  height: auto !important;
}
.guilds__2b93a .placeholderMask-3K9THS {
  width: var(--icon);
  height: var(--icon);
}
.guilds__2b93a .listItem__48528 {
  width: var(--container);
  margin-bottom: var(--server-icon-spacing);
}
.guilds__2b93a .scrollerBase_f742b2 > div[style]:not(.listItem__48528):not([style*=absolute]) {
  height: calc(var(--icon) + var(--server-icon-spacing)) !important;
}
.guilds__2b93a [class*=pill] {
  height: calc(var(--icon) - 8px);
  top: 50%;
  transform: translateY(-50%);
}
.guilds__2b93a [class*=pill] span {
  height: 100% !important;
  transition: 0.1s ease !important;
  transform: scale(1, 0) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.25) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.5) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
.guilds__2b93a [class*=unreadMentionsIndicator] {
  width: 100%;
}
.guilds__2b93a .guildsError-b7zR5H,
.guilds__2b93a .svg__34dd4,
.guilds__2b93a .wrapper__9916c {
  width: var(--icon);
  height: var(--icon);
}
.guilds__2b93a .iconBadge-2NuvG9 {
  border-radius: 50%;
  height: calc(var(--icon) / 3);
  width: calc(var(--icon) / 3);
}
.guilds__2b93a .wrapper__832f2 {
  width: var(--container);
}
.guilds__2b93a .wrapper__832f2 .folder__17546,
.guilds__2b93a .wrapper__832f2 .folderIconWrapper__11165 {
  background: transparent;
}
.guilds__2b93a .wrapper__832f2 .expandedFolderBackground_b1385f {
  left: 50%;
  transform: translateX(-50%);
  width: var(--server-icon-size);
}
