/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.1.6
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/Slate
 * @website https://gibbu.github.io/BetterDiscord-Themes/Slate/
*/

/*       _____                    _____
         /\    \                  /\    \          /\    \              /\    \                  /\    \
        /::\    \                /::\____\        /::\    \            /::\    \                /::\    \
       /::::\    \              /:::/    /       /::::\    \           \:::\    \              /::::\    \
      /::::::\    \            /:::/    /       /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \          /:::/    /       /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \           \:::\    \        /:::/__\:::\    \
    \:::\   \:::\    \      /:::/    /       /::::\   \:::\    \          /::::\    \      /::::\   \:::\    \
  ___\:::\   \:::\    \    /:::/    /       /::::::\   \:::\    \        /::::::\    \    /::::::\   \:::\    \
 /\   \:::\   \:::\    \  /:::/    /       /:::/\:::\   \:::\    \      /:::/\:::\    \  /:::/\:::\   \:::\    \
/::\   \:::\   \:::\____\/:::/____/       /:::/  \:::\   \:::\____\    /:::/  \:::\____\/:::/__\:::\   \:::\____\
\:::\   \:::\   \::/    /\:::\    \       \::/    \:::\  /:::/    /   /:::/    \::/    /\:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/  \:::\    \       \/____/ \:::\/:::/    /   /:::/    / \/____/  \:::\   \:::\   \/____/
  \:::\   \:::\    \       \:::\    \               \::::::/    /   /:::/    /            \:::\   \:::\    \
   \:::\   \:::\____\       \:::\    \               \::::/    /   /:::/    /              \:::\   \:::\____\
    \:::\  /:::/    /        \:::\    \              /:::/    /    \::/    /                \:::\   \::/    /
     \:::\/:::/    /          \:::\    \            /:::/    /      \/____/                  \:::\   \/____/
      \::::::/    /            \:::\    \          /:::/    /                                 \:::\    \
       \::::/    /              \:::\____\        /:::/    /                                   \:::\____\
        \::/    /                \::/    /        \::/    /                                     \::/    /
         \/____/                  \/____/          \/____/                                       \/____/

====================================================================================
    Please view the full documentation at https://github.com/GibbuPCStuff/Slate
====================================================================================
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://gibbu.github.io/BetterDiscord-Themes/Slate/base.css");
@import url("https://discordmodthemes.github.io/Slate/base.css");

/*
====================================================================================
                                  Basic Variables
====================================================================================
*/

/*A full list of variables and their uses can be found in the documentation above.*/

:root {
  /*Primary Colors*/
  --accent: 3, 102, 214;
  --link-colour: 48, 144, 255;

  /*Server List*/
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/

