#app-mount .goosemod-settings-injected .goosemod-settings-sidebar .item-PXvHYJ {
  display: flex;
  align-items: center;
  &.selected-3s45Ha:before {
    background:currentColor;
  }
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--text-muted);
    display: block;
    margin-right: var(--spacing);
    -webkit-mask:url($icon_cog) center/cover no-repeat;
  }

  &[style*="240, 71, 71"]:before {
    background: rgba(var(--status-red), 1);
  }

  &:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):before {
    mask: url($icon_cog) center/cover no-repeat;
  }

  // Manage Modules
  &:nth-child(2):before {
    mask: url($icon_tools) center/cover no-repeat;
  }
  // Module Store
  &:nth-child(3):before {
    mask: url($icon_tag) center/cover no-repeat;
  }
  // Uninstall
  &:nth-child(4):before {
    mask: url($icon_trashcan) center/cover no-repeat;
  }
}