#app-mount .chat-3bRxxu {
  background: var(--background-alt);

  // Prevent Y-Overflow
  .scroller-2LSbBU {
    overflow-x:hidden !important;
  }

  // Message spacing
  .scrollerSpacer-avRLaA {
    display: none;
  }

  // Old messages
  .jumpToPresentBar-G1R9s6 {
    opacity: 1;
    left: calc(var(--spacing) - 2px);
    bottom:0;
    border-radius: 0;
    min-height: auto;
    background: var(--background);
    padding:0;
    cursor:default;
    position:absolute;
    z-index:10;
    box-shadow:var(--elevation-1);
    width:fit-content;
    .barButtonMain-3K-jeJ {
      display:none;
    }
    .barButtonAlt-mYL1lj {
      font-size:var(--font-size-sm);
      color:var(--text-normal);
      font-weight:var(--font-weight);
      padding:0 var(--spacing);
      border: 1px solid var(--base-border);
      border-bottom:none;
      cursor:default;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      &:hover {
        background:var(--background-modifier-hover);
      }
      &:active {
        background:var(--background-modifier-active);
      }
      & > svg {
        display: none;
      }
    }
    &:active {
      margin:0;
    }
  }

  // New messages
  .newMessagesBar-265mhP {
    left: 0;
    right: 0;
    border-radius: 0;
    background: var(--background-light);
    border-bottom: 1px solid var(--base-border);
    box-shadow: none;
    opacity: 1;
    padding: var(--spacing-third) var(--spacing);
    min-height: auto;
    cursor: default;
    button {
      cursor:default;
      &.barButtonMain-3K-jeJ {
        color:var(--text-normal);
        font-size:var(--font-size);
        padding:0;
        font-weight:var(--font-weight-semibold);
        pointer-events:none;
      }
      .barButtonIcon-3t4V3d {
        display:none;
      }
    }
  }

  // Load more messages
  .hasMore-3e72_v {
    margin: 0;
    box-shadow: none;
    background: var(--background);
    border-top: 1px solid var(--base-border);
    border-bottom: 1px solid var(--base-border);
    border-radius: 0;
  }

  // Message Error Load
  .messagesErrorBar-nyJGU7 {
    opacity:1;
    position:absolute;
    top:50%;
    left:50%;
    flex-direction:column;
    background:var(--background);
    border-radius:var(--border-radius);
    box-shadow:var(--elevation-1);
    border:1px solid var(--base-border);
    height:fit-content;
    width:340px;
    height:290px;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:var(--spacing-double);
    pointer-events:none;
    margin-left:-170px;
    margin-top:-145px;
    animation:modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .barButtonMain-3K-jeJ {
      font-size:0;
      padding:0;
      overflow:visible;
      margin:var(--spacing) 0;
      height:auto;
      line-height:normal;
      &:after {
        content:'Uh oh.';
        font-size:var(--font-size-xxl);
        font-weight:var(--font-weight-light);
        color:var(--text-normal);
      }
    }
    &:before {
      content:'';
      width:100px;
      height:100px;
      background:var(--text-muted);
      -webkit-mask:url($illustration_1) center/contain no-repeat;
      margin-bottom:var(--spacing);
    }
    &:after {
      content:'There was a problem loading messages for this channel. Make sure you have a stable internet connection, then try agian.';
      font-size:var(--font-size);
      color:var(--text-muted);
      text-transform:none;
      text-align:center;
      line-height:normal;
      margin-bottom:var(--spacing);
    }
  }
  .messagesErrorBar-nyJGU7 .barButtonAlt-mYL1lj,
  .newMessagesBar-265mhP .barButtonAlt-mYL1lj,
  .messagesErrorBar-nyJGU7 .spinner-1AwyAQ,
  .newMessagesBar-265mhP .spinner-1AwyAQ {
    order:1;
    pointer-events:all;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    cursor: default;
    min-height: var(--input-height);
    height: var(--input-height);
    line-height: normal;
    transition: none;
    padding: 0 var(--spacing);
    border-radius: var(--button-border-radius);
    color: var(--white);
    background-color: rgb(var(--accent));
    &:hover {
      box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
    }
  }
}

#app-mount .messagesWrapper-1sRNjr {
  background: var(--background-alt);
  z-index:1;
  .scrollerSpacer-1Rp0XE {
    height: 0;
  }
  
  // Welcome Message
  .container-3RCQyg {
    padding:var(--spacing-triple);
    margin:0;
    justify-content:center;
    flex-grow:1;
    border:none;
    h1 {
      margin:0;
      margin-bottom:var(--spacing);
      font-size:var(--font-size-xxl);
      font-weight:var(--font-weight-light);
      color:var(--text-normal);
      max-width:calc(100% - var(--avatar-size-xl) - var(--spacing-double) - var(--spacing));
    }
    .description-1sDbzZ {
      color:var(--text-muted);
      font-size:var(--font-size);
      font-weight:var(--font-weight-normal);
      max-width:calc(100% - var(--avatar-size-xl) - var(--spacing-double) - var(--spacing));
      user-select:text;
    }
    .wrapper-3t9DeA {
      width:var(--avatar-size-xl) !important;
      height:var(--avatar-size-xl) !important;
      position:absolute;
      right:var(--spacing-double);
    }
    .emptyChannelIcon-cc932w {
      background:url($illustration_7) center/cover no-repeat;
      border-radius:0;
      position:absolute;
      margin:0;
      right:var(--spacing-triple);
      height:72px;
      width:72px;
    }
    .button-2OOM0p {
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);
      cursor: default;
      min-height: var(--input-height);
      height: var(--input-height);
      line-height: normal;
      transition: none;
      padding: 0 var(--spacing);
      border-radius: var(--button-border-radius);
      text-decoration:none;
      display:inline-flex;
      align-items:center;
      text-transform:capitalize;
      color: var(--white);
      background-color: rgb(var(--accent));
      margin-top:var(--spacing-half);
      &:hover {
        box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
      }
      &:focus {
        box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
      }
    }
  }

  .container-3zqIcM {
    padding: var(--spacing-double) var(--spacing-double) 0;
    padding-top:calc(var(--spacing) * 6);
    .hasDivider-20M1le {
      border:none;
    }
    .inner-3GZ54g {
      max-width:600px;
      width:100%;
      &:before {
        content:'';
        width:90%;
        height:200px;
        background:var(--text-muted);
        mask: url($illustration_3) center/contain no-repeat;
        margin-bottom:var(--spacing);
      }
      .titleName-3-Lp3Z {
        font-size:var(--font-size-xxl);
        font-weight:var(--font-weight-light);
        line-height:1.5;
        color:var(--text-normal);
        p:first-child {
          display:none;
        }
      }
      .subtitle-2UIIw0 {
        margin:0;
      }
      .cardWrapper-2R6-SX {
        .card-3RzMcx {
          margin:0;
          border-radius:0;
          background:transparent;
          border:1px solid var(--base-border);
          border-top:none;
          padding:var(--spacing-double);
          cursor:default;
          .arrow-3bRNiS {
            color:var(--text-muted);
          }
          &:hover .arrow-3bRNiS {
            color:var(--text-normal);
          }
          .checkmark-3rush5 {
            background:transparent;
            padding:0;
            color:rgb(var(--status-green));
          }
          .icon-2ou77m {
            display:none;
          }
          .cardHeader-2Wz67Q {
            margin:0;
            font-size:var(--font-size);
            font-weight:var(--font-weight-semibold);
          }
        }
        &:nth-child(2) .card-3RzMcx {
          border-top:1px solid var(--base-border);
          border-radius:3px 3px 0 0;
          margin-top:var(--spacing-double);
        }
        &:last-child .card-3RzMcx {
          border-radius:0 0 3px 3px;
        }
      }
    }
  }
}



// .scrollerInner-2YIMLh > .message-2qnXI6 {
//   display: none;
// }