#app-mount {
  // General Messages
  .group-spacing-16 .groupStart-23k01U {
    margin: 0;
  }
  .wrapper-2a6GCs {
    background: transparent !important;
    min-height: unset;
    &.groupStart-23k01U {
      border-top: 1px solid var(--base-border);
      min-height: auto;
      &.cozy-3raOZG {
        padding-top: var(--spacing);
      }
      &.compact-T3H92H {
        margin-top: 0;
      }
    }
    .username-1A8OIy {
      font-size: var(--font-size);
      color: var(--text-normal);
      font-weight: var(--font-weight-semibold);
      line-height: normal;
      margin: 0;
    }
    .markup-2BOw-j {
      font-size: var(--font-size);
      margin-left: 0;
      padding-left: 0;
      line-height: var(--line-height);
      font-weight: var(--font-weight-normal);
    }
    &.mentioned-xhSam7 {
      background: rgba(var(--accent), 0.1) !important;
      & + .message-2qnXI6:not(.groupStart-23k01U) {
        margin-top: 0;
        padding-top: 0;
      }
      &:not(:nth-last-child(2)) {
        padding-bottom: 4px;
      }
      &:before {
        background-color: var(--accent-solid);
      }
      .mention {
        background: transparent;
        &:hover {
          color: var(--text-normal);
        }
      }
    }
    & + .message-2qnXI6:not(.groupStart-23k01U) {
      margin-top: calc(var(--spacing) / -1);
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: calc(var(--spacing) + 5px);
    }

    // Bot Tag
    .botTag-2WPJ74 {
      font-size: 0;
      padding: 0;
      height: auto;
      width: auto;
      background-color: var(--background-modifier-active);
      border-radius: var(--border-radius);
      &.botTagCozy-1fFsZk {
        margin: 0 var(--spacing-third);
        margin-right: 0;
        margin-top: 0;
        vertical-align: unset;
        top: 0;
      }
      .botTagVerified-1klIIt {
        display: none;
      }
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        mask: url($icon_cog) center/12px no-repeat;
        background: var(--text-normal);
      }
    }

    // Timestamps
    .timestamp-3ZCmNB,
    .timestamp-1E3uAL {
      color: var(--text-muted);
      font-size: var(--font-size-xsm);
      margin-left: var(--spacing-half);
      font-weight: var(--font-weight-semibold);
      height: auto;
      line-height: normal;
      top: var(--spacing-third);
      &.latin24CompactTimeStamp-2V7XIQ {
        width: auto;
      }
      &.alt-1uNpEt {
        font-size: var(--font-size-xsm);
        height: auto;
        width: 40px;
        text-align: center;
      }
    }

    // Edit Messages
    .contents-2mQqc9 .scrollableContainer-2NUZem.webkit-HjD9Er {
      padding: 0;
      .markup-2BOw-j {
        padding: 4px var(--spacing-half) 0;
      }
    }
    .edited-3sfAzf {
      color: var(--text-muted);
      font-size: var(--font-size-xsm);
      cursor: var(--cursor);
    }
    .operations-36ENbA {
      font-size: 0;
      margin-top: var(--spacing-half);
      padding: var(--spacing-half) 0;
      a {
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
        cursor: var(--cursor);
        min-height: var(--input-height);
        height: var(--input-height);
        line-height: normal;
        transition: none;
        padding: 0 var(--spacing);
        border-radius: var(--button-border-radius);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        text-transform: capitalize;
        &:last-child {
          color: var(--white);
          background-color: rgb(var(--accent));
          margin-left: var(--spacing);
          &:hover {
            box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
          }
          &:focus {
            box-shadow: 0 0 0 2px rgba(var(--accent), 0.25),
              inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
          }
        }
        &:first-child {
          color: var(--text-normal);
          background: var(--background-light);
          border: 1px solid var(--base-border);
          cursor: var(--cursor);
          &:hover {
            border: 1px solid currentColor;
          }
          &:focus {
            box-shadow: 0 0 0 1px currentColor !important;
            border: 1px solid currentColor !important;
          }
        }
      }
    }

    // Cozy
    &.cozy-3raOZG {
      margin: 0;
      padding-left: calc(var(--avatar-size) + var(--spacing) * 2);
      padding-bottom: var(--spacing);
      .container-1ov-mD {
        max-width: 100%;
      }
      .header-23xsNx {
        align-items: center;
        display: flex;
        min-height: unset;
      }
      .headerText-3Uvj1Y {
        display: flex;
        margin: 0;
      }
      .avatar-1BDn8e {
        border-radius: var(--avatar-radius) !important;
        box-shadow: 0 0 0 0.875px var(--base-border);
        margin: 0;
        top: var(--spacing);
        left: var(--spacing);
        width: var(--avatar-size) !important;
        height: var(--avatar-size) !important;
        transition: 100ms ease box-shadow;
        background-color: var(--background);
        position: absolute;
        overflow: hidden !important;
        cursor: var(--cursor);
        filter: none;
        transform: none;
        &:hover {
          box-shadow: 0 0 0 1px var(--accent-solid);
        }
        &[src*="/assets/"] {
          content: url($blank);
          + .header-23xsNx + .messageContent-2qWWxC::after {
            content: "";
            top: var(--spacing);
            left: var(--spacing);
            width: var(--avatar-size);
            height: var(--avatar-size);
            background: var(--text-muted);
            mask: url($icon_person) center/40% no-repeat;
            position: absolute;
            z-index: 1;
            pointer-events: none;
          }
        }
      }
      .wrapper-3t9DeA {
        width: var(--avatar-size) !important;
        height: var(--avatar-size) !important;
        foreignObject:after {
          content: none;
        }
        img {
          border-radius: 0;
          clip-path: none;
        }
      }
      .emoji {
        width: calc(var(--font-size) * 1.6);
        height: calc(var(--font-size) * 1.6);
        &.jumboable {
          width: calc(var(--font-size) * 4);
          height: calc(var(--font-size) * 4);
        }
      }
      .emotewrapper {
        &:hover::after {
          content: "";
          width: 16px;
          height: 16px;
          top: -7px;
          right: -7px;
          background: var(--background);
          border: 1px solid var(--base-border);
          border-radius: 50%;
          position: absolute;
          box-sizing: border-box;
        }
        .fav {
          position: absolute;
          width: 16px;
          height: 16px;
          top: -7px;
          right: -7px;
          mask: url($icon_star) center/70% no-repeat;
          background: var(--text-muted);
          z-index: 1;
          padding: 0;
          box-sizing: border-box;
          border: 1px solid var(--base-border);
          border-radius: 50%;
          &:hover {
            background: var(--text-normal);
          }
          &.active {
            background: rgb(var(--status-yellow));
            mask: url($icon_star_filled) center/70% no-repeat;
          }
        }
      }
    }
  }

  // Compact
  .compact-T3H92H {
    padding: var(--spacing-half) 0;
    padding-left: 70px !important;
    .contents-2mQqc9 {
      padding-left: 0;
      margin: 0;
      overflow: visible !important;
    }
    .emoji {
      width: calc(var(--font-size) * 1.6);
      height: calc(var(--font-size) * 1.6);
      &.jumboable {
        width: calc(var(--font-size) * 2);
        height: calc(var(--font-size) * 2);
      }
    }
  }

  // System Messages
  .expanded-13sWhZ {
    background: rgba(var(--status-red), 0.1);
    border-left: 2px solid rgb(var(--status-red));
  }
  .blockedSystemMessage-2Rk1ek .blockedMessageText-1fRjos {
    position: relative;
    top: 3px;
  }
  .blockedIcon-IrnkVA {
    position: relative;
    top: 2px;
  }
  .systemMessage-1I9LCe,
  .blockedSystemMessage-2Rk1ek {
    &.compact-T3H92H {
      padding-left: calc(10px + var(--spacing-double)) !important;
    }
    .content-2M3n_H {
      font-size: var(--font-size);
      color: var(--text-muted);
      font-weight: var(--font-weight-normal);
      line-height: normal;
      display: flex;
      align-items: center;
      a {
        color: var(--text-normal);
      }
    }
    .container-3-pyIM {
      padding: var(--spacing-third) 0;
    }
    .iconContainer-3GkGRf {
      margin: 0;
      padding: 0;
      width: calc(var(--avatar-size) + var(--spacing) * 2);
      margin-top: 1px;
      .iconSize-2tmqqh {
        background-size: cover;
        width: var(--font-size-md);
        height: var(--font-size-md);
      }
      .blockedIcon-IrnkVA {
        background: var(--text-muted);
        -webkit-mask: url($icon_close) center/12px no-repeat;
        path {
          display: none;
        }
      }
    }
    .blockedAction-2ZyU8z {
      color: var(--text-link);
    }
  }
  .localBot-GrCgVt {
    background: rgba(var(--accent), 0.1) !important;
    &.cozyMessage-3V1Y8y {
      &:after {
        content: "";
        border-radius: calc(var(--border-radius) / 1.5);
        box-shadow: 0 0 0 0.875px var(--base-border);
        top: var(--spacing);
        left: var(--spacing);
        width: var(--avatar-size);
        height: var(--avatar-size);
        background: var(--background-light);
        position: absolute;
        pointer-events: none;
      }
    }
    .botTagRegular-2HEhHi {
      display: none;
    }
    .avatar-1BDn8e {
      opacity: 0;
    }
    &:before {
      background: var(--accent-solid);
    }
    .container-1ov-mD {
      display: block;
      padding: 0 !important;
      .localBotMessage-3cUzun {
        margin: 0;
        font-size: 0;
        a {
          font-size: var(--font-size);
          font-weight: var(--font-weight-normal);
          cursor: var(--cursor);
          min-height: var(--input-height);
          height: var(--input-height);
          line-height: normal;
          transition: none;
          padding: 0 var(--spacing);
          border-radius: var(--button-border-radius);
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          text-transform: capitalize;
          color: var(--white);
          background-color: rgb(var(--accent));
          margin-top: var(--spacing-half);
          &:hover {
            box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
          }
          &:focus {
            box-shadow: 0 0 0 2px rgba(var(--accent), 0.25),
              inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  // Quick actions
  .wrapper-2aW0bm {
    background: var(--background);
    box-shadow: none;
    height: 24px;
    top: 4px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
  }
  .separator-42rNt0 {
    display: none;
  }
  .container-3npvBV {
    top: -17px;
    .button-1ZiXG9 {
      height: 100%;
      padding: 0;
      width: auto;
      color: var(--text-normal);
      border-radius: 0;
      cursor: var(--cursor);
      box-sizing: border-box;
      border-top: 1px solid var(--base-border);
      border-bottom: 1px solid var(--base-border);
      &:hover {
        background: var(--background-modifier-hover);
      }
      &:active {
        background: var(--background-modifier-active);
      }
      &.selected-LCBEAU {
        color: var(--white);
        background: var(--accent-solid);
      }
      &:first-child {
        border-left: 1px solid var(--base-border);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
      &:last-child {
        border-right: 1px solid var(--base-border);
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
      &:only-child {
        border-radius: var(--border-radius);
      }
      .icon-3Gkjwa {
        width: 14px;
        height: 14px;
        path {
          &[d="M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z"] {
            d: path($path_kebab_horizontal);
            transform: scale(1.275) translateX(3px) translateY(2px);
          }
          &[d="M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z"] {
            d: path($path_pencil);
            transform: scale(1.275) translateX(2.5px) translateY(1px);
          }
          &[d="M12.2512 2.00309C12.1677 2.00104 12.084 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.916 21.999 11.8323 21.9969 11.7488C21.3586 11.9128 20.6895 12 20 12C15.5817 12 12 8.41828 12 4C12 3.31052 12.0872 2.6414 12.2512 2.00309ZM10 8C10 6.896 9.104 6 8 6C6.896 6 6 6.896 6 8C6 9.105 6.896 10 8 10C9.104 10 10 9.105 10 8ZM12 19C15.14 19 18 16.617 18 14V13H6V14C6 16.617 8.86 19 12 19Z"] {
            d: path($path_smile);
            transform: scale(1.275) translateX(2px) translateY(1px);
            + path {
              display: none;
            }
          }
        }
      }
    }
  }

  // Attachments
  .zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: visible;
  }
  .attachment-33OFj0 {
    border: 1px solid var(--base-border);
    background-color: var(--background);
    overflow: hidden;
    padding: 0;
    .icon-1kp3fr {
      margin-left: var(--spacing);
      width: 24px;
      margin-right: 0;
    }
    & > .anchor-3Z-8Bb {
      height: 51px;
      display: flex;
      align-items: center;
      padding: 0 var(--spacing-half);
      border-left: 1px solid var(--base-border);
      svg {
        color: var(--text-muted);
        opacity: 1;
        margin-left: 0;
      }
      &:hover svg {
        color: var(--text-normal);
      }
    }
  }
  .attachmentInner-3vEpKt {
    padding: var(--spacing);
  }
  .wrapper-35wsBm {
    border: 1px solid var(--base-border);
    background-color: var(--background);
    padding: var(--spacing);
    h5 {
      margin-bottom: var(--spacing);
    }
    .guildIconImage-3qTk45 {
      border-radius: var(--border-radius);
      box-shadow: inset 0 0 0 1px var(--base-border);
      width: var(--avatar-size-lg);
      height: var(--avatar-size-lg);
      margin-right: var(--spacing);
    }
    .guildName-2hvnt_ {
      font-size: var(--font-size-md);
    }
    .count-30T-5k {
      font-size: var(--font-size);
    }
  }
  .wrapperAudio-1jDe0Q {
    background: var(--background);
    border: 1px solid var(--base-border);
    padding: 0;
  }
  .audioMetadata-3zOuGv:before {
    height: 56px;
    background-position: center;
    background-size: 24px;
    padding: 0 var(--spacing);
  }
  .metadataContent-3c_ZXw {
    padding: var(--spacing);
  }
  .metadataDownload-1fk90V {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-half);
    border-left: 1px solid var(--base-border);
    svg {
      color: var(--text-muted);
      opacity: 1;
    }
    &:hover svg {
      color: var(--text-normal);
    }
  }
  .audioControls-2HsaU6 {
    border-top: 1px solid var(--base-border);
    border-radius: 0;
    background: transparent;
    margin-top: 0;
  }
  .imageWrapper-2p5ogY {
    border-radius: var(--border-radius);
    outline: none;
    transition: 250ms ease;
  }

  // Embeds
  .embedImage-2W1cML img,
  .embedImage-2W1cML video,
  .embedThumbnail-2Y84-K img,
  .embedThumbnail-2Y84-K video,
  .embedVideo-3nf0O9 img,
  .embedVideo-3nf0O9 video {
    border-radius: var(--border-radius);
  }
  .embedFull-2tM8-- {
    background-color: var(--background);
    border-top: 1px solid var(--base-border) !important;
    border-right: 1px solid var(--base-border) !important;
    border-bottom: 1px solid var(--base-border) !important;
    border-radius: var(--border-radius);
    .grid-1nZz7S {
      padding: var(--spacing);
      > div:first-child,
      .embedSuppressButton-1FonMn + div {
        margin: 0;
      }
    }
    .embedProvider-3k5pfl {
      font-size: var(--font-size-sm);
      color: var(--text-muted);
    }
    .embedAuthorNameLink-1gVryT {
      font-size: var(--font-size);
      color: var(--text-normal);
      font-weight: var(--font-weight-semibold);
    }
    .embedTitle-3OXDkz,
    .embedAuthorName-3mnTWj {
      font-size: var(--font-size);
      font-weight: var(--font-weight-semibold);
    }
    .embedMargin-UO5XwE {
      margin-top: var(--spacing-half);
    }
    .embedAuthorIcon--1zR3L {
      margin-right: var(--spacing-half);
      width: var(--avatar-size-xsm);
      height: var(--avatar-size-xsm);
      border-radius: var(--border-radius);
    }
    .embedDescription-1Cuq9a,
    .embedFieldName-NFrena,
    .embedFieldValue-nELq2s {
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);
      color: var(--text-normal);
    }
    .embedFieldName-NFrena {
      font-weight: var(--font-weight-semibold);
    }
    .embedAuthorName-3mnTWj,
    .embedFieldName-NFrena,
    .embedTitle-3OXDkz {
      color: var(--text-normal);
    }
    .embedFooterIcon-239O1f {
      border-radius: var(--avatar-radius);
      margin-right: var(--spacing-half);
    }
    a {
      color: var(--text-link) !important;
    }
  }

  // Videos
  .wrapper-2TxpI8 {
    background: var(--background);
    border-radius: var(--border-radius);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
      pointer-events: none;
      opacity: 0;
      transition: 250ms linear opacity;
    }
    &.wrapperPaused-19pWuK {
      &:after {
        opacity: 1;
      }
    }
    &.wrapperControlsHidden-35Gtol {
      .metadata-13NcHb,
      .videoControls-2kcYic {
        opacity: 0;
      }
    }
    &:hover {
      .playCenter-Fe8u3X .wrapper-129saQ .icon-3ZFEtL {
        opacity: 1;
      }
    }
    .playCenter-Fe8u3X {
      .iconWrapper-21idzA {
        opacity: 1;
      }
      .wrapper-129saQ {
        background: transparent;
        padding: 0;
        opacity: 1;
        .icon-3ZFEtL {
          margin: 0;
          cursor: var(--cursor);
          width: 72px;
          height: 72px;
          background: var(--white);
          opacity: 0.65;
          margin-top: 4px;
          -webkit-mask: url($icon_play) center/72px no-repeat;
          polygon {
            display: none;
          }
        }
      }
    }
    .videoControls-2kcYic {
      z-index: 1;
      padding: var(--spacing-half) var(--spacing);
      height: 38px;
      box-sizing: border-box;
      bottom: 0;
      transform: none !important;
      transition: 150ms linear opacity;
      background: transparent;
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 72px;
        position: absolute;
        z-index: -1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), transparent);
      }
      .controlIcon-3cRbti {
        margin: 0;
        margin-right: var(--spacing);
        height: 20px;
        width: 20px;
        color: var(--white);
        opacity: 0.65;
        cursor: var(--cursor);
        transform: none;
        &:hover {
          color: var(--text-link);
          opacity: 1;
        }
      }
      .durationTimeWrapper-OugPFt {
        margin: 0;
        .durationTimeDisplay-jww5fr,
        .durationTimeSeparator-2_xpJ7 {
          font-weight: var(--font-weight);
          font-size: var(--font-size-sm);
          color: var(--white);
          font-family: var(--font-family-sans-serif);
          margin: 0;
          user-select: text;
          &.durationTimeSeparator-2_xpJ7 {
            margin: 0 var(--spacing-third);
          }
        }
      }
      .horizontal-3Sq5iO {
        top: calc(var(--spacing-half) * -1);
        position: absolute;
        left: var(--spacing);
        width: calc(100% - var(--spacing-double));
        display: block;
        .mediaBarInteraction-37i2O4,
        .mediaBarInteractionDragging-2QurIZ {
          margin: 0;
          display: flex;
          align-items: center;
          &:hover,
          &:active {
            .buffer-26XPkd,
            .mediaBarPreview-1jfyFs,
            .mediaBarProgress-1xaPtl {
              height: 5px !important;
            }
          }
          .mediaBarWrapper-3D7r67 {
            background: transparent;
            height: 10px;
            border-radius: 0;
            box-shadow: none;
            .mediaBarProgress-1xaPtl {
              background: var(--accent-solid);
            }
            .buffer-26XPkd,
            .mediaBarPreview-1jfyFs,
            .mediaBarProgress-1xaPtl {
              height: 3px;
              top: 50%;
              transition: 150ms ease height;
              transform: translateY(-50%);
            }
            .buffer-26XPkd,
            .buffer-26XPkd:after,
            .buffer-26XPkd:before {
              background: var(--white);
              opacity: 0.3;
            }
          }
        }
        .mediaBarGrabber-1FqnbN {
          background: var(--accent-solid);
          transition: none;
        }
        .fakeEdges-27pgtp:after,
        .fakeEdges-27pgtp:before {
          content: none;
        }
      }
      .flex-1O1GKY {
        flex-grow: 1;
        justify-content: flex-end;
      }
      > div:last-child {
        .controlIcon-3cRbti {
          margin: 0;
        }
      }
    }
    .metadata-13NcHb {
      padding: var(--spacing);
      top: 0;
      z-index: 10;
      height: 72px;
      transform: none !important;
      transition: 150ms ease opacity;
      background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.75));
      .metadataName-14STf- {
        color: var(--white);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size);
        line-height: normal;
      }
      .metadataSize-2UOOLK {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        color: var(--white);
        opacity: 0.65;
      }
      .metadataDownload-1fk90V {
        padding: 0;
        opacity: 1;
        border: none;
        background: var(--white);
        height: 18px;
        width: 18px;
        opacity: 0.75;
        -webkit-mask: url($icon_download) center/18px no-repeat;
        .metadataIcon-2FyCKU {
          display: none;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .metadataContent-3c_ZXw {
      padding: 0;
    }
  }

  // Blockquotes
  .blockquoteContainer-U5TVEi {
    background: var(--background);
    border: 1px solid var(--base-border);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    position: relative;
    box-sizing: border-box;
    border-top-left-radius: 0;
    margin: var(--spacing-half) 0;
    margin-left: 13px;
    width: fit-content;
    blockquote {
      padding: 0;
      max-width: unset;
    }
    .blockquoteDivider-2hH8H6 {
      position: absolute;
      top: -1px;
      left: -15px;
      width: 0;
      height: 0;
      width: 15px;
      height: 15px;
      border-radius: 0;
      background: transparent;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 8px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: var(--background);
        border: 1px solid var(--base-border);
        transform: skewX(45deg);
      }
    }
  }

  // Search Flash Indicator
  .backgroundFlash-24qWLN {
    transition: 150ms ease;
    background: rgba(var(--accent), 0.2) !important;
    &[style*="rgba(114, 137, 218, 0)"] {
      background: transparent !important;
    }
  }

  // Replied to message
  .repliedMessage-VokQwo {
    position: absolute;
    top: var(--spacing-triple);
    left: calc(var(--spacing-triple) + var(--avatar-size));
    background: var(--background);
    border: 1px solid var(--base-border);
    width: fit-content;
    margin-left: -5px;
    max-width: calc(100vw - (var(--sidebar-width) * 3));
    padding: var(--spacing-third) var(--spacing-half);
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    & > div {
      position: relative;
      z-index: 1;
    }
    img {
      display: none;
    }
    .username-1A8OIy {
      margin-right: var(--spacing-half);
    }
    &:before {
      content: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      left: -4px;
      z-index: 0;
      width: 6px;
      height: 6px;
      border-radius: 0;
      background: var(--background);
      border: 1px solid var(--base-border);
      transform: skewX(45deg);
      border-bottom: none;
      border-right: none;
    }
    & + .contents-2mQqc9 .header-23xsNx {
      margin-bottom: 32px;
    }
  }
  .repliedTextContent-1R3vnK {
    max-width: calc(100vw - (var(--sidebar-width) * 3));
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Remove Powercord Codeblock Mods
.powercord-lines,
.powercord-codeblock-lang {
  display: none;
}

// Light Mode
.theme-light #app-mount .message-2qnXI6 .operations-36ENbA a:first-child {
  &:hover {
    background: var(--background);
    border: 1px solid var(--secondary-border);
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid var(--secondary-border) !important;
  }
}
