#app-mount {
  // Remove Checkbox Styling
	.switch-3wwwcV {
		width: 14px;
		border-radius: 0;
		background: transparent;
		display: flex;
		align-items: center;
		box-shadow: none;
		-webkit-box-shadow: none;
		&:after,
		&:before {
			content: none;
		}
		.checkbox-2tyjJg {
			opacity: 1;
			height: 14px;
			width: 14px;
			position: relative;
			cursor: default;
		}
	}

	// Secondary Checkbox Elements
	.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span {
		background-color: var(--accent-solid);
		border-color: var(--accent-solid);
	}
}