#app-mount {
	// Remove Checkbox Styling
	.container-2nx-BQ,
	.checkboxWrapper-2fDzaA {
		width: auto;
		border-radius: 0;
		background: transparent !important;
		display: flex;
		align-items: center;
		box-shadow: none;
		cursor: var(--cursor);
		.slider-32CRPX {
			display: none;
		}
		.input-2XRLou,
		.input-3xr72x {
			margin: 0;
			opacity: 1;
			height: 14px !important;
			width: 14px !important;
			position: relative;
			cursor: var(--cursor);
			appearance: checkbox;
		}
	}
	.checkboxWrapper-2fDzaA {
		width: auto;
		.labelForward-2yqkcf {
			padding-left: var(--spacing-half);
			cursor: var(--cursor);
			.size14-3fJ-ot {
				font-size: var(--font-size);
			}
		}
	}
	.checkbox-f1HnKB {
		display: none;
	}

	// Secondary Checkbox Elements
	.checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked & + span {
		background-color: var(--accent-solid);
		border-color: var(--accent-solid);
	}
}
.disabled-2qTmnp {
	--cursor: not-allowed;
}
