#app-mount .sidebar-2K8pFh {
  .wrapper-1ucjTd {
    position: relative;
    cursor: default;

    // Unread channel
    &.modeUnread-1zpFdA {
      .content-3at_AU {
        .name-3_Dsmg, svg {
          color: var(--text-focus);
          opacity: 1;
        }
      }
      &:hover .unread-3zKkbm {
        height: 18px;
      }
    }

    // Muted channel
    &.modeMuted-3osy7j .content-3at_AU {
      .name-3_Dsmg, svg {
        opacity: .75;
        color: var(--text-muted);
      }
    }

    // Selected channel
    &.modeSelected-1zApJ_ .content-3at_AU {
      .name-3_Dsmg, svg {
        opacity: 1;
        color: var(--white);
      }
      &:active {
        background:var(--background-modifier-selected);
      }
    }
  }

  // User drag
  .draggable-1KoBzC {
    height: var(--item-height);
  }

  // User drag region
  .containerUserOver-1U5YnL:after {
    left: 0;
    border-radius: 0;
    border-color: var(--accent-solid);
    background: rgba(var(--accent), 0.2);
  }

  // Unread pill
  .unread-3zKkbm {
    border-radius: 0;
    width: 2px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px;
    background-color: var(--accent-solid) !important;
    z-index: 1;
  }

  // Channel
  .mainContent-ENyL1r,
  .voiceUser-14U_Ns {
    cursor: default;
  }
  .content-3at_AU {
    margin: 0;
    padding: 0 var(--spacing);
    border-radius: 0;
    height: var(--item-height);
    svg {
      cursor:default;
      color: var(--text-muted);
      &:active {
        transform: none;
      }
      path[d="M17 11V7C17 4.243 14.756 2 12 2C9.242 2 7 4.243 7 7V11C5.897 11 5 11.896 5 13V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V13C19 11.896 18.103 11 17 11ZM12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5C13.5 17.328 12.828 18 12 18ZM15 11H9V7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V11Z"] {
        d: path($path_lock);
        fill-rule:evenodd;
        transform: scale(1.5) translateX(2px);
      }
    }
    .iconBase-2IHuka {
      margin-left: var(--spacing-half);
      path[d="M14 2H16V3H14V5H13V3H11V2H13V0H14V2Z"] {
        d: path($path_person_add);
        &~path {
          display: none;
        }
      }
      path[d="M14 7V9C14 9 12.5867 9 12.5733 9.00667C12.42 9.58667 12.1733 10.1267 11.84 10.6067L12.74 11.5067L11.4933 12.7533L10.5933 11.8533C10.1133 12.1867 9.57334 12.44 8.99334 12.5867V14H6.99334V12.58C6.41334 12.4333 5.87334 12.18 5.39334 11.8467L4.49333 12.7467L3.24667 11.5L4.14667 10.6C3.81333 10.1267 3.56 9.58 3.41333 9H2V7H3.41333C3.56 6.42 3.81333 5.88 4.14667 5.4L3.24667 4.5L4.5 3.24667L5.4 4.14667C5.87334 3.81333 6.42 3.56 7 3.41333V2H9V3.41333C9.58 3.56667 10.12 3.81333 10.6 4.14667L11.5067 3.25333L12.7533 4.5L11.8533 5.4C12.1867 5.87334 12.44 6.42 12.5867 7H14ZM8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"] {
        d: path($path_gear);
        transform: scale(.9);
        transform-origin: center;
      }
    }
    .icon-1_QxNX {
      margin-right: var(--spacing);
      height: 14px;
      width: auto;
      path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
        d: path($path_speaker);
        transform: scale(1.25) translateX(2px) translateY(1px);
      }
    }
    .name-3_Dsmg {
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);
      color: var(--text-normal);
    }
  }

  // Channel Dragging

  .containerDragAfter-3TEhpe:before, 
  .containerDragBefore-3Dzc5x:before,
  .containerDragAfter-1F4fgZ:after, 
  .containerDragBefore-31UGCO:before {
    left:0;
    border-radius:0;
    height:2px;
    background:rgb(var(--status-green));
    box-shadow:none;
  }
  
  // Connected users in voice
  .list-2bwCXU {
    padding-left: 0;
    .content-3xS9Lh {
      border-radius: 0;
      margin: 0;
      height: 100%;
      padding-left: calc(var(--spacing) * 2.5);
    }
    .voiceUser-14U_Ns {
      border-radius: 0;
      height: var(--item-height);
      .avatarContainer-2inGBK {
        margin-left: var(--spacing);
        border-radius: var(--border-radius);
        height: var(--avatar-size-xsm);
        width: var(--avatar-size-xsm);
        border: 1px solid var(--base-border);
        &.avatarSpeaking-3MqCHL {
          border-color: rgb(var(--accent));
          box-shadow: 0 0 0 2px rgba(var(--accent), .35);
        }
      }
      .icons-3q-_6z {
        margin-right: var(--spacing);
      }
      .username-lm8y6T {
        color: var(--text-normal);
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
      }
      .icon-3BcwQu {
        color: var(--text-normal);
        height: 14px;
        width: 14px;
      }
      &.selected-3TGCSZ {
        .icon-3BcwQu, .username-lm8y6T {
          color: #fff !important;
        }
        .usernameSpeaking-2xbKKh:after {
          background: #fff;
        }
      }
    }
    &.collapsed-3x0tkj {
      padding-left: calc(var(--spacing) * 2.5);
      .content-3xS9Lh {
        padding-left: 0;
      }
    }
  }

  // User Limit
  .userLimit-64AFxe {
    .wrapper-pZmgj4 {
      color: var(--text-normal);
      border-radius: var(--border-radius);
      border: 1px solid var(--base-border);
      span {
        padding: 0 var(--spacing-half);
        width: auto;
        font-size:var(--font-size);
        color:var(--text-normal);
        font-weight:var(--font-weight-semibold);
        &.users-i_3-kL {
          background: transparent;
        }
        &.total-3tKGEB {
          background: var(--background-alt);
          &:after {
            content:none;
          }
        }
      }
    }
  }
}