#app-mount .sidebar-2K8pFh {
  width: var(--sidebar-width);
  border-radius: 0;
  overflow: visible !important;
  display: -webkit-box;
  padding-top: var(--toolbar-height);
  .container-PNkimc {
    background: var(--background);
  }
  [class*="scroller-"] {
    background:var(--background);
    border-right: 1px solid var(--base-border);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // Banner image
  .animatedContainer-1pJv5C {
    box-shadow: none;
    mask: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%) !important;
    z-index: 10;
    pointer-events: none;
  }
  .bannerImage-1jOskm {
    width: var(--sidebar-width);
    top: 0;
  }
  // Channel Notifications
  .channelNotice-1-XFjC {
    border-bottom: 1px solid var(--base-border);
    box-shadow: none;
    border-right: 1px solid var(--base-border);
    background-color: var(--background-light);
    padding: var(--spacing);
    padding-top:calc(16px + var(--spacing-double));
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image:none;
    &.premiumGuildSubscription-3oKecP {
      padding-top:var(--spacing);
      &:before {
        content: '';
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
        margin: var(--spacing);
        background: var(--text-normal);
        -webkit-mask: url($icon_rocket) center/cover no-repeat;
      }
    }
    &.publicUpsell-31ZSJ8 {
      padding-top:var(--spacing);
      &:before {
        content: '';
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
        margin: var(--spacing);
        background: var(--text-normal);
        -webkit-mask: url($icon_lock) center/cover no-repeat;
      }
    }
    &.quickswitcher-35bYg4 {
      padding-top:var(--spacing);
      &:before {
        content: '';
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
        margin: var(--spacing);
        background: var(--text-normal);
        -webkit-mask: url($icon_globe) center/cover no-repeat;
      }
    }
    .message-3SOT5P {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      color: var(--text-muted);
      font-size: var(--font-size);
      line-height: normal;
    }
    .btn-11C5_u {
      margin: var(--spacing) auto 0;
    }
    .close-relY5R {
      width: 16px;
      height: 16px;
      top: var(--spacing);
      right: var(--spacing);
      color: var(--text-muted);
      background: currentColor;
      -webkit-mask: url($icon_close) center/12px no-repeat;
      path {
        display: none;
      }
      &:hover {
        color: var(--text-normal);
      }
    }
    &.invite-OjTXrW {
      background-image: none;
        &:before {
          content: '';
          position: relative;
          display: block;
          width: 75px;
          height: 80px;
          margin: var(--spacing);
          background: var(--text-normal);
          -webkit-mask: url($illustration_1) center/cover no-repeat;
        }
      }
    }
  }