#app-mount .sidebar-2K8pFh {
  // Server dropdown selected
  .container-2Rl01u {
    background: var(--toolbar-background);
    &.selected-WP3kCM .header-2o-2hj {
      background: var(--background);
      border-bottom: 1px solid transparent;
      .name-3YKhmS {
        color: var(--toolbar-text-normal);
      }
      .button-1w5pas {
        border-top: 5px solid var(--toolbar-text-normal);
      }
    }
  }
  .header-2o-2hj {
    box-shadow: none;
    border-bottom: 1px solid var(--toolbar-border);
    border-right: 1px solid var(--toolbar-border);
    background-color: var(--toolbar-background);
    height: var(--toolbar-height);
    padding: var(--spacing);
    transition: none;
    position: absolute;
    left: calc(var(--noasw-channel-header) * -1);
    top: calc(var(--toolbar-height) * -1);
    width: calc(100% + var(--noasw-channel-header));
    z-index: 11;
    filter: none;
    cursor: default;
    .guildIconContainer-E1JUVt {
      margin-right: var(--spacing);
      .disableColor-MwOAZf, 
      .iconBackgroundTierNone-3MPhMJ, 
      .iconBackgroundTierOne-2LhaMB, 
      .iconBackgroundTierThree-3qw3JX,
      .iconBackgroundTierTwo-3bCmdc {
        color:var(--toolbar-background-active);
      }
      .iconTierNone-3xOaeG {
        color: var(--toolbar-text-muted);
      }
      .bannerVisible-14J9lQ  .iconBackgroundTierOne-2LhaMB, 
      .bannerVisible-14J9lQ .iconBackgroundTierThree-3qw3JX, 
      .bannerVisible-14J9lQ .iconBackgroundTierTwo-3bCmdc,
      .iconTierOne-BHC2T8, 
      .iconTierTwo-_1edeM {
        color:var(--toolbar-text-normal);
      }
    }
    h1 {
      font-size: var(--font-size);
      font-weight: var(--font-weight-semibold);
      color: var(--toolbar-text-normal);
      user-select: none;
      line-height: normal;
      &:before {
        display: block;
        content: "Current Server";
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        color: var(--toolbar-text-muted);
      }
    }
    // Chevron
    .button-1w5pas {
      transform-origin: center;
      transition: none;
      position: absolute;
      margin: 0;
      right: var(--spacing);
      top: calc(var(--toolbar-height) / 2 - 2px);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--toolbar-text-muted);
      g {
        display: none;
      }
      &.open-1Te94t {
        transform: rotate(180deg);
      }
    }
    &:hover {
      background-color: var(--toolbar-background-hover);
      .name-3YKhmS {
        color: var(--toolbar-text-focus);
      }
      .button-1w5pas {
        border-top: 5px solid var(--toolbar-text-focus);
      }
    }
  }
}

// Verified Guild (Global Component)

.verified-1eC5dy {
  color:rgb(var(--status-green));
}
.partnered-3nJayh {
  color:var(--accent-solid);
}

// Light Mode
.theme-light #app-mount .sidebar-2K8pFh .container-2Rl01u.selected-WP3kCM .header-2o-2hj {
  border-right: none;
  h1 {
    color: var(--text-focus);
  }
  .button-1w5pas {
    border-top: 5px solid var(--text-focus);
  }
}