@use '../assets';

#app-mount .layer-86YKbF[aria-label='CHANNEL_SETTINGS'] {
	.customContainer-dK1ozq {
		position: relative;
		div[style='height: 60px;'] {
			display: none;
		}
	}
	.customScroller-m1-jZn > div {
		padding: var(--spacing);
		margin: 0;
		max-width: 100%;
	}
	.image-20MDYu {
		width: 156px !important;
		height: 156px !important;
		margin-bottom: var(--spacing-double);
		background: var(--text-muted) !important;
		mask: url(assets.$illustration_7) center/contain no-repeat;
	}
}
