#app-mount .baseLayer-W6S8cY.animating-1rIrGV:not(.stop-animations) + .animating-1rIrGV {
	display: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-triple);
	background: var(--backdrop);
	z-index: 1;
	top: calc(var(--titlebar-height) * -1);
	[class*='scroller-' i]:not([class*='bd-']) {
		background: var(--background);
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.customScroller-m1-jZn {
		height: 65vh;
		max-height: 650px;
	}
	.standardSidebarView-E9Pc3j {
		animation: modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		border-radius: var(--border-radius);
		background: var(--background);
		position: relative !important;
		overflow: hidden;
		box-shadow: var(--elevation-2);
		width: 100%;
		min-width: var(--settings-min-width);
		max-width: var(--settings-max-width);
		height: 65vh;
		min-height: var(--settings-min-height);
		max-height: var(--settings-max-height);
		padding-top: 50px;
		top: 0;
		.settingsToolbar-wu4yfQ {
			display: none; // OldTitleBar
		}
	}
}

@media only screen and (max-height: 650px) {
	#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .standardSidebarView-E9Pc3j {
		min-height: 500px;
	}
}
