@use '../assets';

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) {
	.contentColumnMinimal-32PuDO {
		max-width: unset;
		min-width: 100%;
		padding: 0;
	}

	.radioGroup-1GBvlr {
		margin-bottom: var(--spacing-double);
	}
	.marginBottom20-315RVT.description-3_Ncsb {
		margin-bottom: var(--spacing);
	}

	// Save Notice
	.noticeRegion-qjyUVg {
		left: unset;
		right: 0;
		max-width: unset;
		width: calc(100% - 205px);
		padding: 0 var(--spacing-double) var(--spacing-double);
		.container-20TyK0 {
			box-sizing: border-box;
			border-radius: var(--border-radius);
			box-shadow: var(--elevation-1);
			background: var(--background) !important;
			border: 1px solid var(--base-border);
			padding: var(--spacing);
			.message-3C6JQ1 {
				font-size: var(--font-size);
				font-weight: var(--font-weight-normal);
				color: var(--text-normal) !important;
			}
		}
	}

	// Overview
	.children-1xdcWE {
		.marginBottom40-fvAlAV.flex-2S1XBF[style]
			+ .divider-3wNib3
			+ .divider-3wNib3:nth-child(3)
			.select-1YfRS9
			+ .colorStandard-21JIj7
			+ .marginTop20-2T8ZJx
			+ .marginTop20-2T8ZJx {
			margin: 0;
		}
		.flex-2S1XBF[style*='flex: 1 1 50%'],
		.flexChild-3PzYmX[style*='flex: 1 1 50%'] {
			margin-top: var(--spacing-double);
			.lookOutlined-3sRXeN {
				margin-top: 0;
			}
			button .file-input {
				cursor: var(--cursor) !important;
			}
		}
	}

	// Roles
	.container-3EtAkD {
		border-radius: var(--border-radius);
		border: 1px solid var(--base-border);
		padding: var(--spacing);
		background: var(--background-alt);
		.description-18M4UD {
			margin-left: var(--spacing);
		}
		.label-2Pe5f1 {
			font-size: var(--font-size);
			margin-bottom: 0;
		}
		.size12-oc4dx4 {
			font-size: var(--font-size-sm);
		}
	}

	.roleRow-3LoHQ6 {
		margin: 0;
		border-right: 1px solid var(--base-border);
		border-left: 1px solid var(--base-border);
		border-bottom: 1px solid var(--base-border);
		border-radius: 0;
		background: var(--background-dark);
		height: auto;
		padding: var(--spacing-half);
		&::before,
		&::after {
			content: none;
		}
		&:nth-child(3) {
			border-top: 1px solid var(--base-border);
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}
		&:last-child {
			margin-bottom: 0;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}
	}
	.roleName-35qCvR {
		font-size: var(--font-size);
	}
	.roleNameContainer-1vRTI3 > svg:first-child {
		width: 16px;
		height: 16px;
	}
	.memberCountContainer-30IqIo {
		height: auto;
	}
	.circleButton-33AIyY {
		border-radius: var(--button-border-radius);
		border: 1px solid var(--base-border);
		width: 28px;
		min-width: 28px;
		height: 28px;
		min-height: 28px;
		margin-left: var(--spacing);
		background: var(--background-alt);
		svg {
			width: 16px;
			height: 16px;
		}
	}

	.sidebar-3K3Z4C {
		flex: 0 0 230px !important;
		border-right: none;
		min-height: var(--settings-min-height);
		max-height: var(--settings-max-height);
		.side-2ur1Qk {
			max-height: inherit;
			min-height: inherit;
			.item-3XjbnG {
				margin: 0;
				border-radius: 0;
				cursor: var(--cursor);
				.colorInteractiveActive-30E9n8 {
					color: var(--text-normal);
				}
				&.selected-g-kMVV {
					background-color: var(--background-modifier-selected) !important;
					.colorInteractiveActive-30E9n8 {
						color: var(--white);
					}
				}
			}
		}
	}
	.titleContainer-3fPic2 {
		margin: 0;
		padding: var(--spacing);
		background: var(--background-alt);
		border-bottom: 1px solid var(--base-border);
		svg {
			width: 16px;
			height: 16px;
		}
		.titleText-3LapIU {
			font-size: var(--font-size);
		}
	}
	.list-1AJFv_ {
		padding: 0;
		min-height: var(--settings-min-height);
		max-height: var(--settings-max-height);
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.contentContainer-3hXFtK {
		left: 452px;
		top: 50px;
		border-left: 1px solid var(--base-border);
		.scroller-39BnzZ {
			margin-left: 0 !important;
		}
		.contentWidth-3aWel5 {
			width: 100%;
			padding: var(--spacing-double);
		}
	}
	.header-JUTO-g.stickyHeader-1Sunlx {
		padding: var(--spacing-double);
		border-bottom: 1px solid var(--base-border);
		box-sizing: border-box;
		margin: calc(var(--spacing-double) / -1);
		background: var(--background-alt);
		.titleContainer-16mFj2 {
			margin-bottom: var(--spacing);
		}
		.titleText-35PD5k {
			font-size: var(--font-size-md);
		}
		.warning-RBGtx2 {
			margin-bottom: var(--spacing);
			.icon-2fP4ae {
				width: 18px;
				height: 18px;
			}
			.text-2iTkaw {
				font-size: var(--font-size);
			}
		}
		.menu-2p630X svg {
			width: 16px;
			height: 16px;
		}
		.tabBar-3DfKkN {
			border: none;
			margin: 0;
		}
		.tabBarItem-3nPo4Z {
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			min-height: var(--input-height);
			height: var(--input-height);
			display: flex;
			align-items: center;
			line-height: normal;
			transition: none;
			box-sizing: border-box;
			padding: 0 var(--spacing);
			border-radius: var(--button-border-radius);
			color: var(--text-normal);
			background: var(--background-light);
			border: 1px solid var(--base-border);
			box-shadow: none !important;
			cursor: var(--cursor);
			margin: 0 var(--spacing) 0 0 !important;
			&:hover {
				border: 1px solid currentColor;
			}
			&:focus {
				box-shadow: 0 0 0 1px currentColor !important;
				border: 1px solid currentColor !important;
			}
			&[aria-selected='true'] {
				color: var(--white);
				background-color: rgb(var(--accent));
				margin-left: var(--spacing);
				border-color: rgb(var(--accent));
				&:hover {
					box-shadow: inset 0 0 0 100vmax rgb(255, 255, 255, 0.1) !important;
				}
				&:focus {
					box-shadow: 0 0 0 2px rgb(var(--accent), 0.25),
						inset 0 0 0 100vmax rgb(255, 255, 255, 0.1) !important;
				}
			}
		}
	}
	.permissionsWrapper-34gbP6 {
		margin-top: calc(var(--spacing-double) * 2);
	}
	.scroller-39BnzZ[style*='scroll-padding-top: 107px;'] > div > div.header-2mZ9Ov {
		margin-bottom: var(--spacing-double);
	}

	// Emojis
	.wrapper-5BaSTh {
		margin-top: calc(var(--spacing) * 8);
		.image-20MDYu {
			width: 156px !important;
			height: 156px !important;
			margin-bottom: var(--spacing-double);
			background: var(--text-muted) !important;
			mask: url(assets.$illustration_7) center/contain no-repeat;
		}
		.title-2CL_z0 {
			color: var(--text-normal);
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			text-transform: none;
			line-height: normal;
		}
		.text-27cdrj {
			margin-top: var(--spacing-half);
			color: var(--text-muted);
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			text-transform: none;
			line-height: normal;
		}
	}
	div.contentRegion-3HkfJJ
		> div
		> div
		> main
		> div
		> div:nth-child(3)
		> div:nth-child(2)
		> div.flex-2S1XBF.flex-3BkGQD.horizontal-1ae9ci.horizontal-2EEEnY.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz.marginBottom4-1fdMNe {
		margin: 0;
		padding: var(--spacing);
		background: var(--background-alt);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		.flexChild-3PzYmX {
			margin: 0;
			.colorStandard-21JIj7 {
				color: var(--text-normal);
				font-weight: var(--font-weight-normal);
				font-size: var(--font-size);
			}
		}
	}
	div.contentRegion-3HkfJJ
		> div
		> div
		> main
		> div
		> div:nth-child(3)
		> div.colorStandard-21JIj7.size14-3fJ-ot.description-3_Ncsb.formText-2ngGjI.marginBottom40-fvAlAV.modeDefault-2fEh7a {
		margin: 0;
	}
	.emojiRow-zIc7ZX {
		box-shadow: none;
		border: 1px solid var(--base-border);
		border-top: none;
		height: var(--item-height);
		padding: var(--spacing);
		box-sizing: content-box;
		&:last-child {
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}
		&::before {
			content: none;
		}
		.emojiRemove-1k6MlJ {
			top: var(--spacing);
			right: var(--spacing);
		}
		.emojiUploader-1f0pVx {
			margin: 0;
			display: flex;
			align-items: center;
			.emojiRowText-2j4TNM {
				position: relative;
				top: 0;
				left: 0;
				margin-left: var(--spacing);
			}
		}
		.emojiAliasPlaceholder-3H_iZA {
			display: none;
		}
		.emojiInput-1aLNse {
			opacity: 1;
		}
		.positionRelative-3HNyhz {
			margin-right: 0;
		}
		.emojiImage-1hZi2F {
			border-radius: var(--avatar-radius);
			border: 1px solid var(--base-border);
			background-color: var(--background-dark);
			width: var(--input-height);
			height: var(--input-height);
		}
		.avatar-2Hubm8 {
			height: var(--avatar-size-sm) !important;
			width: var(--avatar-size-sm) !important;
		}
	}

	// Audit log
	.customColumn-2n-oKU {
		position: relative;
		max-width: unset;
		width: 100%;
	}
	.customHeader-f9DEJ_ {
		padding-top: 0;
		margin-bottom: var(--spacing-double);
		h2 {
			margin-bottom: 0;
		}
	}
	.customContainer-dK1ozq {
		position: unset;
		div[style='height: 60px;'] {
			display: none;
		}
	}
	.customScroller-m1-jZn > div {
		padding: var(--spacing);
		margin: 0;
		max-width: 100%;
	}
	.auditLog-3jNbM6 {
		border: none;
		border-radius: 0;
		&:last-child {
			margin: 0;
		}
		.headerClickable-2IVFo9,
		.headerDefault-1wrJcN,
		.headerExpanded-CUEwZ5 {
			border: 1px solid var(--base-border);
			padding: var(--spacing);
			background: var(--background-alt);
			border-radius: var(--border-radius);
			cursor: var(--cursor);
			.icon-RTGJu3 {
				display: none;
			}
			.avatar-_VZUJy {
				margin: 0;
				height: var(--avatar-size) !important;
				width: var(--avatar-size) !important;
			}
			&.headerExpanded-CUEwZ5 {
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				.expand-1lx8E1 {
					transform: rotate(180deg);
				}
			}
			.expand-1lx8E1 {
				mask: url(assets.$icon_triangle) center/contain no-repeat;
				background: var(--text-muted);
				transition: none;
				width: 12px;
				height: 12px;
				transform: none;
				path {
					display: none;
				}
			}
			.timeWrap-2DasL6 {
				margin: 0 var(--spacing);
				max-width: 100%;
				.overflowEllipsis-1PBFxQ {
					color: var(--text-normal);
					font-size: var(--font-size);
					font-weight: var(--font-weight-normal);
					line-height: normal;
					strong {
						all: unset;
						line-height: var(--line-height);
						border-radius: var(--border-radius);
						padding: 1px var(--spacing-half);
						color: var(--text-normal);
						background: var(--background-modifier-active);
						font-size: var(--font-size-sm);
						font-weight: var(--font-weight-normal);
						flex-grow: 0;
						display: inline-block;
						user-select: none;
					}
				}
				.userHook-3AdCBF {
					font-size: var(--font-size);
					font-weight: var(--font-weight-semibold);
					color: var(--text-normal);
					line-height: normal;
					.discrim-3rYTMj {
						opacity: 1;
						color: var(--text-muted);
						font-size: var(--font-size-sm);
						line-height: normal;
					}
				}
				.timestamp-1mruiI {
					margin-top: var(--spacing-third);
					color: var(--text-muted);
					font-size: var(--font-size-sm);
					font-weight: var(--font-weight-normal);
					position: relative;
					top: -2px;
				}
			}
		}
		.divider-1pnAR2 {
			display: none;
		}
		.changeDetails-bk98pu {
			background: var(--background-light);
			border: 1px solid var(--base-border);
			border-top: none;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			padding: var(--spacing);
			.detail-1BhUh9 {
				margin: 0;
				margin-bottom: var(--spacing);
				&:last-child {
					margin: 0;
				}
				.dash-3L29dH {
					display: none;
				}
				.changeStr-12S1vf {
					font-size: var(--font-size);
					font-weight: var(--font-weight-normal);
					color: var(--text-muted);
					line-height: normal;
					strong {
						color: var(--text-normal);
						font-weight: var(--font-weight-semibold);
					}
				}
				.prefix-24L010 {
					font-family: var(--font-family-monospace);
					font-size: var(--font-size);
					font-weight: var(--font-weight-normal);
					line-height: normal;
					&.typeCreate-1kfBMl {
						color: rgb(var(--status-green));
					}
					&.typeDelete-bTXOuk {
						color: rgb(var(--status-red));
					}
					&.typeUpdate-2bwuHy {
						color: rgb(var(--status-yellow));
					}
				}
			}
		}
	}

	// Ban list
	.bannedUser-1IalTM,
	.member-1q7VfX {
		box-shadow: none;
		background: var(--background-alt);
		padding: var(--spacing);
		margin-top: var(--spacing);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		&::before {
			content: none;
		}
	}
}
