#app-mount {
	.base-2jDfDU .notice-2FJMB4 {
		width: calc(100% - var(--sidebar-width));
		margin-left: var(--sidebar-width);
		height: 36px;
		& + .content-1SgpWY {
			.privateChannels-oVe7HL {
				.searchBar-3TnChZ,
				.scroller-WSmht3 {
					margin-top: -36px;
				}
			}
			.header-2o-2hj,
			.scroller-2wx7Hm {
				margin-top: -36px;
			}
		}
	}
}
