.horizontal-1ae9ci > .flex-1xMQg5,
.horizontal-1ae9ci > .flexChild__6e093 {
	margin: 0 var(--spacing);
}
.marginTop4__3faba {
	margin-top: var(--spacing-half);
}
.marginBottom4__12b08 {
	margin-bottom: var(--spacing-half);
}
.marginTop8__83d4b {
	margin-top: var(--spacing);
}
.marginLeft4-3VaXdt {
	margin-left: var(--spacing-half);
}
.marginLeft8-1YseBe {
	margin-left: var(--spacing);
}
.marginBottom8_f4aae3 {
	margin-bottom: var(--spacing);
}
.marginTop20_d88ee7 {
	margin-top: var(--spacing-double);
}
.marginBottom20__64605 {
	margin-bottom: var(--spacing-double);
}
.marginTop40__2b1fe {
	margin-top: calc(var(--spacing) * 4);
}
.marginBottom40__9109c {
	margin-bottom: calc(var(--spacing) * 4);
}
.marginTop60__2eb69 {
	margin-top: calc(var(--spacing) * 6);
}
.marginBottom60__65d82 {
	margin-bottom: calc(var(--spacing) * 6);
}
