::selection {
	background: var(--accent-solid);
	color: #fff;
}
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--font-family-sans-serif);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	user-select: text;
}
.h5-18_1nd {
	color: var(--text-normal);
	text-transform: none;
	font-weight: var(--font-weight-normal);
	cursor: text;
	font-size: var(--font-size);
}
.errorMessage-1kMqS5 {
	color: rgb(var(--status-red));
	font-size: var(--font-size);
	font-weight: var(--font-weight-normal);
}
.colorStatusRed-3FRrPF {
	color: rgb(var(--status-red));
}
.colorStandard-21JIj7 {
	color: var(--text-normal);
}
strong {
	font-weight: var(--font-weight-bold);
}
.size12-oc4dx4 {
	font-size: var(--font-size);
}
a {
	cursor: var(--cursor);
	color: var(--text-link);
}
.socialLink-3n2n25 {
	color: var(--text-muted);
	margin-right: var(--spacing);
	svg {
		width: 14px;
		height: 14px;
	}
}
