#app-mount .guilds-2JjMmN {
	border-right: 1px solid var(--base-border);
	box-sizing: border-box;
	background: transparent;
	.scrollerBase-1Pkza4 {
		background: var(--guilds-background);
		contain: none;
		padding-top: var(--noasw-padding);
	}
	.guildSeparator-a4uisj {
		background: var(--base-border);
		height: 1px;
	}

	// Remove Active Animations
	.blobContainer-3X98Pc,
	.listItemWrapper-3d87LP {
		transform: none;
	}
}

.theme-light {
	#app-mount .guilds-2JjMmN {
		.childWrapper-1j_1ub,
		.circleIconButton-1QV--U,
		.wrapper-3kah-n,
		.wrapper-28eC3z {
			background: var(--background-dark);
		}
		.wrapper-3kah-n.selected-1JjBPm .childWrapper-1j_1ub {
			color: var(--white);
		}
	}
}
