#app-mount .guilds__2b93a {
	border-right: 1px solid var(--base-border);
	box-sizing: border-box;
	background: transparent;
	.scrollerBase_dc3aa9 {
		background: var(--guilds-background);
		contain: none;
		padding-top: var(--noasw-padding);
	}
	.guildSeparator_dcb3cc {
		background: var(--base-border);
		height: 1px;
	}

	// Remove Active Animations
	.blobContainer-3X98Pc,
	.listItemWrapper__1f93b {
		transform: none;
	}
}

.theme-light {
	#app-mount .guilds__2b93a {
		.childWrapper__01b9c,
		.circleIconButton-1QV--U,
		.wrapper_d281dd,
		.wrapper-28eC3z {
			background: var(--background-dark);
		}
		.wrapper_d281dd.selected-1JjBPm .childWrapper__01b9c {
			color: var(--white);
		}
	}
}
