#app-mount {
	.folder-241Joy {
		background: transparent;
		cursor: var(--cursor);
		&.hover-qTxTR_ {
			background: transparent;
		}
	}
	.expandedFolderBackground-1kSAf6 {
		background: var(--background-light);
		border-radius: var(--border-radius);
		&.collapsed-uGXEbi {
			background: transparent;
		}
	}
}
