#app-mount {
	.folder__17546 {
		background: transparent;
		cursor: var(--cursor);
		&.hover-qTxTR_ {
			background: transparent;
		}
	}
	.expandedFolderBackground__1bec6 {
		background: var(--background-light);
		border-radius: var(--border-radius);
		&.collapsed__0a270 {
			background: transparent;
		}
	}
}
