@use '../assets';

#app-mount {
	.nowPlayingColumn-1eCBCN {
		border-left: 1px solid var(--base-border);
		background: var(--background);
		min-width: unset;
		max-width: unset;
		flex: 0 0 calc(var(--sidebar-width) * 1.5);
		width: calc(var(--sidebar-width) * 1.5);
	}
	.container-1oAagU {
		background: transparent;
	}
	.scroller-hE2gWq {
		height: calc(100vh - var(--titlebar-height) - var(--toolbar-height));
		padding: 0 !important;
		margin: 0;
		border: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.header-Imy05m {
		font-weight: var(--font-weight-normal);
		font-size: var(--font-size);
		margin: 0;
		height: 29px;
		display: flex;
		align-items: center;
		padding: 0 var(--spacing);
		border-bottom: 1px solid var(--base-border);
	}
	.consentCard-1iSxB_ {
		background: var(--background);
		border-radius: 0;
		padding: var(--spacing-double);
		border-bottom: 1px solid var(--base-border);
		margin: 0;
		.header-XnnHhZ {
			margin-bottom: var(--spacing-half);
			font-weight: var(--font-weight-semibold);
		}
		button {
			margin-left: 0;
		}
	}
	.activitySection-20iylG {
		grid-template-columns: minmax(32px, 48px) minmax(20px, auto);
		grid-gap: var(--spacing);
		img {
			width: 48px;
			height: 48px;
		}
	}
	.emptyCard-KDifrB {
		border-radius: 0;
		background: transparent;
		padding: var(--spacing-double);
		.emptyText-29ycwI {
			font-size: var(--font-size);
			color: var(--text-muted);
		}
		.base-21yXnu::before {
			content: '';
			width: 100px;
			height: 100px;
			display: block;
			background: var(--text-muted);
			margin-bottom: var(--spacing-double);
			mask: url(assets.$illustration_7) center/contain no-repeat;
		}
	}
	.header-13Cw0- {
		display: flex;
		align-items: center;
		padding: var(--spacing);
		font-size: var(--font-size);
		color: var(--text-normal);
		font-weight: var(--font-weight-semibold);
		border-bottom: 1px solid var(--base-border);
		height: 30px;
		width: 100%;
		text-transform: none;
		box-sizing: border-box;
	}
	.headerFull-1dyyvV {
		grid-template-columns: var(--avatar-size) minmax(20px, auto) 24px;
		height: auto;
		grid-gap: var(--spacing);
	}
	.wrapper-2RrXDg {
		background: transparent;
		border-radius: 0;
		padding: var(--spacing);
		margin: 0;
		cursor: var(--cursor);
		border: none;
		&:not(:first-child) {
			border-bottom: 1px solid var(--base-border);
		}
		&:hover {
			background: var(--background-modifier-hover);
		}
		&.active-1W_Gl9 {
			background: rgb(var(--accent));
			.colorHeaderSecondary-g5teka,
			.size16-rrJ6ag {
				color: var(--white);
			}
		}
		&:last-child {
			border-bottom: 1px solid var(--base-border);
		}
	}
	.inset-SbsSFp {
		background: var(--background-dark);
		border: 1px solid var(--base-border);
		margin-top: var(--spacing);
		border-radius: var(--border-radius);
	}
	.section-3G9aLW {
		background: transparent;
	}
	.separator-2OaeRP {
		background: var(--base-border);
	}
	.section-3G9aLW {
		padding: var(--spacing-half);
	}
	.itemCard-3Etziu {
		.base-21yXnu {
			font-size: var(--font-size);
			line-height: var(--line-height);
		}
		.colorHeaderSecondary-g5teka,
		.colorStandard-21JIj7 {
			font-size: var(--font-size-sm);
			color: var(--text-muted);
			line-height: var(--line-height);
			strong {
				color: var(--text-normal);
			}
		}
		.sectionTitle-2AR_TY {
			color: var(--text-normal);
		}
	}
	.tabBody-3YRQ8W::before {
		content: none;
	}
	.voiceSection-3CNgD8 {
		grid-gap: var(--spacing);
	}
	.voiceSectionAssets-1dg-E5 {
		border-radius: 0;
		width: var(--avatar-size);
		height: var(--avatar-size);
	}
	.voiceSectionGuildImage-TctMOd,
	.voiceSectionNoGuildImageWrapper-17kLyh {
		width: var(--avatar-size);
		height: var(--avatar-size);
		mask: none;
		mask: none;
		border-radius: var(--border-radius);
	}
	.voiceSectionIconWrapper-4yoj76 {
		bottom: -1px;
		right: -1px;
		background: var(--background-dark);
		border-radius: var(--border-radius) 0 0;
	}
	.voiceSectionDetails-3jGIB4 {
		cursor: var(--cursor);
	}
	.partyMember-YLjOa7 {
		height: var(--avatar-size-sm) !important;
		width: var(--avatar-size-sm) !important;
		mask: none;
	}
	.partyMemberOverflow-lXnzvu {
		height: var(--avatar-size-sm);
		width: var(--avatar-size-sm);
		min-width: auto;
		padding: 0;
		font-size: var(--font-size-sm);
		background: var(--background);
		box-shadow: inset 0 0 0 1px var(--base-border);
		border-radius: var(--border-radius);
	}
}
