#app-mount .container-36u7Lw {
	background: var(--background-alt);
	.container-3u6dG-::before {
		content: none;
	}
	.children-3xh0VB {
		padding-right: 0;
		&:hover {
			background: transparent;
		}
	}
	.scroller-2XLwLg {
		background: var(--background-alt);
		overflow: hidden;
		&::-webkit-scrollbar {
			width: 12px;
			display: none;
			background: transparent;
			border-left: 1px solid var(--base-border);
		}
		&::-webkit-scrollbar-track-piece {
			background: transparent;
			border-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-style: solid;
			border-color: transparent;
			border-left-width: 4px;
			border-right-width: 3px;
			background-clip: padding-box;
			background-color: var(--scrollbar-background);
		}
		&:hover {
			overflow: overlay;
			&::-webkit-scrollbar {
				display: block;
			}
		}
	}
	.searchBar-1UNSCg {
		background: var(--background);
		border: 1px solid var(--base-border);
	}
	.header-2EadGG {
		padding: var(--spacing);
		background: var(--background-alt);
		border-bottom-color: var(--base-border);
		width: 100%;
	}
	.rowWrapper-N-4fji {
		margin: 0;
		border-bottom: 1px solid var(--base-border);
		border-radius: 0;
		padding-bottom: 0;
		.bodyCell-10p1iS {
			padding: var(--spacing);
		}
		&:hover {
			background: var(--background-light);
		}
	}
	.scroller-1TOeMq {
		background-color: var(--background-alt);
	}
}
