@use '../assets';

#app-mount .wrapper-3Q5DdO {
	position: fixed;
	background: var(--background-dark);
	.canvas-2dBZRV,
	.colorHeaderSecondary-g5teka,
	.fallbackImage-kwjEnv,
	.image-3yFrLs,
	.needAccount-MrvMN7,
	.verticalSeparator-2r9gHa {
		display: none;
	}

	//Background
	.rightSplit-24Bqk0 {
		background: url(assets.$illustration_2) center/50%;
		box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, 0.4);
	}

	// Authbox
	.authBox-1HR6Ha {
		padding: 0;
		max-width: 400px;
		background: var(--background);
		box-shadow: var(--elevation-2);
		border-radius: var(--border-radius);
		border: 1px solid var(--border-color);
		position: relative;
		left: -100px;
		.defaultMarginh3-2aILfT,
		.defaultMarginh5-3Jxf6f {
			margin-bottom: var(--spacing-third);
		}
		.block-3uVSn4 {
			margin: 0;
			padding: var(--spacing-double);
			box-sizing: border-box;
			.lookLink-9FtZy- {
				margin: var(--spacing) 0;
			}
			.smallRegisterLink-1qEJhz {
				margin-bottom: 0;
			}
			.lookFilled-1Gx00P,
			.marginTop4-2JFJJI:last-child {
				margin: 0;
			}
			.title-3hptVQ {
				font-size: var(--font-size);
			}
			.subText-1fpEGH {
				color: var(--text-muted);
			}
			.inputs-3ELGTz {
				margin-bottom: 0;
				width: auto;
				justify-content: flex-start;
				div[tabindex] {
					flex-grow: 1;
				}
				.inputMonth-2nV8eY,
				.inputDay-2aeDxX,
				.inputYear-3RUSr9 {
					width: auto;
					margin-right: var(--spacing-half);
				}
			}
			a {
				color: var(--text-link);
			}
		}
		.marginBottom20-315RVT {
			margin-bottom: var(--spacing);
		}
	}
	.wrapper-1f5byN {
		transform: none !important;
		width: 100vw !important;
		height: 100vh !important;
		min-width: unset;
		min-height: unset;
	}
	.title-3FQ39e {
		width: 100%;
		height: 50px;
		padding: var(--spacing-double);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		font-weight: var(--font-weight-normal);
		font-size: var(--font-size-md);
		border-bottom: 1px solid var(--base-border);
		margin: 0;
		color: var(--text-normal);
	}

	// QR
	.qrLogin-1ejtpI {
		position: absolute;
		left: 100%;
		background: var(--background);
		box-shadow: var(--elevation-2);
		border-radius: var(--border-radius);
		border: 1px solid var(--border-color);
		margin-left: var(--spacing);
		height: auto;
		width: auto;
		top: 0;
		padding: 0;
		.qrLoginInner-1phtZ_ {
			justify-content: flex-start;
			.qrCodeContainer-1qlybH {
				padding: var(--spacing-double);
				margin: 0;
			}
		}
		.qrAvatar-3AAugH {
			padding: var(--spacing-double);
			margin-bottom: var(--spacing);
		}
		.startOverButton-1G3jim {
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			cursor: var(--cursor);
			min-height: var(--input-height);
			height: var(--input-height);
			line-height: normal;
			transition: none;
			box-sizing: border-box;
			padding: 0 var(--spacing);
			border-radius: var(--button-border-radius);
			color: var(--text-normal);
			background: var(--background-light);
			border: 1px solid var(--base-border);
			box-shadow: none !important;
			&:hover {
				border: 1px solid currentColor;
			}
			&:focus {
				box-shadow: 0 0 0 1px currentColor !important;
				border: 1px solid currentColor !important;
			}
		}
		.qrCodeOverlay-2bLtKl {
			height: 176px;
			width: 176px;
		}
		.title-3FQ39e {
			order: -1;
		}
		.qrCodeContainer-1qlybH {
			margin: 0;
		}
	}

	// Capcha
	img[src='/assets/0f4d1ff76624bb45a3fee4189279ee92.svg'] {
		display: none;
	}
	.g-recaptcha {
		margin: var(--spacing-double) 0;
	}
}

// Light Mode

html.theme-light #app-mount .wrapper-25sY58 .qrLogin-1ejtpI .startOverButton-1G3jim {
	&:hover {
		background: var(--background);
		border: 1px solid var(--secondary-border);
	}
	&:focus {
		box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.05) !important;
		border: 1px solid var(--secondary-border) !important;
	}
}
