#app-mount .applicationStore-2nk7Lo {
	.scrollerWrap-2lJEkd::before {
		content: none;
	}
	.scroller-29cQFV {
		background-color: var(--background-alt);
	}
	.detailsBlock-FoDTGA {
		background: var(--background);
		border: 1px solid var(--base-border);
	}
}
