#app-mount .applicationStore_fc7d76 {
	.scrollerWrap-2lJEkd::before {
		content: none;
	}
	.scroller__244e5 {
		background-color: var(--background-alt);
	}
	.detailsBlock-FoDTGA {
		background: var(--background);
		border: 1px solid var(--base-border);
	}
}
