@use '../assets';

#app-mount {
	.noChannel-Z1DQK7 {
		background: var(--background-alt);
		display: flex;
		flex-direction: column;
		&::before {
			content: '';
			width: 100%;
			height: var(--toolbar-height);
			display: block;
			position: relative;
			background: var(--toolbar-background);
			border-bottom: 1px solid var(--toolbar-border);
			box-sizing: border-box;
		}
		&::after {
			content: '';
			width: 100%;
			height: var(--toolbar-height);
			display: block;
			position: relative;
			background: var(--background-light);
			border-top: 1px solid var(--base-border);
			box-sizing: border-box;
		}
		.wrapper-5BaSTh {
			width: 100%;
			height: calc(100% - var(--toolbar-height) * 2);
			margin: 0;
			max-width: unset;
			background: var(--text-muted);
			mask: url(assets.$illustration_4) center/50% no-repeat;
			.image-20MDYu,
			.flexChild-3PzYmX {
				display: none;
			}
		}
	}
}
