#app-mount .modal-1sor29 {
	min-height: auto;
	color: var(--text-normal);
	box-shadow: var(--elevation-2);
	.header-2w6VV8 {
		padding: var(--spacing-double);
		border-bottom: 1px solid var(--base-border);
		button {
			padding: 0;
		}
	}
	.inner-ZyuQk0 {
		padding: var(--spacing-double);
		.content-1G6Z6z {
			padding-bottom: 0;
		}
	}
}
