#app-mount {
  .modalRoot-1Kx4Hb {
    .formGroup-2hEDrJ {
      margin-bottom:var(--spacing-double);
      &:nth-last-child(2) {
        margin:0;
      }
      .clearButton-13g8ju {
        background:var(--text-muted);
        opacity:1;
        mask:url($icon_close) center/10px no-repeat;
        width:16px;
        height:100%;
        right:var(--spacing-half);
        .clearIcon-xXwSFS {
          display:none;
        }
        &:hover {
          background:var(--text-normal);
        }
      }
      .emojiButtonContainer-3d6DFV {
        margin-right:var(--spacing);
        .emojiButton-3uL3Aw {
          cursor: var(--cursor);
          .sprite-2iCowe {
            height:20px;
            width:20px;
            transform:none !important;
            filter:none !important;
            background:var(--text-muted);
            -webkit-mask:url($icon_smiley_alt) center/90% no-repeat;
          }
          &:hover .sprite-2iCowe,
          .sprite-2iCowe[style*="grayscale(0%)"] {
            background:var(--text-normal);
          }
        }
      }
    }
    .art-347BZj {
      display: none;
    }
    .header-3C6qT5 {
      padding-top: 0;
      align-items: flex-start;
      width:auto;
      position:relative;
      .headerText-2uyvpY {
        font-size:var(--font-size-md);
        font-weight:var(--font-weight-semibold);
        color:var(--text-normal);
        line-height:normal;
      }
    }
    .modalCloseButton-3ztS-g {
      top:unset;
      right:calc(var(--spacing-double) - 6px) !important;
    }
  }
}