#app-mount [aria-label="Delete Message"] {
	.inner-ZyuQk0 {
		padding: var(--spacing);
	}
	.spacing-2kYqCu {
		margin-bottom: var(--spacing);
	}
	.message-G6O-Wv {
		box-shadow: none;
		background: transparent;
		padding: 0;
		.cozy-VmLDNB {
			padding-bottom: 0;
		}
	}
	.spacingTop-12U95P.block-3Xiiq7 {
		display: none;
	}
}
