#app-mount [aria-label="Delete Message"] {
  .inner-ZyuQk0 {
    padding: var(--spacing);
  }
  .spacing-2P-ODW {
    margin-bottom: var(--spacing);
  }
  .message-2qRu38 {
    box-shadow: none;
    background: transparent;
    padding: 0;
    .cozy-3raOZG {
      padding-bottom: 0;
    }
  }
  .spacingTop-3Dhr0L.block-2RXqH9 {
    display: none;
  }
}