#app-mount {
  .contentWrapper-3WC1ID {
    border: 1px solid var(--base-border);
    box-shadow: var(--elevation-1);
    border-radius: var(--border-radius);
    background: var(--background-light);
  }
  .inviteContent-3R63XV > div:last-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--spacing);
    & > button,
    & > div {
      margin: 0;
    }
  }
}