#app-mount .keyboardShortcutsModal-3piNz7 {
    background:var(--background);
    box-shadow:var(--elevation-2);
    border:1px solid var(--base-border);
    border-radius:var(--border-radius);
    opacity:1 !important;
    max-width:550px;
    min-width:550px;
    width:550px;
    max-height:575px;
    .modalTitle-37O4n6 {
        padding:var(--spacing-double);
        max-height:50px;
        margin:0;
        box-sizing:border-box;
        font-size:var(--font-size-md);
        color:var(--text-normal);
        font-weight:var(--font-weight-semibold);
        border-bottom:1px solid var(--base-border);
        .content-2Add9f {
            margin-right:var(--spacing);
        }
        .keybindShortcut-1BD6Z1 {
            margin:0;
        }
    }
    .keybindShortcut-1BD6Z1 {
        font-size:var(--font-size-sm);
        height:fit-content;
        color:var(--text-normal);
        font-weight:var(--font-weight-normal);
        margin-bottom:var(--spacing-half);
        margin-right:0;
        text-transform:capitalize;
        span {
            line-height: var(--line-height);
            border-radius:var(--border-radius);
            padding:var(--spacing-third) var(--spacing-half);
            color:var(--text-normal);
            background:var(--background-modifier-active);
            box-shadow:none;
            border:none;
            margin-right:var(--spacing-half);
            user-select:none;
            height:23px;
            transform:none;
        }
    }
    .ddrArrows-lSnH7P {
        top:0;
        right:0;
        height:50px;
        padding:0 var(--spacing-double);
        box-sizing:border-box;
        display:flex;
        align-items:center;
        .arrow-2enltQ {
            margin:0;
            height:26px;
            width:26px;
            margin-left:var(--spacing);
            background:var(--text-muted);
            opacity:.75;
            -webkit-mask:url($icon_arrow_down) center/cover no-repeat;
            &.left-21PxOi {
                transform:rotate(90deg);
            }
            &.up-fkTose {
                transform:rotate(180deg);
            }
            &.right-1AEPK3 {
                transform:rotate(-90deg);
            }
            &.active-2X6Ewx {
                background:var(--text-normal);
                opacity:1;
            }
        }
    }
    .modalSubtitle-1Pj5nv {
        display:none;
    }
    .keyboardShortcutList-13cQ-8 {
        padding:var(--spacing-double);
        width:100%;
        box-sizing:border-box;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:var(--spacing);
        height:auto;
        .keybindGroup--6Qp-w {
            padding:var(--spacing);
            border-radius:var(--border-radius);
            border:1px solid var(--base-border);
            height:fit-content;
            width:auto;
            background:var(--background-alt);
            transition:150ms ease;
            min-height:auto;
            box-sizing:border-box;
            position:relative;
            overflow:auto;
            &.groupEnd-1cdweh {
                margin-bottom:var(--spacing-double);
            }
            .keybindDescription-2RDbC2 {
                margin-bottom:var(--spacing-third);
                color:var(--text-normal);
                font-size:var(--font-size);
                text-transform:none;
                font-weight:var(--font-weight-normal);
            }
        }
    }
}