.root-SR8cQa {
  width:700px;
  background:var(--background);
  border-radius:var(--border-radius);
  box-shadow:var(--elevation-2);
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  transform:translateZ(0);
  animation:modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow:visible;
  padding-top:40px;

  // Right Sidebar
  [class*="topSection"] {
    width:234px;
    display:flex;
    flex-direction:column;
    background:var(--background);
    box-sizing:border-box;
    border-radius:var(--border-radius) 0 0 var(--border-radius);
    &:not(.topSectionNormal-2-vo2m) + .body-3ND3kc {
      margin-top:103px;
      height:calc(100% - 144px); 
    }
    &.topSectionPlaying-1J5E4n .activityProfile-2bJRaP  h3{
      display:none;
    }
  }

  // Activity
  .activity-1ythUs {
    position:relative;
    z-index:101;
    margin:var(--spacing-double) var(--spacing-double) 0 var(--spacing-double);
    padding:calc(var(--spacing) / 1.5);
    background:var(--background);
    border:1px solid var(--base-border);
    border-radius:var(--border-radius);
    order:-1;
    margin-bottom:calc(var(--spacing) * -1);
    .customStatusText-39gdCI {
      font-size:var(--font-size-sm);
      color:var(--text-normal);
      font-weight:var(--font-weight-normal);
      line-height:normal;
      .customStatus-154i-H {
        display:flex;
        align-items:center;
        .customStatusEmoji-3BvdMX {
          margin-right:var(--spacing-half);
          width:16px;
          height:16px;
        }
      }
    }
    .activityHeader-1PExlk {
      display:none;
    }
  }
  .activityProfile-2bJRaP {
    position:absolute;
    top:40px;
    left:234px;
    width:calc(100% - 234px);
    box-sizing:border-box;
    padding:var(--spacing);
    background:var(--accent);
    background-color:rgba(var(--accent), .25);
    height:102px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin:0;
    border-radius:0;
    border:none;
    border-right:1px solid var(--base-border);
    .bodyAlignCenter-1KzvJk, 
    .bodyNormal-2D39hT {
      width:100%;
    }
    .gameIcon-_0rmMm,
    .assetsLargeImageActivityFeed-25vA7H, 
    .assetsLargeImageActivityFeedXbox-3Tr-tf, 
    .assetsLargeImageProfile-3YXDex {
      height:50px;
      width:50px;
    }
    .details-38sfDr, .nameNormal-2lqVQK, .playTime-2uWd1Z, .state-Tt0LO3, .timestamp-VjAZmo {
      font-size:var(--font-size);
    }
  } 

  .headerFill-adLl4x {
    background:transparent;
  }

  .header-QKLPzZ {
    position:relative;
    display:block;
    height:100%;
    padding:var(--spacing-double);
    border:1px solid var(--base-border);
    border-top:none;  
    border-right:none;
    border-bottom-left-radius:var(--border-radius);
    &:after {
      content:'';
      position:fixed;
      height:calc(100% - 40px);
      top:40px;
      left:232px;
      border-right:1px solid var(--base-border);
      width:1px;
      z-index:100;
    }
    // Avatar
    .supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) {
      + .headerInfo-30uryT {
        pointer-events:none;
        .nameTag-2IFDfL {
          .username-3gJmXY {
            position:relative;
            left:calc(var(--font-size) + var(--spacing-half));
            z-index:-1;
          }
          span {
            pointer-events:all;
          }
        }
      }
      .mask-1l8v16 {
        -webkit-mask:none;
      }
      .badge-7R_W3s {
        width:var(--font-size) !important;
        height:var(--font-size) !important;
        top:unset !important;
        left:0 !important;
        bottom:calc(var(--spacing-double) * -1);
        transform:translateY(65%);
        z-index:902;
        background:rgb(var(--status-red)) !important;
      }
    }
    .wrapper-3t9DeA {
      width:calc(234px - var(--spacing) * 4) !important;
      height:calc(234px - var(--spacing) * 4) !important;
      margin-bottom:var(--spacing);
      background:var(--background);
      z-index:101;
      position:relative;
      box-shadow:none;
      box-sizing:border-box;
      border-radius:var(--border-radius) !important;
      rect {
        x:75px;
        y:75px;
        width:8px;
        height:8px;
        stroke-width:.35px;
      }
      &::before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1;
        border:1px solid var(--base-border);
        border-radius:var(--border-radius);
        box-sizing:border-box;
        pointer-events:none;
        clip-path: polygon(0 0, 100% 0, 100% 94%, 94% 94%, 94% 100%, 0 100%);
      }
      &::after {
        content:'';
        position:fixed;
        top:40px;
        left:0;
        width:234px;
        height:80%;
        z-index:-1;
        opacity:.5;
        pointer-events:none;
        border-left:1px solid var(--base-border);
        border-right:1px solid var(--base-border);
        box-sizing:border-box;
        background: var(--user-background) center/cover no-repeat;
        -webkit-mask: linear-gradient(black, transparent 80%);
      }
    }

    .headerInfo-30uryT {
      position:relative;
      flex:1;
      padding:0;
      margin-bottom:var(--spacing-double);
      display:block;
      width:100%;
      z-index:101;
      .nameTag-2IFDfL {
        margin:0;
        flex-direction:column;
        align-items:flex-start;
        .username-3gJmXY {
          font-size:var(--font-size-md);
          color:var(--text-normal);
          font-weight:var(--font-weight-semibold);
          line-height:normal;
        }
        .discriminator-xUhQkU {
          opacity:1;
          font-size:var(--font-size-sm);
          font-weight:var(--font-weight-normal);
          color:var(--text-muted);
          line-height:normal;
        }
      }
      // Badges (Dont forget custom icons)
      .profileBadges-2vWUYb {
        margin:0;
        margin-bottom:auto;
        padding:0;
        box-sizing:border-box;
        display:block;
        order:1;
        &::before {
          content:'';
          width:100%;
          box-sizing:border-box;
          height:1px;
          border-top:1px solid var(--base-border);
          display:block;
          position:relative;
          margin:var(--spacing) 0;
        }
        .profileBadgeWrapper-rl_RO6 {
          margin:0;
          margin-top:var(--spacing);
          div[aria-label] {
            display:flex;
            align-items:center;
            pointer-events:none;
            &::after {
              content:attr(aria-label);
              margin-left:var(--spacing-half);
              font-size:var(--font-size);
              color:var(--text-normal);
              font-weight:var(--font-weight-normal);
              line-height:normal;
              max-width:100%;
              white-space:nowrap;
              text-overflow:ellipsis;
              overflow:hidden;
            }
          }
          .profileBadge-2BqF-Z {
            width:18px;
            height:18px;
            background:var(--text-muted);
            cursor:var(--cursor);
            pointer-events:all;
            &:hover {
              background:var(--text-normal);
            }
            -webkit-mask-size:contain;
            -webkit-mask-position:center;
            -webkit-mask-repeat:no-repeat;
            &.profileBadgePremium-3kZ9Qj {
              -webkit-mask-image:url($icon_heart);
            }
            &.profileGuildSubscriberlvl1-pKd1EZ,
            &.profileGuildSubscriberlvl2-1aIFve,
            &.profileGuildSubscriberlvl3-33AROf,
            &.profileGuildSubscriberlvl4-2yY8EG,
            &.profileGuildSubscriberlvl5-1mIKQ8,
            &.profileGuildSubscriberlvl6-2tCBLE,
            &.profileGuildSubscriberlvl7-3M0RQX,
            &.profileGuildSubscriberlvl8-2ot52H,
            &.profileGuildSubscriberlvl9-1qrrRa {
              -webkit-mask-image:url($icon_rocket);
            }
            &.profileBadgeEarlySupporter-PQB_0a {
              -webkit-mask-image:url($icon_telescope);
            }
            &.profileBadgeVerifiedDeveloper-4WY75k {
              -webkit-mask-image:url($icon_code);
            }
            &.profileBadgeHypesquad-1YIe7Z {
              -webkit-mask-image:url($icon_megaphone);
            }
            &.profileBadgeHypeSquadOnlineHouse1-xN6tES {
              -webkit-mask-image: url($icon_flame);
            }
            &.profileBadgeHypeSquadOnlineHouse2-3jBpXR {
              -webkit-mask-image: url($icon_zap);
            }
            &.profileBadgeHypeSquadOnlineHouse3-1YbjMX {
              -webkit-mask-image: url($icon_law);
            }
          }
        }
      }
    }

    // Action Buttons
    .headerInfo-30uryT + div[role="button"],
    .headerInfo-30uryT + button + div[role="button"] {
      display:inline-block;
      float:right;
      position:relative;
      z-index:101;
      width:32px;
      height:var(--input-height);
      color: var(--text-normal);
      background: var(--background-light);
      border: 1px solid var(--base-border);
      box-shadow: none !important;
      box-sizing:border-box;
      border-radius:var(--button-border-radius);
      cursor: var(--cursor);
      &:after {
        content:'';
        color:inherit;
        background:currentColor;
        position:absolute;
        width:100%;
        height:100%;
        mask:url($icon_menu_horizontal) center/var(--font-size) no-repeat;
      }
      &:hover {
        border: 1px solid currentColor;
      }
      &:focus {
        box-shadow: 0 0 0 1px currentColor !important;
        border: 1px solid currentColor !important;
      }
      svg {
        display:none;
      }
    }
    button {
      margin-left:0 !important;
      margin-right:var(--spacing);
      width:calc(100% - var(--spacing) - 32px);
      position:relative;
      z-index:101;
      display:inline-block;
      float:left;
    }

    // Tab Bar
    + div[class] {
      order:-1;
      border-left:1px solid var(--base-border);
      &:after {
        content:'Your Profile';
        position:absolute;
        box-sizing:border-box;
        top:0;
        left:0;
        width:234px;
        display:flex;
        align-items:center;
        justify-content:center;
        border-right:1px solid var(--base-border);
        height:39px;
        padding:0 var(--spacing);
        font-size:var(--font-size);
        font-weight:var(--font-weight-normal);
        color:var(--text-normal) !important;
        box-shadow:inset 0 -3px 0px var(--accent-solid);
      }
      &:before {
        content:'';
        position:absolute;
        box-sizing:border-box;
        top:0;
        left:0;
        width:100%;
        display:flex;
        align-items:center;
        background:var(--background-dark);
        border-bottom:1px solid var(--base-border);
        border-top:none;
        border-radius:var(--border-radius) var(--border-radius) 0 0;
        border:1px solid var(--base-border);
        height:40px;
        overflow:hidden;
      }
      .tabBarContainer-1s1u-z {
        order:-1;
        z-index:1;
        position:absolute;
        box-sizing:border-box;
        top:0;
        left:0;
        padding:0;
        width:100%;
        display:flex;
        flex-direction:column;
        background:var(--background-dark);
        border-top:none;
        border-radius:var(--border-radius) var(--border-radius) 0 0;
        height:auto;
        overflow:hidden;
        .tabBar-2MuP6- {
          height:auto;
          .item-PXvHYJ {
            margin:0; 
            width:calc(100% / 3);
            padding:0 var(--spacing);
            text-align:center;
            font-size:var(--font-size);
            font-weight:var(--font-weight-normal);
            color:var(--text-normal) !important;
            display:flex;
            flex-grow:1;
            justify-content:center;
            border:none !important;
            border-left:1px solid var(--base-border) !important;
            border-bottom:1px solid var(--base-border) !important;
            border-top:1px solid var(--base-border) !important;
            box-sizing:border-box;
            height:40px;
            cursor:var(--cursor);
            &:hover {
              background:var(--background);
            }
            &:first-child {
              border-top-left-radius:var(--border-radius);
            }
            &:last-child {
              border-top-right-radius:var(--border-radius);
              border-right:1px solid var(--base-border) !important;
            }
            &:only-child {
              width:234px;
              flex-grow:0;
              border:1px solid transparent !important;
              border-right-color:var(--base-border) !important;
              &:after {
                content:'';
                position:fixed;
                top:0;
                left:0;
                width:100%;
                height:40px;
                border:1px solid var(--base-border); 
                box-sizing:border-box;
                border-radius:var(--border-radius) var(--border-radius) 0 0;
                border-bottom:none;
              }
            }
            &.selected-3s45Ha,
            &[style*="rgb(255, 255, 255)"] {
              box-shadow:inset 0 -3px 0px var(--accent-solid);
              background:transparent !important;
              color:var(--text-normal) !important;
            }
          }
        }
      }
    }
  }
  .body-3ND3kc {
    position:absolute;
    left:234px;
    width:calc(100% - 235px);
    height:calc(100% - 40px);
    background:var(--background-alt);
    border-right:1px solid var(--base-border);
    border-bottom:1px solid var(--base-border);
    border-bottom-right-radius:var(--border-radius);
    .infoScroller-3EYYns {
      padding:var(--spacing-double) !important;
      box-sizing:border-box;
      .userInfoSection-2acyCx {
        padding:0;
        margin-bottom:var(--spacing);
        .userInfoSectionHeader-CBvMDh {
          color:var(--text-normal);
          font-size:var(--font-size-md);
          font-weight:var(--font-weight-semibold);
          line-height:normal;
          text-transform:none;
          margin-bottom:var(--spacing-half);
        }
        .note-QfFU8y {
          margin:0;
        }
        +.userInfoSection-2acyCx {
          border:none;
          margin:0;
          &::before {
            content:'Connections';
            color:var(--text-normal);
            font-size:var(--font-size-md);
            font-weight:var(--font-weight-semibold);
            line-height:normal;
            margin-bottom:var(--spacing-half);
            display:block;
          }
        }
        .connectedAccounts-repVzS {
          margin:0;
          display:grid;
          grid-template-columns: 1fr 1fr;
          grid-gap:var(--spacing);
          .connectedAccount-36nQx7 {
            width:unset;
            margin:0;
            background:var(--background-light);
            border:1px solid var(--base-border);
            border-radius:var(--border-radius);
            padding:var(--spacing);
            flex-direction:column;
            align-items:flex-start;
            position:relative;
            overflow:hidden;
            .connectedAccountName-f8AEe2 {
              font-size:var(--font-size);
              font-weight:var(--font-weight-normal);
              line-height:normal;
              color:var(--text-normal);
              margin:0;
              + span {
                order:-1;
                .flowerStarContainer-3zDVtj {
                  margin:0;
                  margin-right:var(--spacing-half);
                }
              }
            }
            .connectedAccountOpenIcon-2cNbq5 {
            }
            .connectedAccountIcon-3P3V6F {
              position:absolute;
              top:0;
              right:0;
              width:auto;
              height:100%;
              padding:var(--spacing-half);
              box-sizing:border-box;
            }
          }
        }
      }
    }
  }
}

// Light mode
html.theme-light {
  .root-SR8cQa .header-QKLPzZ + div[class]:before {
    background:var(--background);
  }
  .root-SR8cQa .header-QKLPzZ + div[class] .tabBarContainer-1s1u-z {
    background:var(--background);
    .item-PXvHYJ:hover {
      background:var(--background-modifier-hover) !important;
    }
    .item-PXvHYJ.selected-3s45Ha,
    .item-PXvHYJ[style*="rgb(255, 255, 255)"] {
      background:transparent;
    }
  }
  .root-SR8cQa .header-QKLPzZ .actionButton-3W1xZa + div {
    &:hover {
      background: var(--background);
      border: 1px solid var(--secondary-border);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(0,0,0,0.05) !important;
      border: 1px solid var(--secondary-border) !important;
    }
  }
}