@use '../assets';

$leftSide: 233px;
$rightSide: 465px;
$bannerHeight: 180px;

#app-mount .root-3QyAh1 {
	width: 700px;
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--elevation-2);
	box-sizing: border-box;
	transform: translateZ(0);
	animation: modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: visible;
	padding-top: 40px;
	flex-direction: row;
	border: 1px solid var(--base-border) !important;
	box-shadow: var(--elevation-2) !important;

	& > div {
		background: transparent;
	}

	// Left side
	.topSection-y3p-_D {
		width: $leftSide;
		border-right: 1px solid var(--base-border);
		height: 100%;
		padding: var(--spacing-double);
		box-sizing: border-box;
		background: var(--background-dark);
		& > header {
			position: relative;
			display: flex;
			flex-direction: column;
		}
		// Avatar
		.wrapper-3t9DeA {
			position: relative;
			top: 0;
			left: 0;
			border: none;
			width: 193px !important;
			height: 193px !important;
			margin-bottom: 40px;
			rect {
				x: 112;
				y: 112;
				width: 16px;
				height: 16px;
			}
		}
	}

	// User banner
	.banner-2QYc2d {
		position: absolute;
		top: calc(var(--spacing-double) / -1 + 1px);
		left: calc(#{$leftSide} - var(--spacing-double));
		height: $bannerHeight;
		width: #{$rightSide};
	}
	.headerTop-547GTz {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
		position: unset;
	}
	// Usrbg support
	&[style*="--user-background"] .banner-2QYc2d:not(.bannerPremium-2hSAwz) {
		background: var(--user-background) center/cover no-repeat;
	}
	
	.customStatusActivity-nmH3DF {
		position: relative;
		z-index: 101;
		padding: calc(var(--spacing) / 1.5);
		background: var(--background);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		order: -1;
		margin-bottom: var(--spacing-double);
	}
	.customStatusText-2opeSw {
		font-size: var(--font-size-sm);
		color: var(--text-normal);
		font-weight: var(--font-weight-normal);
		line-height: normal;
	}
	.customStatus-1COQYu {
		display: flex;
		align-items: center;
		span {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.customStatusEmoji-1xY2Yn {
			margin-right: var(--spacing-half);
			width: 16px;
			height: 16px;
		}
	}

	// Badges
	.badgeList-1R1WgZ {
		margin: var(--spacing-double) 0;
		padding: 0;
		flex-direction: column;
		& > div, & > .bd-profile-badge {
			margin: 0;
			display: flex;
			align-items: center;
			&::after {
				content: attr(aria-label);
				margin-left: var(--spacing-half);
				font-size: var(--font-size);
				color: var(--text-normal);
				font-weight: var(--font-weight-normal);
				line-height: 18px;
				margin-top: -2px;
				width: 171px;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			&:not(:last-child) {
				margin-bottom: var(--spacing);
			}
		}
		&:empty {
			margin-bottom: 0;
		}
	}
	.bd-profile-badge svg {
		width: 14px;
		height: 14px;
		margin: 0 2px;
	}
	.profileBadge-2niAfJ {
		width: 18px;
		height: 18px;
		background: var(--text-muted);
		cursor: var(--cursor);
		overflow: hidden;
		position: relative;
		padding: 18px 18px 0 0;
		box-sizing: border-box;
		pointer-events: all;
		mask-size: contain;
		mask-position: center;
		mask-repeat: no-repeat;

		// Current nitro user
		&[src*="24d05f3b46a110e538674edbac0db4cd"] {
			mask-image: url(assets.$icon_heart);
		}
		// Server boosts
		&[src*="ca18353be0e57a2b3b3132fa1c08d6b4"],
		&[src*="e07c08cdc72bcc78b69c76d2c7ceb344"],
		&[src*="4a2618502278029ce88adeea179ed435"],
		&[src*="22f99ed6e34eaca48950254c70f8fe8d"],
		&[src*="c6d88d1d12afe03bdc4ebb747f8d196b"],
		&[src*="fbafa6adb7c49a6a2c3822521ff2af2f"],
		&[src*="d96ed283b74de75692487b7499fb8d09"],
		&[src*="0599f90e32c15b532647163edd72f70a"] {
			mask-image: url(assets.$icon_rocket);
		}
		// Early support
		&[src*="b802e9af134ff492276d94220e36ec5c"],
		&.powercord-badge-early {
			mask-image: url(assets.$icon_telescope);
			background: var(--text-muted);
			path {
				display: none;
			}
		}
		// Verified Bot Developer
		&[src*="4441e07fe0f46b3cb41b79366236fca6"] {
			mask-image: url(assets.$icon_code);
		}
		// Hypesquad
		&[src*="e666a84a7a5ea2abbbfa73adf22e627b"] {
			mask-image: url(assets.$icon_megaphone);
		}
		// Hypesquad Bravery
		&[src*="efcc751513ec434ea4275ecda4f61136"] {
			mask-image: url(assets.$icon_flame);
		}
		// Hypesquad Brilliance
		&[src*="ec8e92568a7c8f19a052ef42f862ff18"] {
			mask-image: url(assets.$icon_zap);
		}
		// Hypesquad Balance
		&[src*="9f00b18e292e10fc0ae84ff5332e8b0b"] {
			mask-image: url(assets.$icon_law);
		}
		// Paterned Server Owner
		&[src*="34306011e46e87f8ef25f3415d3b99ca"] {
			mask-image: url(assets.$icon_text_link);
		}
		&.profileBadgeStaff-3BXdTO,
		&.powercord-badge-staff {
			mask-image: url(assets.$icon_tools);
			background: var(--text-muted);
			path {
				display: none;
			}
		}
		&.profileBadgeBugHunterLevel1-dbEzVz,
		&.profileBadgeBugHunterLevel2-3TUciC,
		&.powercord-badge-hunter {
			mask-image: url(assets.$icon_bug);
			background: var(--text-muted);
			path {
				display: none;
			}
		}
		&.powercord-badge-developer {
			mask-image: url(assets.$icon_plug);
			background: var(--text-muted);
			path {
				display: none;
			}
		}
		&.powercord-badge-translator {
			mask-image: url(assets.$icon_globe);
			background: var(--text-muted);
			path {
				display: none;
			}
		}
	}

	// Username
	.nameTag-ECvD8P {
		position: absolute;
		margin: 0;
		top: calc(183px + var(--spacing-double));
		font-size: var(--font-size-md);
		flex-direction: column;
		align-items: flex-start;
		& > span {
			line-height: var(--line-height);
		}
		&.nameTagWithCustomStatus-2kkfrQ {
			top: calc(233px + var(--spacing-double));
		}
	}
	.discriminator-1swucG {
		font-size: var(--font-size);
		color: var(--text-muted);
	}

	// Actions
	.relationshipButtons-pUQVkf {
		width: 100%;
		& > button {
			margin-left: 0;
			width: 100%;
		}
		& > [role="button"] {
			margin-right: -8px;
		}
	}
	

	// Tabs
	.tabBarContainer-37hZsr {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		border-bottom: 1px solid var(--base-border);
		padding: 0;
	}
	.tabBar-3nvOPa {
		height: auto;
	}
	.item-PXvHYJ {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		color: var(--text-normal) !important;
		display: flex;
		flex: 1;
		justify-content: center;
		border: none !important;
		box-sizing: border-box;
		height: 40px;
		cursor: var(--cursor);
		&:not(:first-child) {
			border-left: 1px solid var(--base-border) !important;
		}
		&:hover {
			background: var(--background);
		}
		&:first-child {
			border-top-left-radius: var(--border-radius);
		}
		&:last-child {
			border-top-right-radius: var(--border-radius);
		}
		&:only-child {
			width: $leftSide;
			flex-grow: 0;
			border: 1px solid transparent !important;
			border-right-color: var(--base-border) !important;
			&:after {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 40px;
				border: 1px solid var(--base-border);
				box-sizing: border-box;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
			}
		}
		&.selected-3s45Ha,
		&[style*="rgb(255, 255, 255)"] {
			box-shadow: inset 0 -3px 0px var(--accent-solid);
			background: transparent !important;
			color: var(--text-normal) !important;
		}
	}


	// Body
	.body-r6_QPy {
		width: $rightSide;
		border-top-color: var(--base-border);
		position: absolute;
		height: calc(100% - 41px);
		left: $leftSide;
		top: 41px;
	}
	.noTabBar-3ZjPNR:after {
		content: "Your Profile";
		position: absolute;
		box-sizing: border-box;
		top: -41px;
		left: calc(#{$leftSide} / -1);
		width: $leftSide;
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid var(--base-border);
		height: 40px;
		padding: 0 var(--spacing);
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		color: var(--text-normal) !important;
		box-shadow: inset 0 -3px 0px var(--accent-solid);
	}
	.note-367eZJ {
		margin: 0;
	}

	.userInfoSection-q_35fn {
		border: none;
		padding: var(--spacing-double);
		background: var(--background);
		& + .userInfoSection-q_35fn {
			padding-top: 0;
			&:before {
				content: "Connections";
				color: var(--text-normal);
				font-size: var(--font-size-md);
				font-weight: var(--font-weight-semibold);
				line-height: normal;
				margin-bottom: var(--spacing-half);
				display: block;
			}
		}
	}
	.userInfoSectionHeader-3TYk6R {
		color: var(--text-normal);
		font-size: var(--font-size-md);
		font-weight: var(--font-weight-semibold);
		line-height: normal;
		text-transform: none;
		margin-bottom: var(--spacing-half);
	}
	.infoScroller-1Qu30O {
		padding: var(--spacing-double);
	}

	.connectedAccounts-QlRa4m {
		margin: 0;
		display: block;
		column-count: 2;
		column-gap: var(--spacing);
	}
	.connectedAccount-2Jb-Z0 {
		width: unset;
		margin: 0;
		background: var(--background-light);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		padding: var(--spacing);
		position: relative;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		break-inside: avoid;
		margin-bottom: var(--spacing);
		.connectedAccountName-E1KzaT {
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			line-height: normal;
			color: var(--text-normal);
			margin: 0;
			& + span {
				display: none;
			}
		}
		img {
			display: inline-block;
			width: 16px;
			height: 16px;
			content: url(assets.$blank);
			background: var(--text-normal);
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			margin-right: var(--spacing);
			&[src*="7b964801001dd47cc05a91d6dacf6075.png"] {
				mask-image: url(assets.$icon_battlenet);
			}
			&[src*="a9c26c8bebe406ca1adc1967bc532224"] {
				mask-image: url(assets.$icon_steam);
			}
			&[src*="8d8f815f3d81a33b1e70ec7c22e1b6fe"] { // Ain't nobody got their facebook connected.
				mask-image: url(assets.$icon_facebook);
			}
			&[src*="007e5cb8871cf0987283c6307ce7fed0"] {
				mask-image: url(assets.$icon_twitch);
			}
			&[src*="afb09840b496f2c49032075a33da7fab"] {
				mask-image: url(assets.$icon_github);
			}
			&[src*="6919f2a578d91a5d033b639f0fb52b3d"] {
				mask-image: url(assets.$icon_twitter);
				mask-size: 125%;
			}
			&[src*="b46c06eb71dc56a41432512168e6759a"] {
				mask-image: url(assets.$icon_reddit);
			}
			&[src*="746aba83c88f087e3eef23a47dd57923"] {
				mask-image: url(assets.$icon_xbox);
			}
			&[alt="Skype Logo" i] { // I checked like 100+ people for a skype connect and didn't find one.
				mask-image: url(assets.$icon_skype);
			}
			&[src*="25ec573cf82ee36d12296628f6bec11b"] {
				mask-image: url(assets.$icon_youtube);
			}
			&[src*="7906941c1205ba04b6921f2af4c6a170"] {
				mask-image: url(assets.$icon_spotify);
			}
			&[src*="a0e2182e843745c73f7f3c8325a05ea9"] {
				mask-image: url("/assets/806953fe1cc616477175cbcdf90d5cd3.png");
			}
		}
		a {
			font-size: var(--font-size);
			margin-top: var(--spacing-third);
			width: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;
			border-top: 1px solid var(--base-border);
			padding-top: var(--spacing-half);
			margin-top: var(--spacing-half);
			line-height: normal;
			svg {
				display: none;
			}
			&:after {
				content: attr(href);
				width: 100%;
				white-space: nowrap;
			}
		}
	}

	// Activity
	.headerText-1HLrL7 {
		color: var(--text-normal);
		font-size: var(--font-size-md);
		font-weight: var(--font-weight-semibold);
		line-height: normal;
		text-transform: none;
		margin-bottom: var(--spacing-half);
	}
	.userProfileActivity-Bnt1p_ {
		padding: var(--spacing-double);
		& + .userProfileActivity-Bnt1p_ {
			padding-top: 0;
		}
	}
	.bodyNormal-2D39hT {
		display: grid;
		grid-template-columns: 56px 1fr;
		grid-gap: var(--spacing);
	}
	.assetsLargeImageActivityFeed-25vA7H,
	.assetsLargeImageActivityFeedXbox-3Tr-tf,
	.assetsLargeImageProfile-3YXDex {
		width: 56px;
		height: 56px;
	}
	.assetsSmallImageActivityFeed-2LNxrO,
	.assetsSmallImageProfile-3JcsV1 {
		width: 24px;
		height: 24px;
	}
	.content-3JfFJh {
		margin-left: 0;
	}
	.actionsProfile-jEtjVX {
		margin-left: 0;
		grid-column: 1/3;
	}
	.textRow-19NEd_ {
		font-size: var(--font-size);
	}
	.spotifyIcon-2J9kSv {
		top: 0;
		right: var(--spacing-double);
	}



	
	.listScroller-3GmIYj,
	.infoScroller-1Qu30O {
		padding: #{$bannerHeight} 0 0;
		& > div {
			position: relative;
			z-index: 1;
			&[style="position: absolute; pointer-events: none; min-height: 0px; min-width: 1px; flex: 0 0 auto; height: 20px;"] {
				display: none;
			}
		}
		&::-webkit-scrollbar {
			display: none;
		}
		&:before {
			content: "";
			position: absolute;
			top: calc(#{$bannerHeight} - 1px);
			left: 0;
			height: $bannerHeight;
			width: 100%;
			border-top: 1px solid var(--base-border);
			background: var(--background);
			z-index: 0;
		}
	}
	.listRow-1iDGel {
		margin: 0;
		border-radius: 0;
		background: var(--background);
		cursor: var(--cursor);
		padding: var(--spacing);
		&:hover {
			background: var(--background-modifier-hover);
		}
		&:active {
			background: var(--background-modifier-active);
		}
	}
	.listAvatar-1BbvHX {
		width: 24px;
		height: 24px;
		border-radius: var(--border-radius);
		border: 1px solid var(--base-border);
		margin-right: var(--spacing);
	}
	.listRowContent-i8Bizk {
		display: flex;
		align-items: center;
	}
	.listName-U3shDM {
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
	}
	.guildNick-kAvTju {
		font-weight: var(--font-weight-normal);
		margin-left: var(--spacing);
	}
}