#app-mount .uploadModal-2ifh8j {
  box-shadow:var(--elevation-high);
  background-color: var(--background);
  border-radius: var(--border-radius);
  border:1px solid var(--base-border);
  box-sizing:border-box;
  position: relative;
  padding-top: 32px;
  min-height: unset;
  .inner-3nWsbo {
    margin: 0;
    padding:var(--spacing-double);
    box-sizing:border-box;
  }
  .file-34mY5K {
    position: unset;
    height: auto;
  }
  .icon-kyxXVr {
    &:not(.image-2yrs5j) {
      display: none;
    }
    &.image-2yrs5j {
      margin: 0 !important;
      width: 100% !important;
      height: auto !important;
      background-size: cover;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid var(--base-border);
      background-color: var(--background);
      border-radius:var(--border-radius);
      &:active {
        background-size: 100%;
      }
    }
  }
  .description-2ug5H_ {
    height: auto;
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing);
    border-bottom: 1px solid var(--base-border);
    background: var(--background);
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    .filename-ovv3c5 {
      font-size: var(--font-size);
      font-weight:var(--font-weight-semibold);
      color:var(--text-normal);
      line-height: normal;
      height: auto;
      user-select:text;
    }
  }
  .label-3aiqT2 {
    display: none;
  }
  .comment-4IWttf {
    margin: 0;
    margin-top:var(--spacing);
  }
  .channelTextArea-2VhZ6z {
    margin:0;
    .inner-MADQqc {
      background:var(--background-alt);
    }
  }
  .scrollableContainer-2NUZem {
    border-radius: var(--border-radius);
  }
  .charcounter {
    font-size: var(--font-size);
    opacity: .5;
  }
  .footer-3mqk7D {
    background: var(--background);
    box-shadow: none;
    border-top: 1px solid var(--base-border);
    padding: var(--spacing);
  }
  .checkboxWrapper-SkhIWG {
    flex: none;
  }
  .checkbox-1ix_J3 {
    border: none;
    background: var(--background-dark);
    &.checked-3_4uQ9 {
      background: var(--accent-solid);
      polyline {
        stroke: #fff;
      }
    }
  }
}