#app-mount {
	.container-2o3qEW {
		background: var(--background);
	}
	.membersWrap-3NUR2t {
		width: var(--sidebar-width);
		border-left: 1px solid var(--base-border);
		background: var(--background);
		min-width: unset;
	}
	.members-3WRCEx {
		background: transparent;
		width: 100%;
		& > div {
			background: transparent;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
