#app-mount .members__9f47b .membersGroup__85843 {
	padding: var(--spacing);
	height: auto;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
	color: var(--text-normal);
	text-transform: none;
}
