@use '../assets';

#app-mount .member_aa4760 {
	padding: 0;
	margin: 0;
	max-width: 100%;
	background: transparent;
	&.offline_c1fd80 {
		opacity: 0.5;
	}

	// Generic member entries
	.layout_bb8e67 {
		border-radius: 0;
		height: var(--member-height);
		padding: 0 calc(var(--spacing) + 5px);
		cursor: var(--cursor);
	}
	.avatar__6337f {
		margin-right: var(--spacing-double);
		width: var(--avatar-size-sm) !important;
		height: var(--avatar-size-sm) !important;
	}
	.name__16feb {
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		color: var(--text-normal);
		line-height: normal;
	}
	.wrapper-1VLyxH {
		width: var(--avatar-size-sm) !important;
		height: var(--avatar-size-sm) !important;
	}
	.content_a6999d {
		overflow: visible;
	}
	.activity__3cbac {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--text-muted);
		.icon_d942d4 {
			margin-left: calc(var(--spacing) / 4);
		}
	}

	// Bot Tag
	.botTag_a52f38:not(.tag-wWVHyf) {
		font-size: 0;
		padding: 0;
		height: auto;
		width: auto;
		background-color: var(--background-modifier-active);
		border-radius: var(--border-radius);
		order: -1;
		margin-left: 0;
		margin-top: 0;
		margin-right: var(--spacing-half);
		span,
		svg {
			display: none;
		}
		&::before {
			content: '';
			width: 16px;
			height: 16px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			mask: url(assets.$icon_cog) center/12px no-repeat;
			background: var(--text-normal);
		}
	}
	&.selected__9800b {
		.activity__3cbac,
		.roleColor-nA7BqX {
			color: #fff !important;
		}
	}

	// Placeholders
	&.placeholder__65cd3 {
		padding: 0 var(--spacing);
		animation: none;
		.placeholderAvatar__21e48 {
			border-radius: var(--border-radius);
			border: 1px solid var(--base-border);
			width: var(--avatar-size-sm);
			height: var(--avatar-size-sm);
			background: var(--background-dark);
		}
	}
	&.offline_c1fd80 .wrapper-1VLyxH foreignObject::after {
		content: none;
	}
}
.mulitplePlaceholderUsername__5bd27,
.placeholderUsername__7fd2c,
.memberGroupsPlaceholder_d0ae46 {
	background: var(--text-muted);
	opacity: 0.2;
	height: 4px;
	animation: none;
	border-radius: var(--border-radius);
}
