#app-mount .addGamePopout-2RY8Ju {
	padding: var(--spacing);
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--elevation-1);
	border: 1px solid var(--base-border);
	margin-left: -150px;
	.divider-3573oO {
		display: none;
	}
	.actions-3wcPyD {
		margin-top: var(--spacing);
	}
}
