#app-mount .autocomplete-1vrmpx {
  background: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid var(--base-border);
  box-shadow: var(--elevation-1);
  margin-left: calc((var(--spacing-double) + var(--avatar-size-sm)) * -1 + var(--spacing));
  bottom: calc(100% + var(--spacing-double));
  max-height: 272px;
  .wrapper-3t9DeA {
    height: var(--avatar-size-xsm) !important;
    width: var(--avatar-size-xsm) !important;
  }

  // Leftside
  .wrapper-uf3cnO {
    padding-bottom: 0;
    margin-bottom: 0;
    width: 38px;
    border-right: 1px solid var(--base-border);
    .wrapper-2siovq {
      width: 38px !important;
      height: 38px !important;
      padding: 0 !important;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &.selected-3xBBKs {
        background: rgba(var(--accent), 1);
      }
    }
  }
  .wrapper-2Gsate {
    background: var(--background-dark);
  }
  .listItems-1uJgMC {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }

  // Right side
  .categorySection-231RiR {
    height: 100%;
  }

  .bar-AokMp3 {
    padding: 0 var(--spacing);
    height: auto;
    margin-bottom: 0;
    background: var(--background);
  }
  .base-1pYU8j {
    border-radius: 0;
    align-items: center;
    height: var(--item-height);
    display: flex;
    padding: 0 var(--spacing);
    .contentTitle-2tG_sM {
      color: var(--text-normal);
      text-transform: none;
      font-size: var(--font-size);
      font-weight: var(--font-weight-semibold);
      line-height: normal;
      padding: 0;
      strong {
        line-height: var(--line-height);
        border-radius: var(--border-radius);
        padding: var(--spacing-third) var(--spacing-half);
        color: var(--text-normal);
        background: var(--background-modifier-active);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        flex-grow: 0;
        display: inline-flex;
        user-select: none;
        margin-left: var(--spacing-half);
      }
    }
  }
  .wrapper-2IKwZK {
    width: 100%;
    justify-content: space-between;
  }
  .infoWrapper-3ekLP_ {
    display: grid;
    grid-template-columns: .4fr 2fr;
    grid-gap: var(--spacing);
  }
  .autocompleteInner-zh20B_ {
    padding-bottom: 0;
  }
  .autocompleteRow-2OthDa {
    padding: 0;
    border-radius: 0;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--text-normal);
    .selectable-3dP3y- {
      cursor: var(--cursor);
      &:hover, &.selected-1Tbx07 {
        background: var(--background-modifier-hover);
      }
      &:active {
        background: var(--background-modifier-active);
      }
      .content-Qb0rXO {
        color: var(--text-normal);
      }
    }
    .iconForeground-1w5n7R {
      fill: var(--text-muted);
    }
    .size14-e6ZScH {
      font-size: var(--font-size);
      &[style*="color"] {
        font-weight: var(--font-weight-semibold);
        border: 1px solid currentColor;
        width: fit-content;
        flex-grow: 0 !important;
        padding: var(--spacing-third);
        border-radius: var(--border-radius);
        font-size: var(--font-size-sm);
        line-height: normal;
        & + .description-11DmNu {
          background: transparent !important;
          margin: 0;
          margin-left: auto;
          padding: 0;
          color: var(--text-muted);
        }
      }
    }
  }
  .flexChild-faoVW3 {
    display: flex;
    align-items: center;
  }
  .colorStandard-2KCXvj.flexChild-faoVW3 {
    margin: 0;
  }
  .divider-23swzi {
    background: var(--base-border);
  }
  .selector-2IcQBU {
    border-radius: 0;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    height: var(--item-height);
    &.selectorSelected-1_M1WV {
      background: var(--background-modifier-hover);
    }
  }
  .marginLeft4-3VaXdt {
    font-size: var(--font-size);
    color: var(--text-normal);
    font-weight: var(--font-weight-normal);
    margin-left: var(--spacing);
  }
  .description-11DmNu {
    line-height: var(--line-height);
    border-radius: var(--border-radius);
    padding: var(--spacing-third) var(--spacing-half);
    color: var(--text-normal);
    background: var(--background-modifier-active);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    flex-grow: 0;
    display: inline-flex;
    user-select: none;
    .colorStandard-2KCXvj {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: normal;
    }
  }
}

#app-mount .channelTextAreaUpload-3t7EIx .autocomplete-1vrmpx {
  margin: 0 !important;
  bottom: unset;
  top: calc(100% + var(--spacing-half) + 5px);
  &::before {
    content: "";
    top: -5.5px;
    transform: translateX(-50%);
    transform: rotate(-135deg);
    position: absolute;
    left: 50%;
    height: 10px;
    width: 10px;
    background: var(--background);
    border-bottom: 1px solid var(--base-border);
    border-right: 1px solid var(--base-border);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    box-shadow: var(--elevation-1);
  }
}
