#app-mount .popouts-2bnG9Z {
    .popout-2iWAc- {
        background:var(--background);
        box-shadow:var(--elevation-1) !important;
        border-radius:var(--border-radius);
        box-sizing:border-box;
        transform:none !important;
    }
}

.full-motion body .translate-2dAEQ6 {
    transform:none !important;
    -webkit-transform:none !important;
    transition:none;
}