#app-mount .popouts-2bnG9Z {
    .popout-2iWAc- {
        background:var(--background);
        box-shadow:var(--elevation-1) !important;
        border-radius:var(--border-radius);
        box-sizing:border-box;
        transform:none !important;
    }
}

.full-motion .translate-2dAEQ6.animatorLeft-1EQxU0 {
    transform:translateZ(0) !important;
}