.layer-v9HyYc[style*="position: absolute;"][style*="bottom: 9"][style*="left"] .animatorTop-2Y7x2r {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  transform: none !important;
  transition: none !important;
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--backdrop);
    z-index: 0;
    pointer-events: none;
  }
}

#app-mount .container-2x5lvQ {
  background: var(--background);
  position: fixed;
  box-shadow: none;
  top: var(--titlebar-height);
  left: 0;
  width: calc(var(--sidebar-width) + var(--noasw-base));
  border-right: 1px solid var(--base-border);
  height: calc(100vh - var(--titlebar-height));
  border-radius: 0;
  header {
    height: var(--toolbar-height);
    padding: 0 var(--spacing);
    justify-content: flex-start;
    background: transparent;
    border-radius: 0;
  }
  section {
    height: calc(100% - (var(--titlebar-height) + var(--toolbar-height)));
    background: transparent;
    padding: var(--spacing) var(--spacing) 0;
    display: flex;
    flex-direction: column;
  }
  hr {
    height: 100%;
    margin: 0;
  }
  canvas {
    width: 295px !important;
    height: 210px !important;
  }
  p {
    color: var(--text-normal);
    font-size: var(--font-size);
  }
  strong {
    color: var(--text-focus);
  }
  .popoutBottom-31rU82 {
    margin: 0;
  }
}