#app-mount {
  .horizontalAutocompletes-3blb-Z {
    margin-bottom: 0;
    padding: 0 var(--spacing);
  }
  .horizontalAutocomplete-L5KnTN {
    margin-right: var(--spacing);
    .selector-2IcQBU {
      height: 90px;
    }
  }
}