#app-mount .userPopout-xaxa6l {
	box-shadow: var(--elevation-1);
	border-radius: var(--border-radius);
	border: 1px solid var(--base-border);
	background: var(--background);
	overflow: hidden;
	transform: translateZ(0) !important;

	.bodyTitle-1ySSKn,
	.headerText-1HLrL7,
	.aboutMeTitle-1IYtPE {
		color: var(--text-normal);
		font-weight: var(--font-weight-semibold);
		font-size: var(--font-size);
		padding: 0 var(--spacing);
		text-transform: none;
		background: var(--background-light);
		border-bottom: 1px solid var(--base-border);
		border-top: 1px solid var(--base-border);
		margin-bottom: var(--spacing);
		height: 28px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	// Header
	.headerNormal-3KXFBt {
		background: transparent;
	}
	.headerTop-3vNv-a {
		background: transparent;
		border: none;
		padding: calc(var(--spacing-triple) + var(--spacing)) var(--spacing) var(--spacing);
	}
	.banner-2QYc2d {
		border-bottom: 1px solid var(--base-border);
	}
	.nickname-3M3Jfa {
		font-size: var(--font-size-md);
		color: var(--text-focus);
	}
	.headerTagNoNickname-3qrd77 {
		font-size: var(--font-size-md);
		line-height: normal;
	}
	.headerTagWithNickname-3l_x6x {
		font-size: var(--font-size);
		color: var(--text-normal);
	}
	.discrimBase-24vY8o {
		top: 0;
	}
	.profileBadges-ohc0Vu {
		right: var(--spacing);
		top: var(--spacing);
		& > div {
			margin: 0 var(--spacing) 0 0;
		}
	}
	.customStatus-oN4ZZY {
		font-size: var(--font-size);
		align-items: center;
	}
	.setIdentityLink-1t8Ahd {
		display: none;
	}
	.aboutMeSection-1Fw5Ia {
		padding: 0;
	}
	.aboutMeBody-3GuvKk {
		padding: 0 var(--spacing) var(--spacing);
	}

	// Avatar
	.avatarPositionNormal-aZjAsn {
		top: 25px;
		left: var(--spacing);
	}
	.avatarPositionPremium-3We5Ho {
		top: 85px;
		left: var(--spacing);
	}
	.avatar-37jOim {
		background: var(--background);
		box-shadow: none;
		border: 1px solid var(--base-border);
		width: var(--avatar-size-xl) !important;
		height: var(--avatar-size-xl) !important;
		border-radius: calc(var(--avatar-radius) * 2);
		img {
			border-radius: calc(var(--avatar-radius) * 2);
		}
	}
	.avatarHint-2A3RNb {
		top: 1px;
		left: 1px;
		z-index: 1;
		foreignObject {
			mask: none;
			width: var(--avatar-size-xl);
			height: var(--avatar-size-xl);
		}
	}

	// Activity
	.activity-3v9l4T {
		padding: 0;
	}
	.body-ZAhrcj {
		padding: 0 var(--spacing) var(--spacing);
	}
	.content-3JfFJh {
		margin-left: var(--spacing);
	}
	.assetsLargeImageUserPopout-3Pp8BK,
	.assetsLargeImage-eYwpTX {
		width: 50px;
		height: 50px;
	}
	.textRow-19NEd_ {
		font-size: var(--font-size);
		line-height: normal;
	}
	.activityName-1IaRLn,
	.nameNormal-2lqVQK,
	.nameWrap-3Z4G_9 {
		font-size: var(--font-size);
	}
	.buttonsWrapper-2spIeK {
		margin-top: 0;
		padding: 0 var(--spacing) var(--spacing);
		.buttonSize-AQY2mE {
			height: var(--input-height);
			min-height: var(--input-height);
		}
		&:empty {
			padding: 0;
		}
	}

	// Spotify
	.spotifyIcon-2J9kSv {
		top: 6px;
		right: var(--spacing);
		height: 15px;
		width: 15px;
	}
	.timeBarUserPopout-AWPFf2 {
		margin-top: 0;
		position: absolute;
		top: calc(18px + var(--spacing));
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		pointer-events: none;
		.flex-1xMQg5 {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	.bar-3urHkF {
		margin-bottom: 0;
		height: 100%;
		background: rgba(var(--discord-spotify), .1);
	}
	.barInner-3NDaY_ {
		border-radius: 0;
		background: rgba(var(--discord-spotify), .4);
	}

	// Body
	.body-3HBlXn {
		background: transparent;
		padding: 0;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.bodyInnerWrapper-26fQXj {
		padding: 0;
		background: transparent;
	}
	.divider-ewBQKj {
		display: none;
	}

	// Roles
	.rolesList-1geHY1 {
		margin: 0;
		padding: 0 var(--spacing) var(--spacing);
		position: unset;
	}
	.member-perm,
	.role-2irmRk {
		border: none;
		position: relative;
		border-radius: 50px;
		overflow: hidden;
		padding: var(--spacing-half) calc(var(--spacing) / 1.5);
		margin: 0 var(--spacing-half) var(--spacing-half) 0;
		height: auto;
		height: 22px;
		&:hover .roleCircle-3xAZ1j,
		&:active .roleCircle-3xAZ1j {
			opacity: 1;
			box-sizing: border-box;
			.roleRemoveIcon-2-TeGW {
				opacity: 1;
			}
		}
		.perm-circle,
		.roleCircle-3xAZ1j {
			margin: 0;
			border-radius: var(--border-radius);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.75;
			border-radius: 50px;
			.roleRemoveIcon-2-TeGW {
				position: relative;
				z-index: 10;
				background: inherit;
				width: 100%;
				height: 100%;
				padding: var(--spacing-third);
				box-sizing: border-box;
				opacity: 0;
				border-radius: 50px;
				path {
					fill: var(--white);
					transform: scale(0.75);
					transform-origin: center;
				}
			}
		}
		.member-perm .name,
		.roleName-32vpEy {
			overflow: hidden;
			line-height: normal;
			position: relative;
			z-index: 1;
			margin-right: 0;
			color: var(--white);
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
		}
	}
	.actionButton-VzECiy {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0 var(--spacing);
		height: 28px;
		border-radius: var(--border-radius);
		color: var(--text-muted);
		cursor: var(--cursor);
		.addButtonIcon-1NMJ8u {
			height: var(--font-size);
			width: var(--font-size);
			cursor: var(--cursor);
		}
		&:hover,
		&[aria-expanded="true"] {
			color: var(--text-normal);
		}
	}



	.footer-3UKYOU {
		background: transparent;
		padding: 0;
		.protip-2urNh2 {
			display: none;
		}
		.inputWrapper-31_8H8 {
			margin: 0 var(--spacing) var(--spacing);
		}
	}
	.note-1oo11U {
		margin: var(--spacing);
	}



	// Usrbg support
	&[style*="--user-background"] {
		.banner-2QYc2d {
			height: 120px;
			background: var(--user-background) center/cover no-repeat;
		}
		.avatarPositionNormal-aZjAsn {
			top: 85px;
		}
	}
}