:root {
	--slate-file-version: '1.2';
	--slate-base-version: '1.6.15';
	--slate-palette: 'Primer';

	// Roundness
	--border-radius: 3px;
	--button-border-radius: 2px;
	--avatar-radius: var(--border-radius);
	--server-radius: var(--border-radius);

	// Primary Coloring
	--accent-solid: rgb(var(--accent), 1);
	--bd-blue: var(--accent-solid);
	--bd-blue-hover: var(--accent-solid);

	// ASW Fallbacks
	--noasw-padding: calc(
		var(--toolbar-height) + (var(--server-icon-size) - var(--server-icon-size))
	);
	--noasw-base: var(--container, 72px);
	--noasw-channel-header: var(--container, 0px);

	// Spacing
	--spacing-third: calc(var(--spacing) / 3);
	--spacing-half: calc(var(--spacing) / 2);
	--spacing: 10px;
	--spacing-double: calc(var(--spacing) * 2);
	--spacing-triple: calc(var(--spacing) * 3);
	--spacing-compact: 2px;

	// Fonts
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
	--font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	// Text Scaling
	--font-size-xsm: 9px;
	--font-size-sm: 11px;
	--font-size: 12px;
	--font-size-md: 14px;
	--font-size-lg: 28px;
	--font-size-xl: 32px;
	--font-size-xxl: 42px;
	--line-height-sm: 1;
	--line-height: 1.5;

	// Chat
	--chat-font-size-xsm: var(--font-size-xsm);
	--chat-font-size-sm: var(--font-size-sm);
	--chat-font-size: var(--font-size);
	--chat-avatar-size: var(--avatar-size);

	// Font weights
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	// Titlebar
	--titlebar-height: 28px;
	--win32-close-background-hover: #e81123;
	--win32-close-background-active: #bf0f1d;

	// Toolbar
	--toolbar-height: 50px;
	--toolbar-text-normal: #d1d5da;
	--toolbar-text-muted: #959da5;
	--toolbar-text-focus: #ffffff;
	--toolbar-search-background: #161a1d;
	--toolbar-search-border: var(--toolbar-border);
	--toolbar-background: #1d2125;
	--toolbar-background-hover: #2f363d;
	--toolbar-background-active: #444d56;
	--toolbar-background-alt: #24292e;
	--toolbar-border: #141414;

	// Inputs
	--input-height: 25px;

	// List Items
	--item-height: 34px;

	// Sidebars
	--sidebar-width: 260px;
	--member-height: 42px;
	--channel-height: 32px;

	// Avatars
	--avatar-size-xsm: 18px;
	--avatar-size-sm: 24px;
	--avatar-size: 28px;
	--avatar-size-lg: 45px;
	--avatar-size-xl: 64px;

	// Modals
	--backdrop: rgb(0 0 0 / 0.4);

	// Elevation
	--elevation-1: 0 8px 24px rgb(0, 0, 0, 0.15);
	--elevation-2: 0 2px 7px rgb(0, 0, 0, 0.5);

	// Status Colors
	--status-green: 40, 167, 69;
	--status-yellow: 219, 171, 9;
	--status-red: 215, 58, 73;
	--status-purple: 89, 54, 149;
	--status-grey: 117, 128, 142;
	--discord-pink: 255, 115, 250;

	// Discord colours
	--discord-spotify: 141 73% 42%;
	--discord-green: 139 47% 44%;
	--font-display: var(--font-family-sans-serif) !important;

	// Colours
	--red: 215, 58, 73;
	--green: 34, 197, 94;
	--blue: 14, 165, 233;
	--amber: 245, 158, 11;

	// Settings modal sizes
	--settings-min-height: 450px;
	--settings-max-height: 650px;
	--settings-min-width: 960px;
	--settings-max-width: 960px;

	// Other vars
	--cursor: default;
	--panel-btn-width: 39.47px;
	--panel-btn-height: 25px;
}
