#app-mount .applicationStore-1pNvnv {
  .scrollerWrap-2lJEkd:before {
    content: none;
  }
  .scroller-9moviB {
    background-color: var(--background-alt);
  }
  .detailsBlock-FoDTGA {
    background: var(--background);
    border: 1px solid var(--base-border);
  }
}