#app-mount {
    .base-3dtUhz .notice-2FJMB4 {
        width:calc(100% - var(--sidebar-width));
        margin-left:var(--sidebar-width);
        height:36px;
        +.content-98HsJk {
                .privateChannels-1nO12o {
                .searchBar-6Kv8R2,
                .scroller-1JbKMe {
                    margin-top:-36px;
                }
            }
            .header-2o-2hj,
            .scroller-2wx7Hm {
                margin-top:-36px;
            }
        }
    }
}