.horizontal-1ae9ci > .flex-1xMQg5,
.horizontal-1ae9ci > .flexChild-3PzYmX {
	margin: 0 var(--spacing);
}
.marginTop4-2JFJJI {
	margin-top: var(--spacing-half);
}
.marginBottom4-1fdMNe {
	margin-bottom: var(--spacing-half);
}
.marginTop8-24uXGp {
	margin-top: var(--spacing);
}
.marginLeft4-3VaXdt {
	margin-left: var(--spacing-half);
}
.marginLeft8-1YseBe {
	margin-left: var(--spacing);
}
.marginBottom8-emkd0_ {
	margin-bottom: var(--spacing);
}
.marginTop20-2T8ZJx {
	margin-top: var(--spacing-double);
}
.marginBottom20-315RVT {
	margin-bottom: var(--spacing-double);
}
.marginTop40-Q4o1tS {
	margin-top: calc(var(--spacing) * 4);
}
.marginBottom40-fvAlAV {
	margin-bottom: calc(var(--spacing) * 4);
}
.marginTop60-38vAjL {
	margin-top: calc(var(--spacing) * 6);
}
.marginBottom60-2XQEx8 {
	margin-bottom: calc(var(--spacing) * 6);
}
