
.horizontal-1ae9ci > .flex-1xMQg5,
.horizontal-1ae9ci > .flexChild-faoVW3 {
  margin: 0 var(--spacing);
}
.marginTop4-2BNfKC {
  margin-top: var(--spacing-half);
}
.marginBottom4-2qk4Hy {
  margin-bottom: var(--spacing-half);
}
.marginTop8-1DLZ1n {
  margin-top: var(--spacing);
}
.marginBottom8-AtZOdT {
  margin-bottom: var(--spacing);
}
.marginTop20-3TxNs6 {
  margin-top: var(--spacing-double);
}
.marginBottom20-32qID7 {
  margin-bottom: var(--spacing-double);
}
.marginTop40-i-78cZ {
  margin-top: calc(var(--spacing) * 4);
}
.marginBottom40-2vIwTv {
  margin-bottom: calc(var(--spacing) * 4);
}
.marginTop60-3PGbtK {
  margin-top: calc(var(--spacing) * 6);
}
.marginBottom60-Gs8NBA {
  margin-bottom: calc(var(--spacing) * 6);
}