#app-mount {
	.folder-2w6LX1 {
		background: transparent;
		cursor: var(--cursor);
		&.hover-vBJrIv {
			background: transparent;
		}
	}
	.expandedFolderBackground-3ZDF05 {
		background: var(--background-light);
		border-radius: var(--border-radius);
		&.collapsed-1GMuSb,
		&.collapsed-2ZrjoL {
			background: transparent;
		}
	}
}
