#app-mount .guilds-1SWlCJ {
  border-right: 1px solid var(--base-border);
  box-sizing: border-box;
  .scroller-2TZvBN {
    background: var(--guilds-background);
    contain: none;
    padding-top: var(--noasw-padding);
  }

  // Remove Active Animations
  .listItemWrapper-3X98Pc:active,
  .circleButtonMask-2VNJsN:active,
  .blobContainer-239gwq:active {
    transform:none;
  }
  // Home button
  .tutorialContainer-1v44GL .childWrapper-anI2G9 {
    background: transparent !important;
  }
  .tutorialContainer-1v44GL {
    [class*=pill] {
      display: none;
    }
    .wrapper-25eVIn {
      display: flex;
      align-items: center;
      height: var(--toolbar-height);
    }
    .listItem-2P_4kh {
      margin-bottom: 0;
    }
    .svg-1X37T1 {
      height: var(--toolbar-height);
      width: var(--server-icon-size);
      left: 50%;
      transform: translateX(-50%);
    }
    .lowerBadge-29hYVK {
      margin-bottom:5px;
    }
    .upperBadge-2XnnGB {
      top:5px;
      right:0px;
      transform:none !important;  
      .downloadProgress-3lBtPV {
        top:0;
        left:0;
        width:18px;
        height:18px;
        .circleBackgroundAlt-Eohdst {
            fill:var(--background);
        }
        .circleBackground-OqqxHM {
          fill:var(--background-light);
          stroke:var(--base-border);
        }
        .circleProgress-1EBmVn {
          stroke:var(--accent-solid);
        }
        .downloadIcon-3TWA3B {
          padding:var(--spacing-half);
          color:var(--text-normal);
          path {
            d:path($path_download);
            transform:scale(1.5);
          }
        }
      }
    }
  }
  .homeIcon-tEMBK1 {
    mask: url($icon_home) center/65% no-repeat;
    background: var(--text-normal);
    width: 100%;
    height: 100%;
    transition: 150ms ease;
    path {
      display: none;
    }
  }
  .selected-bZ3Lue .homeIcon-tEMBK1 {
    background: var(--text-focus);
  }
  .guildSeparator-3s64Iy {
    background: var(--base-border);
    height: 1px;
  }
  .childWrapper-anI2G9 {
    background: var(--background-light);
    font-size: 1em;
    font-weight: var(--font-weight-normal);
    cursor:default;
  }
  .wrapper-1BJsBx,
  .wrapper-25eVIn {
    cursor:default;
  }
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: var(--accent-solid);
    color: var(--text-focus);
  }
  .circleIconButton-jET_ig {
    background: var(--background-light);
    color: var(--text-normal);
    cursor:default;
    path[d="M21 11.001H13V3.00098H11V11.001H3V13.001H11V21.001H13V13.001H21V11.001Z"] {
      d:path($path_add);
      transform:scale(1.25) translateX(3px) translateY(2px);
    }
    &.selected-ugP_am {
      background-color: var(--accent-solid) !important;
      color: #fff;
    }
  }
  foreignObject {
    mask: none;
  }
  .expandedFolderBackground-2sPsd- {
    background: var(--background-light);
    &.collapsed-1GMuSb {
      background: transparent;
    }
  }
  .wrapper-25eVIn {
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  .expandedFolderBackground-2sPsd-,
  .folderIconWrapper-226oVY,
  .guildIcon-GuAC7C,
  .guildIconUnavailable-5PMHDN,
  .guildsError-b7zR5HX {
    border-radius: var(--border-radius);
  }
  .wrapper-sa6paO {
    height:100%;
  }
  [class*="pill"] span {
    border-radius: 0;
    max-height: 75%;
    background: var(--text-muted);
    width: 7px;
  }

  // Badges

  .iconBadge-2wi9r4,
  .unavailableBadge-3k7iq_ {
    position: absolute;
    top: 0;
    left: calc(var(--icon) * -1);
    width: var(--icon);
    height: var(--icon);
    background: rgba(0,0,0,0.6) !important;
    border-radius: 0;
    .icon-3s6X1M {
      width: 18px;
      color: var(--white);
    }
  }

  // Mention Indicators
  .unreadMentionsIndicatorBottom-BXS58x,
  .unreadMentionsIndicatorTop-gA6RCh {
    padding:0;
    .active-1SSsBb:active {
      top:0;
    }
    .bar-30k2ka {
      width:var(--container);
      border-radius:0;
      text-transform:capitalize;
      font-size:var(--font-size);
      font-weight:var(--font-weight-normal);
      background:rgb(var(--status-red));
      color:var(--white);
      cursor:default;
      opacity:0;
      &[style*="translateY(0%)"] {
        opacity:.9;
        &:hover {
          opacity:1;
        }
      }
    }
  }
  .unreadMentionsIndicatorBottom-BXS58x {
    height:auto;
    width:auto;
  }
  .unreadMentionsIndicatorTop-gA6RCh {
    top:var(--toolbar-height);
  }

  // Draggable Icon State

  .dragInner-_SHftW {
    background:var(--background);
    border-radius:var(--border-radius);
    border:1px dashed var(--base-border);
    box-sizing:border-box;
  }

  .folder-21wGz3.hover-2ji_A7 {
    background:transparent;
  }
}

.theme-light {
  #app-mount .guilds-1SWlCJ {
    .childWrapper-anI2G9,
    .circleIconButton-jET_ig {
      background:var(--background-dark);
    }
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
      color: var(--white);
    }
  }
}
