#app-mount {
	.lookFilled-yCfaCM,
	.lookInverted-2D7oAl,
	.lookLink-9FtZy-,
	.lookOutlined-3sRXeN,
	.lookGhost-2Fn_0-,
	.colorPrimary-3b3xI6.lookLink-9FtZy-,
	.bd-modal-wrapper .footer button,
	.button-f2h6uQ {
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		cursor: var(--cursor);
		min-height: var(--input-height);
		height: var(--input-height);
		line-height: normal;
		transition: none;
		box-sizing: border-box;
		padding: 0 var(--spacing);
		border-radius: var(--button-border-radius);
		.buttonIcon-1BKzBu {
			margin-right: var(--spacing-half);
		}
	}
	.lookFilled-yCfaCM:not(.colorGrey-2DXtkV),
	.bd-modal-wrapper .footer button,
	.primaryButton-361sHl {
		color: var(--white);
		background-color: rgb(var(--accent));
		margin-left: var(--spacing);
		&:hover {
			box-shadow: inset 0 0 0 100vmax rgb(255, 255, 255, 0.1);
		}
		&:focus {
			box-shadow: 0 0 0 2px rgb(var(--accent), 0.25), inset 0 0 0 100vmax rgb(255, 255, 255, 0.1);
		}
	}
	.lookLink-9FtZy- {
		padding: 0;
		color: var(--text-link);
		height: auto;
		min-height: unset;
		cursor: pointer;
		&:hover .contents-3ca1mk {
			background-image: none !important;
			text-decoration: underline;
		}
		&.reset-2ikQ30 {
			opacity: 1;
			margin: 0 !important;
		}
	}
	.secondaryButton-rBY2Kw {
		margin: 0;
	}
	.primaryButton-361sHl,
	.secondaryButton-rBY2Kw {
		flex: 0;
	}
	.colorPrimary-3b3xI6.lookLink-9FtZy-,
	.colorPrimary-3b3xI6.lookFilled-yCfaCM,
	.lookInverted-2D7oAl,
	.lookOutlined-3sRXeN,
	.secondaryButton-rBY2Kw,
	.actionButton-3-B2x-,
	.lookGhost-2Fn_0-,
	.cancelButton-1vsI8S,
	.colorGrey-2DXtkV {
		color: var(--text-normal);
		background: var(--background-light);
		border: 1px solid var(--base-border);
		box-shadow: none !important;
		cursor: var(--cursor);
		&:hover {
			border: 1px solid currentColor;
			.contents-3ca1mk {
				text-decoration: none;
			}
		}
		&:focus {
			box-shadow: 0 0 0 1px currentColor !important;
			border: 1px solid currentColor !important;
		}

		&.removeButton-v6eolJ,
		&.colorRed-1TFJan {
			color: rgb(var(--red));
		}
	}
	.premiumIcon-G_KEYC {
		margin-right: var(--spacing-third);
		height: 16px;
		width: 16px;
	}
}

// Light mode buttons
html.theme-light #app-mount {
	.colorPrimary-3b3xI6.lookLink-9FtZy-,
	.colorPrimary-3b3xI6.lookFilled-yCfaCM,
	.lookInverted-2D7oAl,
	.lookOutlined-3sRXeN,
	.lookGhost-2Fn_0-,
	.secondaryButton-rBY2Kw,
	.actionButton-3-B2x-,
	.cancelButton-1vsI8S {
		&:hover {
			background: var(--background);
			border: 1px solid var(--secondary-border);
		}
		&:focus {
			box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.05) !important;
			border: 1px solid var(--secondary-border) !important;
		}
	}
}
