#app-mount {
	.slider-1NC-Gf {
		height: var(--input-height);
		top: -5px;
		.mark-2iakCT {
			top: -8px;
			height: 28px;
			.markValue-2U_-UG {
				color: var(--text-muted);
				font-weight: var(--font-weight-normal);
				font-size: var(--font-size-sm);
			}
			.markDash-yk2kJ- {
				background: transparent;
				border-left: thin solid var(--base-border);
				border-right: thin solid var(--base-border);
				width: 1px;
			}
		}
		.bar-1Bhnl9 {
			border-radius: 50px;
			height: 4px;
			background: var(--background-dark);
			box-shadow: 0 0 0 1px var(--base-border);
			top: 50%;
			transform: translateY(-50%);
		}
		.track-1BI4CA {
			height: var(--input-height);
		}
		.barFill-2Bh7CX {
			background: var(--accent-solid);
		}
		.grabber-2GQyvM {
			background: var(--accent-solid);
			box-shadow: none;
			border: none;
			margin: 0;
			transform: translateY(-50%) translateX(-50%);
			height: 16px;
			width: 16px;
			border-radius: 50px !important;
			&:hover {
				box-shadow: inset 0 0 0 100vmax rgb(255, 255, 255, 0.1);
			}
			&:active {
				box-shadow: 0 0 0 3px rgb(var(--accent), 0.25), inset 0 0 0 100vmax rgb(255, 255, 255, 0.1);
			}
		}
	}
}
