#app-mount .modal-3O0aXp {
	font-size: var(--font-size);
	max-width: 435px !important;
	.date-1k6kG2 {
		position: absolute;
		background: var(--background);
		top: 0;
		height: 18px;
		top: 50%;
		margin-top: -9px;
	}
	.video-1FESK- {
		border-radius: var(--border-radius);
		box-shadow: var(--elevation-1);
		width: 100%;
		height: auto;
	}
	.content-s2SEQO {
		line-height: normal;
		font-size: var(--font-size);
	}
	.content-s2SEQO ul {
		margin: 0;
		li {
			margin-bottom: var(--spacing);
			color: var(--text-muted);
			text-indent: 0;
			background: var(--background-alt);
			border: 1px solid var(--base-border);
			padding: var(--spacing);
			strong {
				color: var(--text-normal);
			}
			&::before {
				content: none;
			}
		}
		a {
			color: var(--text-link);
		}
	}
	.container-1_ClKi {
		height: 500px;
	}
	.added-2hLRj3,
	.fixed-3zCC84,
	.improved-1NJK-y,
	.progress-YsDrV- {
		font-size: var(--font-size);
		font-weight: var(--font-weight-bold);
		margin-top: var(--spacing-double);
		margin-bottom: var(--spacing-half);
		&::after {
			content: none;
		}
		&.marginTop-2incQ6 {
			margin-top: var(--spacing);
		}
	}
}
