@use '../assets';

#app-mount .modalRoot-1uudbL {
	.formGroup-146LDV {
		margin-bottom: var(--spacing-double);
		&:nth-last-child(2) {
			margin: 0;
		}
	}
	.clearButton-2JoOHC {
		background: var(--text-muted);
		opacity: 1;
		mask: url(assets.$icon_close) center/10px no-repeat;
		width: 16px;
		height: 100%;
		right: var(--spacing-half);
		.clearIcon-1dWNN0 {
			display: none;
		}
		&:hover {
			background: var(--text-normal);
		}
	}
	.emojiButtonContainer-gCE6AT {
		margin-left: var(--spacing);
		.emojiButton-3FRTuj {
			cursor: var(--cursor);
			padding: 0;
			.sprite-2lxwfc {
				height: 20px;
				width: 20px;
				transform: none !important;
				filter: none !important;
				background: var(--text-muted);
				mask: url(assets.$icon_smiley_alt) center/90% no-repeat;
			}
			&:hover .sprite-2lxwfc,
			.sprite-2lxwfc[style*='grayscale(0%)'] {
				background: var(--text-normal);
			}
		}
		& + .inputWrapper-1YNMmM .input-2g-os5 {
			padding-left: calc(var(--spacing-triple) + var(--spacing));
		}
	}
	.art-2p0nYa {
		display: none;
	}
	.header-2zHCAk {
		padding-top: 0;
		align-items: flex-start;
		width: auto;
		position: relative;
		.headerText-3OXA-J {
			font-size: var(--font-size-md);
			font-weight: var(--font-weight-semibold);
			color: var(--text-normal);
			line-height: normal;
		}
	}
	.modalCloseButton-aVW6og {
		top: unset;
		right: calc(var(--spacing-double) - 6px) !important;
	}
}
