#app-mount .root_a28985 {
	.inner-ZyuQk0 {
		padding: var(--spacing);
	}
	.spacing__95897 {
		margin-bottom: var(--spacing);
	}
	.message__04d9f {
		box-shadow: none;
		background: var(--background-dark);
		border: 1px solid var(--base-border);
		padding: var(--spacing);
		box-sizing: border-box;
		.cozy_f5c119 {
			padding-bottom: 0;
			margin-top: 0;
		}
		.avatar__08316 {
			top: 0;
		}
	}
	.spacingTop__7f322.block__807da {
		display: none;
	}
}
