#app-mount .root-g14mjS {
	.inner-ZyuQk0 {
		padding: var(--spacing);
	}
	.spacing-2kYqCu {
		margin-bottom: var(--spacing);
	}
	.message-G6O-Wv {
		box-shadow: none;
		background: var(--background-dark);
		border: 1px solid var(--base-border);
		padding: var(--spacing);
		box-sizing: border-box;
		.cozy-VmLDNB {
			padding-bottom: 0;
			margin-top: 0;
		}
		.avatar-2e8lTP {
			top: 0;
		}
	}
	.spacingTop-12U95P.block-3Xiiq7 {
		display: none;
	}
}
