#app-mount .root-g14mjS .modalContent-3_WBnz {
	padding: 0 !important;
	.editingContainer-3s5xK0 {
		background: #000;
		border-radius: var(--border-radius);
		margin: var(--spacing-double);
		.overlay-4k_Q4- {
			box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
		}
	}
	.sliderContainer-1N1-Pn {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		padding: 0 var(--spacing-double);
		margin-bottom: var(--spacing-double);
		.icon-2glot6 {
			display: none;
		}
		.slider-1NC-Gf {
			top: 0;
		}
	}
}
