#app-mount .form-2CaJzg .content-rRIcam .transitionGroup-bPT0qU {
	div[style*='transform: translate'] {
		transform: none !important;
	}
	button {
		.cardIconSmall_e53701 {
			width: 24px;
			height: 16.5px;
			box-shadow: none;
			&::before,
			&::after {
				border-radius: 0;
			}
		}
		&:first-child {
			margin: 0;
		}
	}
	.inputWrapper-2MDzau,
	.cardNumberWrapper-3YhV1H {
		.cardIconSmall_e53701 {
			display: none;
		}
	}
	.row__36913 {
		padding-top: var(--spacing);
		&:first-child {
			padding-top: 0;
		}
	}
}
