@use '../assets';

#app-mount {
	.container_f03f1d {
		position: fixed;
		top: var(--titlebar-height);
		left: 0;
		width: calc(var(--noasw-base) + var(--sidebar-width));
		height: calc(100vh - var(--titlebar-height));
	}
	.quickswitcher_a3d29a {
		width: 100%;
		height: 100%;
		border-radius: 0;
		padding: 0;
		background: var(--background);
		border-right: 1px solid var(--base-border);
		box-shadow: none;
		div[style='height: 15px;'] {
			height: 1px !important;
			background: var(--base-border);
		}
		.avatarSizeOverride-sfatEO {
			border-radius: var(--border-radius);
		}
	}
	.input__848cd {
		box-sizing: border-box;
		background-color: var(--background-dark);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		height: var(--input-height);
		transform: translateZ(0);
		width: calc(100% - var(--spacing-double));
		padding: 0 var(--spacing-half);
		margin: var(--spacing);
		margin-top: calc((var(--toolbar-height) / 2) - (var(--input-height) / 2));
		margin-bottom: calc((var(--toolbar-height) / 2) - (var(--input-height) / 2));
		font-size: var(--font-size);
		box-shadow: none;
		position: relative;
		&::placeholder {
			font-size: var(--font-size);
			color: var(--text-muted);
			font-weight: var(--font-weight-normal);
		}
		&:focus {
			border: 1px solid var(--accent-solid);
			box-shadow: 0 0 0 2px rgb(var(--accent), 0.25);
			border-radius: var(--border-radius);
		}
	}
	.scroller__52ae7 {
		margin-right: 0;
		background: transparent;
		max-height: unset;
		margin-top: 0;
	}

	.content_ad5076 {
		height: calc(var(--item-height) - 4px);
		line-height: var(--line-height);
		padding: 0;
		width: 100%;
		cursor: var(--cursor);
		display: flex;
		align-items: center;
	}
	.result__25f11 {
		height: auto;
		cursor: var(--cursor);
		&.resultFocused-3aIoYe {
			background: var(--background-modifier-hover);
		}
		&:active[role='button'] {
			background: var(--background-modifier-active);
		}
		&[role='button'] {
			border-radius: 0;
			display: flex;
			align-items: center;
			height: var(--item-height);
			padding: 0 var(--spacing);
		}
	}
	.note__181ba,
	.wrapper_b8c724,
	.autocompleteQuerySymbol__3068e {
		margin-top: 0;
		text-transform: none;
		line-height: var(--line-height);
		border-radius: var(--border-radius);
		padding: var(--spacing-third) var(--spacing-half);
		color: var(--text-normal);
		background: var(--background-modifier-active);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-normal);
		box-shadow: none;
	}
	.iconContainer_e67b42 {
		margin-right: var(--spacing);
	}
	.match_a540b5 {
		color: var(--text-normal);
		margin-right: var(--spacing-half);
		font-size: var(--font-size);
	}
	.username__24792,
	.miscContainer__3e350 {
		opacity: 1;
		color: var(--text-muted);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-normal);
	}
	.misc__9152e {
		margin-left: var(--spacing);
	}
	.resultFocused-3aIoYe {
		.match_a540b5,
		.note__181ba,
		.username__24792,
		.miscContainer__3e350,
		.icon_f8a8b6 {
			color: var(--text-normal);
		}
	}
	.header_a2a437 {
		margin: 0;
		line-height: var(--line-height);
		padding: 0 var(--spacing);
		font-size: var(--font-size);
		text-transform: none;
		font-weight: var(--font-weight-semibold);
		color: var(--text-normal);
	}
	.protip__84833 {
		padding: var(--spacing);
		border-color: var(--base-border);
		background: var(--background-alt);
		.pro_db62e1 {
			display: none;
		}
		.autocompleteQuerySymbol__3068e {
			font-family: var(--font-family-monospace);
		}
		.tip__5f672 {
			color: var(--text-muted);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			opacity: 1;
		}
	}
	.emptyState_afda24 {
		flex-grow: 1;
		background: transparent;
		padding: var(--spacing);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-top: 1px solid var(--base-border);
		.emptyStateNote__331ea {
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
			color: var(--text-muted);
		}
		.emptyStateCTA_e6bca2 {
			opacity: 1;
			font-size: var(--font-size);
			font-weight: var(--font-weight-normal);
		}
		&::before {
			content: '';
			width: 280px;
			height: 140px;
			background: var(--text-muted);
			mask: url(assets.$illustration_5) center/contain no-repeat;
			margin-bottom: var(--spacing-double);
		}
	}
}
