@use '../assets';

#app-mount {
	.container_dc03c3 {
		background: var(--background);
		flex-wrap: wrap;
		&::before {
			content: 'Reactions';
			height: 50px;
			display: flex;
			align-items: center;
			padding: var(--spacing-double);
			font-size: var(--font-size-md);
			font-weight: var(--font-weight-semibold);
			color: var(--text-normal);
			width: 100%;
			box-sizing: border-box;
			border-bottom: 1px solid var(--base-border);
		}
		.reactors__20ab0 {
			background: var(--background);
			border-left: 1px solid var(--base-border);
			height: calc(100% - 50px);
			flex: 1;
			.content-2a4AW9 {
				height: auto !important;
			}
			.reactor_c2818b {
				box-shadow: none;
				margin: 0;
				padding: 0 var(--spacing);
				height: var(--item-height);
				&:hover {
					background: var(--background-modifier-hover);
				}
				&:active {
					background: var(--background-modifier-active);
				}
				.remove__6bd0e {
					cursor: var(--cursor);
					padding: 0;
					background: transparent;
					color: var(--text-muted);
					opacity: 1;
					width: 12px;
					height: 12px;
					&:hover {
						color: var(--text-normal);
					}
					path {
						d: path(assets.$path_close);
						transform: scale(2) translateY(-2px);
					}
				}
				.nickname__71187 {
					line-height: normal;
					color: var(--text-normal);
					font-weight: var(--font-weight-semibold);
				}
				.nameTag__693ff {
					line-height: normal;
					.username__29f71 {
						font-weight: var(--font-weight-semibold);
						color: var(--text-normal);
					}
					.discriminator__18879 {
						font-size: var(--font-size);
						color: var(--text-muted);
						font-weight: var(--font-weight-normal);
					}
					&.tagFaded_b91881 {
						opacity: 1;
						padding-left: var(--spacing-half);
						.username__29f71 {
							color: var(--text-muted);
							font-weight: var(--font-weight-normal);
						}
					}
				}
			}
		}
		.scroller__5fda0 {
			background: var(--background);
			padding: 0;
			width: auto;
			height: calc(100% - 50px);
			.reactionDefault__792ef,
			.reactionSelected__249a7 {
				border-radius: var(--border-radius);
				padding: var(--spacing-half) var(--spacing);
				cursor: var(--cursor);
				margin: var(--spacing);
				color: var(--text-normal);
			}
			.colorStandard-21JIj7 {
				color: inherit;
			}
			.reactionSelected__249a7 {
				background: var(--accent-solid);
				color: var(--white);
			}
			.reactionDefault__792ef:hover {
				background: transparent;
			}
			.emoji__32c91 {
				padding: 0;
				margin-right: var(--spacing);
			}
		}
	}
}
