#app-mount .uploadModal-2ie9O_ {
	box-shadow: var(--elevation-high);
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: 1px solid var(--base-border);
	box-sizing: border-box;
	position: relative;
	padding-top: 32px;
	min-height: unset;
	.inner-rBP-MS {
		margin: 0;
		padding: var(--spacing-double);
		box-sizing: border-box;
	}
	.file-163EuR {
		position: unset;
		height: auto;
	}
	.icon-HW4tZ- {
		&:not(.image-2ssF8k) {
			display: none;
		}
		&.image-2ssF8k {
			margin: 0 !important;
			width: 100% !important;
			height: auto !important;
			max-height: 60vh !important;
			background-size: cover;
			box-shadow: none;
			box-sizing: border-box;
			border: 1px solid var(--base-border);
			background-color: var(--background);
			border-radius: var(--border-radius);
			&:active {
				background-size: 100%;
			}
		}
	}
	.description-2AJi-V {
		height: auto;
		padding-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 32px;
		display: flex;
		align-items: center;
		padding: 0 var(--spacing);
		border-bottom: 1px solid var(--base-border);
		background: var(--background);
		width: 100%;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		.filename-1r50Xu {
			font-size: var(--font-size);
			font-weight: var(--font-weight-semibold);
			color: var(--text-normal);
			line-height: normal;
			height: auto;
			user-select: text;
		}
	}
	.comment-1kpwc5 {
		margin: 0;
		margin-top: var(--spacing);
		.label-21vOgf {
			font-size: var(--font-size);
			color: var(--text-normal);
			font-weight: var(--font-weight-normal);
			text-transform: none;
			margin-bottom: var(--spacing-third);
			.optional-2lmRBw {
				margin: 0;
				color: var(--text-muted);
				&::before {
					content: ' ';
				}
			}
		}
		.channelTextArea-1VQBuV {
			margin: 0;
			.inner-NQg18Y {
				background: var(--background-alt);
				.scrollableContainer-15eg7h {
					border-radius: var(--border-radius);
				}
			}
		}
	}
	.charcounter {
		font-size: var(--font-size);
		opacity: 0.5;
	}
	.footer-VCsJQY {
		background: var(--background);
		box-shadow: none;
		border-top: 1px solid var(--base-border);
		padding: var(--spacing);
		.checkboxWrapper-2fDzaA {
			flex: none;
		}
		.checkbox-f1HnKB {
			border: none;
			background: var(--background-dark);
			&.checked-1pZh2h {
				background: var(--accent-solid);
				polyline {
					stroke: #fff;
				}
			}
		}
	}
}
