#app-mount .members-1998pB .membersGroup-v9BXpm {
  padding: var(--spacing);
  height: auto;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--text-normal);
  text-transform: none;
}