#app-mount .member-3-YXUe {
  padding: 0;
  margin: 0;
  max-width: 100%;

  // Generic member entries
  .layout-2DM8Md {
    border-radius: 0;
    height: 44px;
    padding: 0 calc(var(--spacing) + 5px);
    cursor: default;
  }
  .avatar-3uk_u9 {
    margin-right: var(--spacing);
    width: var(--avatar-size-sm) !important;
    height: var(--avatar-size-sm) !important;
  }
  .name-uJV0GL {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--text-normal);
    line-height: normal;
  }
  .wrapper-3t9DeA {
    width: var(--avatar-size-sm) !important;
    height: var(--avatar-size-sm) !important;
  }
  .content-3QAtGj {
    overflow: visible;
  }
  .activity-2Gy-9S {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--text-muted);
    .icon-15YQ1T {
      margin-left:calc(var(--spacing) / 4);
    }
  }

  // Bot Tag
  .botTag-3W9SuW:not(.tag-wWVHyf) {
    font-size: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: var(--background-modifier-active);
    border-radius: var(--border-radius);
    order: -1;
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--spacing-half);
    span, svg {
      display: none;
    }
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      mask: url($icon_cog) center/12px no-repeat;
      background: var(--text-normal);
    }
  }
  &.selected-aXhQR6 {
    .activity-2Gy-9S, .roleColor-rz2vM0 {
      color: #fff !important;
    }
    .wrapper-3t9DeA {
      box-shadow:0 0 0 .5px var(--accent-solid);
      rect:not([fill="transparent"]) {
        stroke:var(--accent-solid);
      }
    }
  }

  // Placeholders
  &.placeholder-3X_lzF {
    padding: 0 var(--spacing);
    animation:none;
    .placeholderAvatar-damqh6 {
      border-radius: var(--border-radius);
      border: 1px solid var(--base-border);
      width: var(--avatar-size-sm);
      height: var(--avatar-size-sm);
      background: var(--background-dark);
    }
  }
}
.mulitplePlaceholderUsername-pogq9I,
.placeholderUsername-2B_OA9, 
.memberGroupsPlaceholder-3mwPub {
  background:var(--text-muted);
  opacity:.2;
  height:4px;
  animation:none;
  border-radius:var(--border-radius);
}