@use '../assets';

#app-mount .sidebar-1tnWFu {
	width: var(--sidebar-width);
	border-radius: 0;
	overflow: visible !important;
	display: -webkit-box;
	padding-top: var(--toolbar-height);
	background: transparent;
	.container-PNkimc {
		background: var(--background);
	}
	[class*='scroller-'] {
		background: var(--background);
		border-right: 1px solid var(--base-border);
		&::-webkit-scrollbar {
			display: none;
		}
	}
	// Channel Notifications
	.channelNotice-tO6Tus {
		border-bottom: 1px solid var(--base-border);
		box-shadow: none;
		border-right: 1px solid var(--base-border);
		background-color: var(--background-light);
		padding: var(--spacing);
		padding-top: calc(16px + var(--spacing-double));
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: none;
		&.premiumGuildSubscription-3oKecP {
			padding-top: var(--spacing);
			&::before {
				content: '';
				position: relative;
				display: block;
				width: 48px;
				height: 48px;
				margin: var(--spacing);
				background: var(--text-normal);
				mask: url(assets.$icon_rocket) center/cover no-repeat;
			}
		}
		&.publicUpsell-31ZSJ8 {
			padding-top: var(--spacing);
			&::before {
				content: '';
				position: relative;
				display: block;
				width: 48px;
				height: 48px;
				margin: var(--spacing);
				background: var(--text-normal);
				mask: url(assets.$icon_lock) center/cover no-repeat;
			}
		}
		&.quickswitcher-35bYg4 {
			padding-top: var(--spacing);
			&::before {
				content: '';
				position: relative;
				display: block;
				width: 48px;
				height: 48px;
				margin: var(--spacing);
				background: var(--text-normal);
				mask: url(assets.$icon_globe) center/cover no-repeat;
			}
		}
		.message-3KLVy1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0;
			color: var(--text-muted);
			font-size: var(--font-size);
			line-height: normal;
		}
		.btn-38SvSS {
			margin: var(--spacing) auto 0;
		}
		.close-2ISPTL {
			width: 16px;
			height: 16px;
			top: var(--spacing);
			right: var(--spacing);
			color: var(--text-muted);
			background: currentColor;
			mask: url(assets.$icon_close) center/12px no-repeat;
			path {
				display: none;
			}
			&:hover {
				color: var(--text-normal);
			}
		}
		&.invite-OjTXrW {
			background-image: none;
			&::before {
				content: '';
				position: relative;
				display: block;
				width: 75px;
				height: 80px;
				margin: var(--spacing);
				background: var(--text-normal);
				mask: url(assets.$illustration_1) center/cover no-repeat;
			}
		}
	}

	&.hidden-38rxp9 {
		display: none;
	}
}
