#app-mount .sidebar-1tnWFu {
	// Unread messages above
	.unreadTop-1DJtGv .bar-2eAyLE {
		border-bottom: 1px solid var(--base-border);
	}
	// Unread messages below
	.unreadBottom-3Ojk6R .bar-2eAyLE {
		border-top: 1px solid var(--base-border);
	}
	.unread-XRkyaQ {
		padding: 0;
		height: auto;
	}
	.bar-2eAyLE {
		border-radius: 0;
		background: var(--background-light);
		opacity: 1;
		height: auto;
		box-shadow: none;
		line-height: normal;
		padding: var(--spacing-half) 0;
		transform: none !important;
		font-size: var(--font-size);
		font-weight: var(--font-weight-semibold);
		text-transform: none;
		position: relative;
		width: 100%;
		border-right: 1px solid var(--base-border);
		box-sizing: border-box;
		&.unread-2wipsx {
			color: var(--text-normal);
		}
		&[aria-hidden='true'] {
			display: none;
		}
		&::before {
			content: none;
		}
	}
}
