#app-mount {
	.uploadArea__13687 {
		background: var(--backdrop);
	}
	.uploadDropModal__73a36 {
		height: auto;
		padding: var(--spacing-double) 0;

		.bgScale_f3a2be {
			background: var(--background);
			border-radius: var(--border-radius);
			box-shadow: var(--elevation-1);
			border: 1px solid var(--base-border);
		}
		.inner__7afe9 {
			border: none;
			border-radius: 0;
		}
		.icons_e6ef2c {
			display: none;
		}
		.instructions__9e259 pre::before {
			content: none;
		}
	}
}
