@use '../assets';

#app-mount {
	.form__13a2c {
		box-sizing: border-box;
		padding: var(--spacing) var(--spacing) var(--spacing)
			calc(var(--spacing-double) + var(--avatar-size-sm));
		border-top: 1px solid var(--base-border);
		display: flex;
		align-items: center;
		background: var(--background-light);
		height: auto;
		margin: 0;
		position: relative;
		z-index: 1;
		&::before {
			content: none;
		}
		& > div:not(.typing__6fd1d),
		[aria-controls] {
			width: 100%;
		}
		.buttonContainer__1c00c {
			margin: 0;
		}

		.divider_b9338f {
			display: none;
		}
	}

	// Notifications Form
	.wrapper_fbbb73 {
		margin: 0;
		padding: 0;
		background: transparent;
		height: calc(var(--avatar-size) - 2px);
		.content_cecbc1 {
			height: auto;
			margin: 0;
			img {
				display: none;
			}
			.title__77790 {
				font-size: var(--font-size);
				color: var(--text-normal);
				line-height: normal;
			}
			.size12-oc4dx4 {
				line-height: normal;
				color: var(--text-muted);
			}
		}
	}

	// Attach files
	.attachWrapper__6354f {
		border-right: 1px solid var(--base-border);
		width: 44px;
		button {
			mask: url(assets.$icon_attach) center/14px no-repeat;
			background: var(--text-muted);
			width: 44px;
			height: 100%;
			cursor: var(--cursor);
			margin-left: 0;
			padding: 0;
			div {
				display: none;
			}
			&:hover {
				background: var(--text-focus);
			}
		}
	}
	// No attachment
	.sansAttachButton__996a4 {
		padding-left: 0;
	}
	.channelTextArea__2e60f {
		margin-bottom: 0;
		background-color: transparent;
		box-sizing: border-box;
		margin-left: 0;
		&.highlighted__8c37f,
		.focused-PMHa7m {
			box-shadow: none;
		}
	}
	.placeholder__4bea5 {
		font-size: var(--font-size);
		padding: 0 var(--spacing);
		color: var(--text-muted);
		font-weight: var(--font-weight-normal);
		line-height: normal;
		display: flex;
		align-items: center;
		top: 0;
		width: 98%;
		min-height: 24px;
	}
	.scrollableContainer__33e06 {
		padding: 0;
		padding-left: 0;
		width: 100%;
		border-radius: 0;
		background: transparent;
		max-height: unset;
		overflow: visible;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.inner__9fd0b {
		background-color: var(--background);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		transform: translateZ(0);
		box-sizing: border-box;
		height: unset;
		&:focus-within {
			border-color: rgb(var(--accent), 1);
			box-shadow: 0 0 0 2px rgb(var(--accent), 0.25);
		}
	}
	.hasReply-16cIUP .inner__9fd0b {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}
	.textArea__74543 {
		min-height: var(--avatar-size-sm);
		height: auto;
		&.fontSize16Padding__48818 {
			padding: 4px var(--spacing);
			color: var(--text-normal);
			font-size: var(--font-size);
			line-height: normal;
			min-height: unset;
		}
	}
	.slateTextArea__0661c {
		font-size: var(--font-size);
		padding: 4px var(--spacing) 0;
		color: var(--text-normal);
		font-weight: var(--font-weight-normal);
		line-height: normal;
		top: 0;
		width: 98%;
	}
	.buttons_ce5b56 {
		height: auto;
		margin: 0;
		padding: 0 var(--spacing-half);
		.buttonWrapper__69593 {
			// display: none;
		}
		button {
			transform: scale(0.75);
			transform-origin: center right;
			margin: 0;
		}
		.emojiButton__8ff6a {
			cursor: var(--cursor);
			.sprite__294b3 {
				height: 22px;
				width: 22px;
				filter: none !important;
				transform: none !important;
				background: var(--text-muted);
				mask: url(assets.$icon_smiley_alt) center/20px no-repeat;
			}
			&:hover .sprite__294b3,
			.sprite__294b3[style*='grayscale(0%)'] {
				background: var(--text-normal);
			}
		}
	}
	.button__55e53 {
		padding: 0;
	}
	// Users typing
	.base__512ed {
		opacity: 0.65;
		position: absolute;
		left: unset;
		right: var(--spacing);
		height: var(--input-height);
		width: fit-content;
		background: var(--background);
		border: 1px solid var(--base-border);
		border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
		top: calc(var(--input-height) * -1 - 2px);
		transition: 50ms linear;
		padding: 0 var(--spacing-half);
		display: flex;
		justify-content: center;
		border-bottom: none;
		.text_ca54e9 {
			line-height: normal;
			color: var(--text-muted);
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			margin-left: 0;
			strong {
				font-weight: var(--font-weight-semibold);
				color: var(--text-normal);
			}
		}
		svg {
			display: none;
		}
		.cooldownWrapper_de448f {
			color: var(--text-normal) !important;
			font-size: var(--font-size-sm);
			line-height: normal;
			font-weight: var(--font-weight-semibold);
			&[style*='240'] {
				color: rgb(var(--status-red)) !important;
			}
		}
	}
	form:hover .base__512ed {
		opacity: 1;
		&:hover {
			opacity: 1;
		}
	}

	// Reply
	.replyBar_b64d74 {
		background: transparent;
	}
	.container__08420 {
		background: var(--background-alt);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		border: 1px solid var(--base-border);
		border-bottom: none;
		.text__6bb48 {
			margin-left: var(--spacing);
		}
	}
	.mentionButton_a470c4 {
		padding: 4px 6px;
		font-size: var(--font-size-sm);
	}
	.mentionIcon__27172 {
		width: 12px;
		height: 12px;
	}
	.separator__7538d {
		height: 26px;
		background: var(--base-border);
	}
	.closeButton__89e56 {
		padding: 4px 6px;
		svg {
			mask: url(assets.$icon_cross) center/cover;
			background: var(--text-normal);
		}
		path {
			display: none;
		}
	}

	// GIF & Gift buttons
	.buttons_ce5b56 .button_afdfd9:not(.emojiButton__8ff6a) {
		display: none;
	}

	.channelAttachmentArea-1wlgJV {
		padding: var(--spacing) 0;
		margin: 0;
	}
	.upload-3GTSF9 {
		border-radius: var(--border-radius);
		background: var(--background);
		border: 1px solid var(--base-border);
		padding: var(--spacing-half);
		min-height: 120px;
		max-height: 150px;
		min-width: 140px;
		max-width: 140px;
		box-sizing: border-box;
		padding: 0;
	}
	.imageContainer-1aUqU8 {
		margin: 0;
		padding: var(--spacing-half);
	}
	.filenameContainer-Djm-OO {
		margin: 0;
		padding: 0 var(--spacing-half) var(--spacing-half);
	}
	.filename-3PA55E {
		margin: 0;
		font-size: var(--font-size-sm);
	}
	.actionBarContainer-3l5PQn {
		position: unset;
	}
	.actionBar-3pDeKY {
		position: relative;
		transform: none;
	}
	.wrapper_c727b6 {
		border-radius: 0;
		border-top: 1px solid var(--base-border);
		background: transparent;
		box-shadow: none;
		display: flex;
		[role='button'] {
			flex: 1;
			cursor: var(--cursor);
		}
	}
}
