@use '../assets';

#app-mount {
	.wrapper__3a7a0 {
		background: var(--background);
		border-radius: var(--border-radius);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(0, 0, 0, 0.25);
			pointer-events: none;
			opacity: 0;
			transition: 250ms linear opacity;
		}
		&.wrapperPaused__19ae3::after {
			opacity: 1;
		}
		&.wrapperControlsHidden__143af {
			.metadata__2d766,
			.videoControls__96149 {
				opacity: 0;
			}
		}
		&:hover .playCenter-Fe8u3X .wrapper__5036f .icon__7f3d8 {
			opacity: 1;
		}
	}
	.playCenter-Fe8u3X {
		.iconWrapper_befcef {
			opacity: 1;
		}
		.wrapper__5036f {
			background: transparent;
			padding: 0;
			opacity: 1;
			.icon__7f3d8 {
				margin: 0;
				cursor: var(--cursor);
				width: 72px;
				height: 72px;
				background: var(--white);
				opacity: 0.65;
				margin-top: 4px;
				mask: url(assets.$icon_play) center/72px no-repeat;
				polygon {
					display: none;
				}
			}
		}
	}
	.videoControls__96149 {
		display: grid;
		grid-template-columns: auto auto 1fr auto auto;
		z-index: 1;
		padding: var(--spacing-half) var(--spacing);
		height: 38px;
		box-sizing: border-box;
		bottom: 0;
		transform: none !important;
		transition: 150ms linear opacity;
		background: transparent;
		&::after {
			content: '';
			left: 0;
			bottom: 0;
			width: 100%;
			height: 72px;
			position: absolute;
			z-index: -1;
			background: linear-gradient(0deg, rgb(0, 0, 0, 0.75), transparent);
		}
		.horizontal__3deed {
			top: calc(var(--spacing-half) * -1);
			position: absolute;
			left: var(--spacing);
			width: calc(100% - var(--spacing-double));
			display: block;
			.mediaBarInteraction__0633c,
			.mediaBarInteractionDragging__0a2ee {
				margin: 0;
				display: flex;
				align-items: center;
				&:hover,
				&:active {
					.buffer_e14781,
					.mediaBarPreview__2937c,
					.mediaBarProgress__29db2 {
						height: 5px !important;
					}
				}
				.mediaBarWrapper_f312bd {
					background: transparent;
					height: 10px;
					border-radius: 0;
					box-shadow: none;
					.mediaBarProgress__29db2 {
						background: var(--accent-solid);
					}
					.buffer_e14781,
					.mediaBarPreview__2937c,
					.mediaBarProgress__29db2 {
						height: 3px;
						top: 50%;
						transition: 150ms ease height;
						transform: translateY(-50%);
					}
					.buffer_e14781,
					.buffer_e14781::after,
					.buffer_e14781::before {
						background: var(--white);
						opacity: 0.3;
					}
				}
			}
			.mediaBarGrabber_c64ff9 {
				background: var(--accent-solid);
				transition: none;
			}
			.fakeEdges__17ee5::after,
			.fakeEdges__17ee5::before {
				content: none;
			}
		}
		.flex__909d4 {
			justify-content: space-between;
		}
		> div:last-child {
			.controlIcon__11f8e {
				margin: 0;
			}
		}
	}
	.volumeButton-2XwKVs {
		margin-left: var(--spacing);
	}
	.controlIcon__11f8e {
		margin: 0;
		height: 20px;
		width: 20px;
		color: var(--white);
		opacity: 0.65;
		cursor: var(--cursor);
		transform: none;
		&:not(:last-child) {
			margin-right: var(--spacing);
		}
		&:hover {
			color: var(--text-link);
			opacity: 1;
		}
	}
	.durationTimeWrapper_d1de6b {
		margin: 0;
		.durationTimeDisplay_acef46,
		.durationTimeSeparator__8b5d8 {
			font-weight: var(--font-weight);
			font-size: var(--font-size-sm);
			color: var(--white);
			font-family: var(--font-family-sans-serif);
			margin: 0;
			user-select: text;
			&.durationTimeSeparator__8b5d8 {
				margin: 0 var(--spacing-third);
			}
		}
	}
	.metadata__2d766 {
		padding: var(--spacing);
		top: 0;
		z-index: 10;
		height: 72px;
		transform: none !important;
		transition: 150ms ease opacity;
		background: linear-gradient(0deg, transparent, rgb(0, 0, 0, 0.75));
		.metadataName__2ae3a {
			color: var(--white);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size);
			line-height: normal;
		}
		.metadataSize__42428 {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			color: var(--white);
			opacity: 0.65;
		}
		.metadataDownload__6b32d {
			padding: 0;
			opacity: 1;
			border: none;
			background: var(--white);
			height: 18px;
			width: 18px;
			opacity: 0.75;
			mask: url(assets.$icon_download) center/18px no-repeat;
			.metadataIcon_e42be2 {
				display: none;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.metadataContent__391c4 {
		padding: 0;
	}
}
