#app-mount .baseLayer-35bLyl.animating-rRxada:not(.stop-animations) + .animating-rRxada {
  display: none;
}
#app-mount .layer-3QrUeG[aria-label*="SETTINGS"],
#app-mount .layer-3QrUeG[aria-label*="RTC"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-triple);
  background: var(--backdrop);
  z-index:1;
  top:calc(var(--titlebar-height) * -1);
  [class*="scroller-" i]:not([class*="bd-"]) {
    background: var(--background);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .customScroller-26gWhv {
    height: 65vh;
    max-height: 650px;
  }
  .standardSidebarView-3F1I7i {
    animation: modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: var(--border-radius);
    background: var(--background);
    position: relative;
    overflow: hidden;
    box-shadow: var(--elevation-2);
    width: 100%;
    min-width: 960px;
    max-width: 960px;
    height: 65vh;
    max-height: 650px;
    min-height: 400px;
    padding-top: 50px;
    top:0;
    .settingsToolbar-wu4yfQ {
      display:none; // OldTitleBar
    }
  }
}

@media only screen and (max-height: 650px) {
  #app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
    .standardSidebarView-3F1I7i {
      min-height: 500px;
    }
  }
}
