@use '../assets';

// Global icons
#app-mount .sidebar-CFHs9e .item-PXvHYJ {
  display: flex;
  align-items: center;
  &.selected-3s45Ha:before {
    background: currentColor;
  }
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--text-muted);
    display: block;
    margin-right: var(--spacing);
    mask-image: url(assets.$icon_cog);
    mask-size: 16px;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  // User settings
  &[aria-controls="My Account-tab"]:before {
    mask-image: url(assets.$icon_user);
  }
  &[aria-controls="Privacy & Safety-tab"]:before {
    mask-image: url(assets.$icon_shield);
  }
  &[aria-controls="Authorized Apps-tab"]:before {
    mask-image: url(assets.$icon_check);
  }
  &[aria-controls="Connections-tab"]:before {
    mask-image: url(assets.$icon_link);
  }
  &[aria-controls="Discord Nitro-tab"] {
    background: transparent !important;
    &:before {
      background: currentColor;
      mask-image: url(assets.$icon_discord);
    }
    &[style*="background-color: rgb(114, 137, 218)"] {
      background: rgb(114, 137, 218) !important;
    }
  }
  &[aria-controls="Nitro Server Boost-tab"] {
    color: rgba(var(--discord-pink), 1) !important;
    &:before {
      background: currentColor;
      mask-image: url(assets.$icon_nitro-gem);
    }
    &.selected-3s45Ha {
      color: var(--white) !important;
      background: rgba(var(--discord-pink), 1) !important;
    }
  }
  &[aria-controls="Library Inventory-tab"]:before {
    mask-image: url(assets.$icon_gift);
  }
  &[aria-controls="Billing-tab"]:before {
    mask-image: url(assets.$icon_credit-card);
  }
  &[aria-controls="Appearance-tab"]:before {
    mask-image: url(assets.$icon_bucket);
    mask-size: 12px;
  }
  &[aria-controls="Accessibility-tab"]:before {
    mask-image: url(assets.$icon_eye);
  }
  &[aria-controls="Voice & Video-tab"]:before {
    mask-image: url(assets.$icon_mic);
  }
  &[aria-controls="Text & Images-tab"]:before {
    mask-image: url(assets.$icon_comment);
  }
  &[aria-controls="Notifications-tab"]:before {
    mask-image: url(assets.$icon_bell);
  }
  &[aria-controls="Keybinds-tab"]:before {
    mask-image: url(assets.$icon_keyboard);
  }
  &[aria-controls="Language-tab"]:before {
    mask-image: url(assets.$icon_world);
  }
  &[aria-controls="Windows-tab"]:before {
    mask-image: url(assets.$icon_windows);
  }
  &[aria-controls="Streamer Mode-tab"]:before {
    mask-image: url(assets.$icon_video);
  }
  &[aria-controls="Advanced-tab"]:before {
    mask-image: url(assets.$icon_cpu);
  }
  &[aria-controls="Game Activity-tab"]:before {
    mask-image: url(assets.$icon_feed);
  }
  &[aria-controls="Overlay-tab"]:before {
    mask-image: url(assets.$icon_overlay);
  }
  &[aria-controls="changelog-tab"]:before {
    mask-image: url(assets.$icon_history);
  }
  &[aria-controls="Hypesquad Online-tab"] {
    color: rgba(var(--status-yellow), 1);
    &:before {
      background: currentColor;
      mask: url(assets.$icon_hypesquad) center/cover no-repeat;
    }
    &.selected-3s45Ha {
      color: var(--white);
      background: rgba(var(--status-yellow), 1);
    }
  }
  &[aria-controls="logout-tab"] {
    &:before {
      mask-image: url(assets.$icon_sign-out);
      background: rgba(var(--status-red), 1);
    }
    &[style*="background-color: rgba(240, 71, 71, 0.1)"] {
      background: transparent !important;
    }
    &[style*="background-color: rgb(240, 71, 71)"]:before {
      background: #fff !important;
    }
  }

  // Server settings
  &[aria-controls="OVERVIEW-tab"]:before {
    mask-image: url(assets.$icon_eye);
  }
  &[aria-controls="ROLES-tab"]:before {
    mask-image: url(assets.$icon_unordered-list);
  }
  &[aria-controls="EMOJI-tab"]:before {
    mask-image: url(assets.$icon_emoji);
  }
  &[aria-controls="MODERATION-tab"]:before {
    mask-image: url(assets.$icon_tools);
  }
  &[aria-controls="AUDIT_LOG-tab"]:before {
    mask-image: url(assets.$icon_history);
  }
  &[aria-controls="INTEGRATIONS-tab"]:before {
    mask-image: url(assets.$icon_link);
  }
  &[aria-controls="GUILD_TEMPLATES-tab"]:before {
    mask-image: url(assets.$icon_repo-template);
  }
  &[aria-controls="COMMUNITY-tab"]:before {
    mask-image: url(assets.$icon_share-android);
  }
  &[aria-controls="GUILD_PREMIUM-tab"] {
    &:before {
      mask-image: url(assets.$icon_zap);
      background: rgb(114, 137, 218);
    }
    &[style*="background-color: rgb(114, 137, 218)"]:before {
      background: #fff;
    }
  }
  &[aria-controls="MEMBERS-tab"]:before {
    mask-image: url(assets.$icon_people);
  }
  &[aria-controls="INSTANT_INVITES-tab"]:before {
    mask-image: url(assets.$icon_person-add);
  }
  &[aria-controls="BANS-tab"]:before {
    mask-image: url(assets.$icon_shield-x);
  }
  &[aria-controls="DELETE-tab"] {
    &:before {
      mask-image: url(assets.$icon_trashcan);
      mask-size: 12px;
      background: rgba(var(--status-red), 1);
    }
    &[style*="background-color: rgba(240, 71, 71, 0.1)"] {
      background: transparent !important;
    }
    &[style*="background-color: rgb(240, 71, 71)"]:before {
      background: #fff !important;
    }
  }
}
