// Global icons
#app-mount .layer-3QrUeG[aria-label="USER_SETTINGS"] .item-PXvHYJ {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background: currentColor;
    display: block;
    margin-right: var(--spacing);
    -webkit-mask:url($icon_cog) center/cover no-repeat;
  }

  // My account
  &:nth-child(2):before {
    mask: url($icon_user) center/cover no-repeat;
  }

  // Privacy & Safety
  &:nth-child(3):before {
    mask: url($icon_shield) center/cover no-repeat;
  }

  // Authorized Apps
  &:nth-child(4):before {
    mask: url($icon_check) center/cover no-repeat;
  }

  // Connections
  &:nth-child(5):before {
    mask: url($icon_link) center/cover no-repeat;
  }

  // Billing
  &:nth-child(6):before {
    mask: url($icon_credit-card) center/cover no-repeat;
  }
  
  // Subscriptions
  &:nth-child(8):before {
    mask: url($icon_discord) center/cover no-repeat;
  }
  	
  // Gift Inventory
  &:nth-child(9):before {
    mask: url($icon_gift) center/cover no-repeat;
  }
  	
  // Server Boost
  &:nth-child(10) {
    color: rgba(var(--discord-pink), 1);
    &:before {
      mask: url($icon_nitro-gem) center/cover no-repeat;
    }
    &.selected-3s45Ha {
      background: rgba(var(--discord-pink), 1);
    }
  }
  	
  // Hypesquad
  &:nth-child(11) {
    color: rgba(var(--status-yellow), 1);
    &:before {
      mask: url($icon_hypesquad) center/cover no-repeat;
      }
    &.selected-3s45Ha {
      background: rgba(var(--status-yellow), 1);
    }
  }
  	
  // Voice and Video
  &:nth-child(14):before {
    mask: url($icon_mic) center/cover no-repeat;
  }
}

// Windows icons
html.platform-win #app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .item-PXvHYJ {
  // Overlay
  &:nth-child(15):before {
    mask: url($icon_overlay) center/cover no-repeat;
  }
  	
  // Notifications
  &:nth-child(16):before {
    mask: url($icon_bell) center/cover no-repeat;
  }
  	
  // Keybinds
  &:nth-child(17):before {
    mask: url($icon_keyboard) center/cover no-repeat;
  }
  	
  // Game Activity
  &:nth-child(18):before {
    mask: url($icon_feed) center/cover no-repeat;
  }
  	
  // Text & Images
  &:nth-child(19):before {
    mask: url($icon_comment) center/cover no-repeat;
  }
  	
  // Appearance
  &:nth-child(20):before {
    mask: url($icon_bucket) center/12px no-repeat;
  }
  	
  // Streamer Mode
  &:nth-child(21):before {
    mask: url($icon_camera) center/cover no-repeat;
  }
  	
  // Language
  &:nth-child(22):before {
    mask: url($icon_world) center/cover no-repeat;
  }
  	
  // Windows Settings
  &:nth-child(23):before {
    mask: url($icon_windows) center/cover no-repeat;
  }
  	
  // Change Log
  &:nth-child(25):before {
    mask: url($icon_history) center/cover no-repeat;
  }
  	
  // Logout
  &:nth-child(28):before {
    mask: url($icon_sign-out) center/cover no-repeat;
    background-color: rgba(var(--status-red), 1);
  }
}

// Mac Icons
html.platform-osx #app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .item-PXvHYJ {
  // Notifications
  &:nth-child(15):before {
    mask: url($icon_bell) center/cover no-repeat;
  }
  	
  // Keybinds
  &:nth-child(16):before {
    mask: url($icon_keyboard) center/cover no-repeat;
  }
  	
  // Game Activity
  &:nth-child(17):before {
    mask: url($icon_feed) center/cover no-repeat;
  }
  	
  // Text & Images
  &:nth-child(18):before {
    mask: url($icon_comment) center/cover no-repeat;
  }
  	
  // Appearance
  &:nth-child(19):before {
    mask: url($icon_bucket) center/12px no-repeat;
  }
  	
  // Streamer Mode
  &:nth-child(20):before {
    mask: url($icon_camera) center/cover no-repeat;
  }
  	
  // Language
  &:nth-child(21):before {
    mask: url($icon_world) center/cover no-repeat;
  }
  	
  // Change Log
  &:nth-child(23):before {
    mask: url($icon_history) center/cover no-repeat;
  }
  	
  // Logout
  &:nth-child(26):before {
    mask: url($icon_sign-out) center/cover no-repeat;
    background-color: rgba(var(--status-red), 1);
  }
}

// Linux Icons
html.platform-linux #app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .item-PXvHYJ {
  // Notifications
  &:nth-child(15):before {
    mask: url($icon_bell) center/cover no-repeat;
  }
  	
  // Keybinds
  &:nth-child(16):before {
    mask: url($icon_keyboard) center/cover no-repeat;
  }
  	
  // Game Activity
  &:nth-child(17):before {
    mask: url($icon_feed) center/cover no-repeat;
  }
  	
  // Text & Images
  &:nth-child(18):before {
    mask: url($icon_comment) center/cover no-repeat;
  }
  	
  // Appearance
  &:nth-child(19):before {
    mask: url($icon_bucket) center/12px no-repeat;
  }
  	
  // Streamer Mode
  &:nth-child(20):before {
    mask: url($icon_camera) center/cover no-repeat;
  }
  	
  // Language
  &:nth-child(21):before {
    mask: url($icon_world) center/cover no-repeat;
  }
  	
  // Linux Settings
  &:nth-child(22):before {
    mask: url($icon_linux) center/14px no-repeat;
  }
  	
  // Change Log
  &:nth-child(24):before {
    mask: url($icon_history) center/cover no-repeat;
  }
  	
  // Logout
  &:nth-child(27):before {
    mask: url($icon_sign-out) center/cover no-repeat;
    background-color: rgba(var(--status-red), 1);
  }
}