#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .sidebarRegion-VFTUkN,
#app-mount .layer-3QrUeG[aria-label*="RTC"] .sidebarRegion-VFTUkN {
	flex: unset;
	z-index: 10;
	border-right: 1px solid var(--base-border);
	.sidebarRegionScroller-3MXcoP {
		flex: auto;
	}
	.sidebar-CFHs9e {
		padding: var(--spacing) 0;
		width: auto;
	}

	// Header (User settings/App settings)
	.header-2RyJ0Y {
		display: none;
	}
	.separator-gCa7yv {
		margin: var(--spacing) 0;
		border-bottom: 1px solid var(--base-border);
		height: 1px;
		background: transparent;
	}

	// Tab button
	.item-PXvHYJ {
		margin: calc(var(--spacing) / 3) var(--spacing-double);
		font-weight: var(--font-weight-normal);
		font-size: var(--font-size);
		padding: var(--spacing);
		border-radius: var(--border-radius);
		color: var(--text-normal);
		line-height: normal;
		min-width: 165px;
		cursor: var(--cursor);
		.badge-_BgAUQ {
			background: rgb(var(--status-red));
			padding: 0 var(--spacing-half);
			border-radius: var(--button-border-radius);
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			color: var(--white);
			text-transform: capitalize;
			display: flex;
			align-items: center;
			line-height: normal;
		}
		&:hover,
		&:active {
			background-color: transparent;
		}
		&.selected-3s45Ha {
			color: var(--white);
			background: rgb(var(--accent));
		}
	}

	// Socials
	.socialLinks-3jqNFy {
		padding: calc(var(--spacing) / 3) var(--spacing-double);
		margin-bottom: calc(var(--spacing) / 3);
	}
}
