#app-mount .addGamePopout-3yePJc {
	padding: var(--spacing);
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--elevation-1);
	border: 1px solid var(--base-border);
	margin-left: -150px;
	.divider-3y7HAB {
		display: none;
	}
	.actions-17LqyX {
		margin-top: var(--spacing);
	}
}
