@use '../assets';

#app-mount .container-2O1UgZ {
	box-shadow: var(--elevation-1);
	border: 1px solid var(--base-border);
	border-radius: var(--border-radius);
	background: var(--background);
	width: 220px;
	padding: 0;
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: -4px;
		margin-left: -5px;
		height: 10px;
		width: 10px;
		background: var(--background);
		transform: translateX(-50%);
		transform: rotate(-135deg);
		border-bottom: 1px solid var(--base-border);
		border-right: 1px solid var(--base-border);
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0);
		box-shadow: var(--elevation-1);
	}

	.container-2oNtJn {
		padding: var(--spacing);
	}

	.list-3cyRKU {
		margin: 0;
		padding: 0;
		border-top: 1px solid var(--base-border);
	}
	.item-1BCeuB {
		border-radius: 0;
		padding: var(--spacing);
		margin: 0;
		cursor: var(--cursor);
	}
	.itemLabel-27pirQ {
		font-size: var(--font-size);
	}
}
