#app-mount .colorPickerCustom-1swUKF {
	padding: var(--spacing);
	border-radius: var(--border-radius);
	background: var(--background);
	box-shadow: var(--elevation-1);
	border: 1px solid var(--base-border);
	width: auto;
	.saturation-CLQHFD {
		height: 150px;
		width: 200px;
	}
	.saturation-CLQHFD > div,
	.saturation-CLQHFD > div > div,
	.saturation-black {
		border-radius: var(--border-radius);
	}
	.hue-2nWTuO {
		height: 6px;
		margin: var(--spacing) 0;
		& > div > div {
			border-radius: var(--button-border-radius);
			& > div > div {
				background: var(--white) !important;
				box-shadow: none !important;
				border-radius: var(--button-border-radius) !important;
				margin: 0 !important;
				height: 16px !important;
				width: 6px !important;
				margin-top: -4px !important;
				cursor: w-resize;
			}
		}
	}
	.marginTop8-24uXGp {
		margin: 0;
	}
}
