#app-mount {
	// Native context menus
	.menu-2TXYjN,
	.submenu-3ycVEH {
		background: var(--background);
		box-shadow: var(--elevation-1);
		border: 1px solid var(--base-border);
		border-radius: var(--border-radius);
		overflow: hidden;
		.scroller-nxCRu_ {
			padding: 0;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
		.separator-12G2Op {
			margin: 0;
			border-color: var(--base-border);
		}
		.groupLabel-16o1xl {
			font-size: var(--font-size);
			color: var(--text-muted);
			font-weight: var(--font-weight-semibold);
			margin: 0;
			padding: var(--spacing-half) var(--spacing);
			box-sizing: border-box;
			height: 32px;
			text-transform: none;
		}
		.item-5ApiZt {
			font-size: var(--font-size);
			color: var(--text-normal);
			font-weight: var(--font-weight-semibold);
			margin: 0;
			padding: var(--spacing-half) var(--spacing);
			box-sizing: border-box;
			border-radius: 0;
			min-height: 32px;
			cursor: var(--cursor);

			.labelContainer-2vJzYL {
				min-height: unset;
				padding: 0 !important;
			}

			.checkbox-hADx5o {
				color: rgb(var(--accent), 1);
			}

			.labelContainer-2vJzYL {
				padding: 0 var(--spacing);
			}
			&.focused-3LIdPu {
				background: var(--background-modifier-hover);
				.checkbox-hADx5o {
					color: #fff;
				}
				.check-3HZJs4 {
					color: rgb(var(--accent), 1);
				}
			}
			&:active:not(.hideInteraction-2jPGL_) {
				background: var(--background-modifier-active);
			}
			&.colorDanger-3umuSx {
				color: rgb(var(--status-red));
			}
			&.colorBrand-26tvUE {
				color: var(--text-link);
			}
			&.hideInteraction-2jPGL_ {
				height: auto;
				padding: 0;
			}
			.iconContainer-Ksy8Oj {
				color: var(--text-muted);
				margin-left: var(--spacing);
			}

			// Fix submenu spacing
			& + .layer-2BGhQ8 {
				&[style*='left'] {
					margin-left: -4px;
				}
				&[style*='right'] {
					margin-right: -4px;
				}
			}
		}
	}

	// Instant reactions
	.wrapper--nA0oy {
		padding: 0;
		border-bottom: 1px solid var(--base-border);
		overflow: hidden;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		display: flex;
	}
	.customItem-1KYL7t {
		flex: 1;
	}
	.button-1zW0-r {
		padding: 0;
		width: 100%;
		border-radius: 0;
		background: transparent;
		cursor: var(--cursor);
		&:hover {
			background: var(--background-modifier-hover);
		}
		&:active {
			background: var(--background-modifier-active);
		}
	}
}
