#app-mount {
	.wrapper-3X0c60 {
		z-index: 20;
	}
	.root-1e2tfc {
		background: var(--background-dark);
		border: 1px solid var(--base-border);
		box-shadow: var(--elevation-1);
		border-radius: var(--border-radius);
	}
}
