$illustration_1: 'https://discordmodthemes.github.io/Slate/assets/illustrations/1.svg';

$illustration_2: "https://discordmodthemes.github.io/Slate/assets/illustrations/2.svg";

$illustration_3: 'https://discordmodthemes.github.io/Slate/assets/illustrations/3.svg';

$illustration_4: 'https://discordmodthemes.github.io/Slate/assets/illustrations/4.svg';

$illustration_5: 'https://discordmodthemes.github.io/Slate/assets/illustrations/5.svg';

$illustration_6: 'https://discordmodthemes.github.io/Slate/assets/illustrations/6.svg';

$illustration_7: 'https://discordmodthemes.github.io/Slate/assets/illustrations/8.svg';

$illustration_8: 'https://discordmodthemes.github.io/Slate/assets/illustrations/9.svg';

$illustration_9: 'https://discordmodthemes.github.io/Slate/assets/illustrations/10.svg';

$illustration_10: 'https://discordmodthemes.github.io/Slate/assets/illustrations/11.svg';

$illustration_11: 'https://discordmodthemes.github.io/Slate/assets/illustrations/12.svg';

$illustration_12: 'https://discordmodthemes.github.io/Slate/assets/illustrations/13.svg';