/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version Dev
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/Slate
 * @website https://gibbu.github.io/BetterDiscord-Themes/Slate/
*/
@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
:root {
  --accent: 3, 102, 214;
  --link-colour: 48, 144, 255;
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
}

@import 'base';

.content-column::before {
  content:'This is a developer copy of Slate and therefore will not recieve automatic updates. If you are not using this copy for active development, please visit https://discordstyles.github.io/slate-theme for a list of official downloads';
  font-size:var(--font-size);
  font-weight:var(--font-weight-normal);
  color:var(--text-normal);
  padding:var(--spacing);
  margin:var(--spacing-double);
  border-radius:var(--border-radius);
  background-color:rgba(var(--status-yellow), .25);
  border:1px solid rgba(var(--status-yellow), .5);
  line-height:normal;
}